{"openapi":"3.0.1","info":{"title":"Central Manager REST API","version":"4.41.0"},"servers":[{"url":"https://central-manager.ps.pcm.pricer-plaza.com","description":"Generated server url"}],"tags":[{"name":"Multi-Store API v2","description":"Endpoints for updating multiple stores with a single request"},{"name":"Multi-Store API v1","description":"Endpoints for updating multiple stores with a single request"},{"name":"Auth API","description":"Endpoints for authentication. The returned token must be used as Bearer Authentication to authorize all subsequent requests."},{"name":"Infra API","description":"Public infra api controller"},{"name":"Monitoring API","description":"Endpoints for get all or single store status metrics"}],"paths":{"/api/public/store-management/v1/stores/{storeId}/security-tags":{"get":{"tags":["Store-Management API V1"],"summary":"Get single store security tags based on store Uuid/externalID","description":"Central Permission Required: View Store Security tags","operationId":"getStoreSecurityTags","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}}}},"security":[{"Bearer_JWT":[]}]},"put":{"tags":["Store-Management API V1"],"summary":"Add Security tags To Store","description":"Central Permission Required: Modify Store Security Tags","operationId":"updateStoreSecurityTagsInStore","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"securityTagNames","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["Store-Management API V1"],"summary":"Add Security tag To Store","description":"Central Permission Required: Modify Store Security Tags","operationId":"addStoreSecurityTagToStore","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"securityTagName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v2/multi-store-requests/items":{"delete":{"tags":["Multi-Store API v2"],"summary":"Delete multiple items in multiple stores","description":"Delete items in one or more store with the provided list of item IDs\u003Cbr/\u003E\nReturns an id to the asynchronous delete request, which can be used to query the items result endpoint.\nLimited to 100 items per request.\n\nStore Permission Required: Modify Items","operationId":"deleteItems","parameters":[{"name":"storeIds","in":"query","description":"The list of store IDs that should delete the list of items. The store IDs can be external IDs or store UUIDs \u003Cbr/\u003E\nIf store id is not mentioned then it will update all the stores by default","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"itemIds","in":"query","description":"Item IDs to be deleted","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2MultiStoreRequestResponse"}}}}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["Multi-Store API v2"],"summary":"Update and add multiple items","description":"Updates the items in one or more stores with the provided list of items\u003Cbr/\u003E\nExisting items will be updated. New items will be added.\u003Cbr/\u003E\nOnly populated fields will be updated. null or empty fields will \u003Ci\u003Enot\u003C/i\u003E clear the corresponding field of existing items.Returns an id to the asynchronous update request, which can be used to query the items status endpoint.\n\nStore Permission Required: Modify Items","operationId":"updateItems","parameters":[{"name":"storeIds","in":"query","description":"The List of store id's to perform update item.The store id's can be external id's or the store uuid's \u003Cbr/\u003E\nIf store id is not mentioned then it will update all the stores by default","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"description":"A list of items to patch the existing list of items with.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2Item"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2MultiStoreRequestResponse"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v2/multi-store-requests/items.csv":{"patch":{"tags":["Multi-Store API v2"],"summary":"Update and add multiple items using csv","description":"Updates the items in one or more stores with the provided list of items\u003Cbr/\u003E\nExisting items will be updated. New items will be added.\u003Cbr/\u003E\nEmpty fields for defined columns will clear the corresponding field of existing items.Returns an id to the asynchronous update request, which can be used to query the items status endpoint.\n\nStore Permission Required: Modify Items\nCentral Permission Required: CSV file import","operationId":"updateItemsCsv","parameters":[{"name":"storeIds","in":"query","description":"The List of store id's to perform update item.The store id's can be external id's or the store uuid's \u003Cbr/\u003E\nIf store id is not mentioned then it will update all the stores by default","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startRowIndex","in":"query","description":"The index of the row in the csv input where the parsing of the data should start from. This is usefull if the csv starts with irrelevant information like comments or headers. Defaults to 0","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"columnDelimiter","in":"query","description":"The column delimiter in the CSV file","required":false,"schema":{"type":"string","default":","}},{"name":"arrayDelimiter","in":"query","description":"The array delimiter (used for SIC values)","required":false,"schema":{"type":"string","default":";"}},{"name":"columns","in":"query","description":"The columns in order. Defines how the CSV file should be parsed. Mandatory columns: itemId","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"description":"A list of items to patch the existing list of items with.","content":{"text/csv":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2Item"}},"example":"1,Bananas,123;2345;543,customValue1\n2,Apples,234;542;3453,customValue2\n3,Cherries,112;934;9890,customValue3\n"}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2MultiStoreRequestResponse"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v1/items":{"patch":{"tags":["Multi-Store API v1"],"summary":"Update and add multiple items","description":"Updates the items in one or more stores with the provided list of items\u003Cbr/\u003E\nExisting items will be updated. New items will be added.\u003Cbr/\u003E\nOnly populated fields will be updated. null or empty fields will \u003Ci\u003Enot\u003C/i\u003E clear the corresponding field of existing items.Returns an id to the asynchronous update request, which can be used to query the items status endpoint.\n\nStore Permission Required: Modify Items","operationId":"updateItems_1","parameters":[{"name":"storeIds","in":"query","description":"The List of store id's to perform update item.The store id's can be external id's or the store uuid's \u003Cbr/\u003E\nIf store id is not mentioned then it will update all the stores by default","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"description":"A list of items to patch the existing list of items with.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1Item"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1ItemUpdateResponse"}}}}},"deprecated":true,"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v1/items/csv":{"patch":{"tags":["Multi-Store API v1"],"summary":"Update and add multiple items using csv","description":"Updates the items in one or more stores with the provided list of items\u003Cbr/\u003E\nExisting items will be updated. New items will be added.\u003Cbr/\u003E\nEmpty fields for defined columns will clear the corresponding field of existing items.Returns an id to the asynchronous update request, which can be used to query the items status endpoint.\n\nStore Permission Required: Modify Items\nCentral Permission Required: CSV file import","operationId":"updateItemsCsv_1","parameters":[{"name":"storeIds","in":"query","description":"The List of store id's to perform update item.The store id's can be external id's or the store uuid's \u003Cbr/\u003E\nIf store id is not mentioned then it will update all the stores by default","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startRowIndex","in":"query","description":"The index of the row in the csv input where the parsing of the data should start from. This is usefull if the csv starts with irrelevant information like comments or headers. Defaults to 0","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"columnDelimiter","in":"query","description":"The column delimiter in the CSV file","required":false,"schema":{"type":"string","default":","}},{"name":"arrayDelimiter","in":"query","description":"The array delimiter (used for SIC values)","required":false,"schema":{"type":"string","default":";"}},{"name":"columns","in":"query","description":"The columns in order. Defines how the CSV file should be parsed. Mandatory columns: itemId","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"description":"A list of items to patch the existing list of items with.","content":{"text/csv":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1Item"}},"example":"1,Bananas,123;2345;543,customValue1\n2,Apples,234;542;3453,customValue2\n3,Cherries,112;934;9890,customValue3\n"}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1ItemUpdateResponse"}}}}},"deprecated":true,"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v2/multi-store-requests":{"get":{"tags":["Multi-Store API v2"],"summary":"Endpoint to list all multi store request IDs","description":"Fetches a list of all multi store request IDs.\n\nCentral Permission Required: View Multi Store Request History","operationId":"getMultiStoreRequests","parameters":[{"name":"requestType","in":"query","description":"Filter result by request type","required":false,"schema":{"type":"string","enum":["ITEM_UPDATE_V1","ITEM_UPDATE_CSV_V1","ITEM_DELETE_V1","ITEM_UPDATE_V2","ITEM_UPDATE_CSV_V2","ITEM_DELETE_V2"]}},{"name":"requestStatus","in":"query","description":"Filter result by request status","required":false,"schema":{"type":"string","enum":["COMPLETED_SUCCESSFULLY","COMPLETED_WITH_ERRORS","PENDING"]}},{"name":"minimumAgeInDays","in":"query","description":"Limit result to requests older than the number of days specified by this parameter. ","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"page","in":"query","description":"Page you want to retrieve (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"Number of records per page.","schema":{"type":"integer","default":25}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,asc|desc (ex: id,asc) Default sort order is ascending. ","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2PagedResultApiPublicMultiStoreV2MultiStoreRequestDetails"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v2/multi-store-requests/{requestId}":{"get":{"tags":["Multi-Store API v2"],"summary":"Endpoint to fetch the result/progress for a given multi store request","description":"Fetches the result/progress for a multi store request","operationId":"getMultiStoreRequest","parameters":[{"name":"requestId","in":"path","description":"The id of the multi store request to fetch the result for","required":true,"schema":{"type":"string"},"example":"00000000-0000-0000-0000-000000000000"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2MultiStoreRequest"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v2/multi-store-requests/{requestId}/original-payload":{"get":{"tags":["Multi-Store API v2"],"summary":"Endpoint to fetch the original request payload","description":"Fetches the original request payload for a given requestId","operationId":"getOriginalRequestPayload","parameters":[{"name":"requestId","in":"path","description":"The id of the multi store request to fetch the original request for","required":true,"schema":{"type":"string"},"example":"00000000-0000-0000-0000-000000000000"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}},"text/csv":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v1/request-history":{"get":{"tags":["Multi-Store API v1"],"summary":"Endpoint to list all multi store request IDs","description":"Fetches a list of all multi store request IDs.\n\nCentral Permission Required: View Multi Store Request History","operationId":"getMultiStoreRequestHistory","parameters":[{"name":"requestType","in":"query","description":"Filter result by request type","required":false,"schema":{"type":"string","enum":["ITEM_UPDATE_V1","ITEM_UPDATE_CSV_V1","ITEM_DELETE_V1","ITEM_UPDATE_V2","ITEM_UPDATE_CSV_V2","ITEM_DELETE_V2"]}},{"name":"page","in":"query","description":"Page you want to retrieve (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"Number of records per page.","schema":{"type":"integer","default":25}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,asc|desc (ex: id,asc) Default sort order is ascending. ","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1PagedResultApiPublicMultiStoreV1MultiStoreRequestDetails"}}}}},"deprecated":true,"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v1/request-history/{requestId}":{"get":{"tags":["Multi-Store API v1"],"summary":"Endpoint to fetch the original request payload","description":"Fetches the original request payload for a given requestId","operationId":"getOriginalRequestPayload_1","parameters":[{"name":"requestId","in":"path","description":"The id of the multi store request to fetch the original request for","required":true,"schema":{"type":"string"},"example":"00000000-0000-0000-0000-000000000000"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}},"text/csv":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}},"deprecated":true,"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v1/items-result/{requestId}":{"get":{"tags":["Multi-Store API v1"],"summary":"Endpoint to fetch results of item update requests","description":"Fetches the result of an update request specified by update item statusRequestId","operationId":"itemStatus","parameters":[{"name":"requestId","in":"path","description":"The id of the item update request to fetch results for","required":true,"schema":{"type":"string"},"example":"00000000-0000-0000-0000-000000000000"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1ItemUpdateResultResponse"}}}}},"deprecated":true,"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v1/items-delete-result/{requestId}":{"get":{"tags":["Multi-Store API v1"],"summary":"Endpoint to fetch results of item delete requests","description":"Fetches the result of an delete request specified by delete item statusRequestId","operationId":"deleteItemStatus","parameters":[{"name":"requestId","in":"path","description":"The id of the item delete request to fetch results for","required":true,"schema":{"type":"string"},"example":"00000000-0000-0000-0000-000000000000"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1ItemDeleteResultResponse"}}}}},"deprecated":true,"security":[{"Bearer_JWT":[]}]}},"/api/public/monitoring/v1/store-metrics":{"get":{"tags":["Monitoring API"],"summary":"Get all stores status metrics","description":"Returns all store if user has View All Stores central permission, otherwise returns store where user has any store permission","operationId":"getAllStoreMetrics","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicMonitoringV1StoreMetrics"}}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/monitoring/v1/store-metrics/{storeId}":{"get":{"tags":["Monitoring API"],"summary":"Get single store status metrics based on store Uuid/externalID","description":"Permission Required: View All Stores central permission or any store permission for the given storeId","operationId":"getStoreMetrics","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMonitoringV1StoreMetrics"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/infra/v1/transceivers":{"get":{"tags":["Infra API"],"summary":"Get all transceivers for the supplied storeIds","description":"Store Permission Required: View Infrastructure Configuration and Execute API REST","operationId":"getTransceivers","parameters":[{"name":"storeIds","in":"query","description":"The List of store id's to get transceivers from. The store id's can be external id's or the store uuid's.\u003Cbr/\u003E\nIf the store id's are not mentioned then it will fetch transceivers from all the stores by default","required":false,"schema":{"type":"array","items":{"type":"string"},"default":[]}},{"name":"status","in":"query","description":"Optional status to filter on, can be OK, FAULTY and PENDING","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page you want to retrieve (0..N)","content":{"*/*":{"schema":{"type":"integer","default":"0"}}}},{"name":"size","in":"query","description":"Number of records per page.","content":{"*/*":{"schema":{"type":"integer","default":"25"}}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicInfraPagedResultApiPublicInfraTransceiverResponse"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/infra/v1/basestations":{"get":{"tags":["Infra API"],"summary":"Get all basestations for the supplied storeIds","description":"Store Permission Required: View Infrastructure Configuration and Execute API REST","operationId":"getBasestations","parameters":[{"name":"storeIds","in":"query","description":"The List of store id's to get basestations from. The store id's can be external id's or the store uuid's.\u003Cbr/\u003E\nIf the store id's are not mentioned then it will fetch basestations from all the stores by default","required":false,"schema":{"type":"array","items":{"type":"string"},"default":[]}},{"name":"status","in":"query","description":"Optional status to filter on, can be OK, FAULTY and PENDING","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page you want to retrieve (0..N)","content":{"*/*":{"schema":{"type":"integer","default":"0"}}}},{"name":"size","in":"query","description":"Number of records per page.","content":{"*/*":{"schema":{"type":"integer","default":"25"}}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicInfraPagedResultApiPublicInfraBasestationResponse"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/auth/v1/refresh":{"get":{"tags":["Auth API"],"summary":"Refresh your token to extend the expiry time","description":"Refresh is used to extend the token expiry time without having to login again. Must be used to not store user credentials on the client.","operationId":"refresh","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicAuthV1AccessToken"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/public/auth/v1/login":{"get":{"tags":["Auth API"],"summary":"Get a token using Basic Authentication","description":"Login must be called to get a token to authorize subsequent requests. The token will be valid for 4 hours and must be refreshed before it expires to keep the user/client logged in. This is the only endpoint protected with Basic Authentication. After a successful login - Bearer Authentication is used together with the returned token.","operationId":"login","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicAuthV1AccessToken"}}}}},"security":[{"Basic_Auth":[]}]}},"/api/public/auth/v1/auth0-token-exchange":{"get":{"tags":["Auth API"],"summary":"Get a token from an Auth0 access token","description":"Login by exchanging an Auth0 access token for a PCS token.","operationId":"auth0Login","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicAuthV1AccessToken"}}}}},"security":[{"Auth0_Access_Token":[]}]}},"/api/public/store-management/v1/stores/{storeId}/security-tags/{securityTagName}":{"delete":{"tags":["Store-Management API V1"],"summary":"Remove Security tag From Store","description":"Central Permission Required: Modify Store Security Tags","operationId":"deleteStoreSecurityTagFromStore","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"securityTagName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/public/multi-store/v1/items/{itemId}":{"delete":{"tags":["Multi-Store API v1"],"summary":"Delete a single item in multiple stores","description":"Delete an item in one or more stores with the provided item ID\u003Cbr/\u003E\nReturns an id to the asynchronous delete request, which can be used to query the delete items result endpoint.\n\nStore Permission Required: Modify Items","operationId":"deleteItem","parameters":[{"name":"storeIds","in":"query","description":"The list of store IDs that should delete this item. The store IDs can be external IDs or store UUIDs \u003Cbr/\u003E\nIf store id is not mentioned then it will update all the stores by default","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"itemId","in":"path","description":"Item ID to be deleted","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1ItemDeleteResponse"}}}}},"deprecated":true,"security":[{"Bearer_JWT":[]}]}}},"components":{"schemas":{"ApiPublicMultiStoreV2Item":{"type":"object","properties":{"itemId":{"type":"string"},"itemName":{"type":"string"},"price":{"type":"string"},"itemGroup":{"type":"string"},"department":{"type":"string"},"presentation":{"type":"string"},"validFrom":{"type":"string"},"sics":{"type":"array","items":{"type":"string"}},"properties":{"type":"object","additionalProperties":{"type":"string"}}},"description":"Representation of an item"},"ApiPublicMultiStoreV2MultiStoreRequestResponse":{"type":"object","properties":{"requestId":{"type":"string","description":"The item update request id. Used as input to the item-result endpoint"}},"description":"A class wrapping the id of an item update request"},"ApiPublicMultiStoreV1Item":{"type":"object","properties":{"itemId":{"type":"string"},"itemName":{"type":"string"},"price":{"type":"string"},"itemGroup":{"type":"string"},"department":{"type":"string"},"presentation":{"type":"string"},"validFrom":{"type":"string"},"sics":{"type":"array","items":{"type":"string"}},"properties":{"type":"object","additionalProperties":{"type":"string"}}},"description":"Representation of an item"},"ApiPublicMultiStoreV1ItemUpdateResponse":{"type":"object","properties":{"requestId":{"type":"string","description":"The item update request id. Used as input to the item-result endpoint"}},"description":"A class wrapping the id of an item update request"},"ApiPublicMultiStoreV2MultiStoreRequestDetails":{"type":"object","properties":{"requestId":{"type":"string","description":"The multi store request ID"},"requestType":{"type":"string","description":"The multi store request type","enum":["ITEM_UPDATE_V1","ITEM_UPDATE_CSV_V1","ITEM_DELETE_V1","ITEM_UPDATE_V2","ITEM_UPDATE_CSV_V2","ITEM_DELETE_V2"]},"requestReceived":{"type":"string","description":"Date when this request was first received","format":"date-time"},"requestCompleted":{"type":"string","description":"Date when this request was completed","format":"date-time"},"requestStatus":{"type":"string","description":"The multi store request status","enum":["COMPLETED_SUCCESSFULLY","COMPLETED_WITH_ERRORS","PENDING"]}},"description":"A class containing details about a multi store request"},"ApiPublicMultiStoreV2PagedResultApiPublicMultiStoreV2MultiStoreRequestDetails":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"currentIndex":{"type":"integer","format":"int32"},"elements":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2MultiStoreRequestDetails"}}}},"ApiPublicMultiStoreV2MultiStoreRequest":{"type":"object","properties":{"requestId":{"type":"string","description":"The multi store request ID"},"requestType":{"type":"string","description":"The multi store request type","enum":["ITEM_UPDATE_V1","ITEM_UPDATE_CSV_V1","ITEM_DELETE_V1","ITEM_UPDATE_V2","ITEM_UPDATE_CSV_V2","ITEM_DELETE_V2"]},"requestReceived":{"type":"string","description":"Date when this request was first received","format":"date-time"},"requestCompleted":{"type":"string","description":"Date when this request was completed","format":"date-time"},"requestStatus":{"type":"string","description":"The multi store request status","enum":["COMPLETED_SUCCESSFULLY","COMPLETED_WITH_ERRORS","PENDING"]},"storeRequests":{"type":"array","description":"List of store requests","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV2StoreRequest"}}},"description":"A class containing details about a multi store request"},"ApiPublicMultiStoreV2StoreRequest":{"type":"object","properties":{"storeUuid":{"type":"string","description":"The store UUID this request belongs to"},"storeExternalId":{"type":"string","description":"The external store ID"},"storeRequestId":{"type":"integer","description":"The store request ID. Can be used to fetch detailed request result from the store","format":"int64"},"lastRequestSentAttempt":{"type":"string","format":"date-time"},"numFailedRequestSentAttempts":{"type":"integer","format":"int32"},"lastResponseFetchedAttempt":{"type":"string","format":"date-time"},"numFailedResponseFetchedAttempts":{"type":"integer","format":"int32"},"requestStatus":{"type":"string","enum":["PENDING_NOT_STARTED","PENDING_SENDING_REQUEST_TO_STORE","FAILED_TO_SEND_REQUEST_TO_STORE","PENDING_WAITING_FOR_REQUEST_TO_COMPLETE","FAILED_TO_COMPLETE_REQUEST","COMPLETED","COMPLETED_SUCCESSFULLY","COMPLETED_WITH_ITEM_ERRORS"]},"detailedStoreResultLink":{"type":"string"}},"description":"A class containing details about a store request"},"StreamingResponseBody":{"type":"object"},"ApiPublicMultiStoreV1MultiStoreRequestDetails":{"type":"object","properties":{"requestId":{"type":"string","description":"The multi store request ID"},"requestType":{"type":"string","description":"The multi store request type","enum":["ITEM_UPDATE_V1","ITEM_UPDATE_CSV_V1","ITEM_DELETE_V1","ITEM_UPDATE_V2","ITEM_UPDATE_CSV_V2","ITEM_DELETE_V2"]},"requestReceived":{"type":"string","description":"Date when this request was first received","format":"date-time"},"requestCompleted":{"type":"string","description":"Date when this request was completed","format":"date-time"}},"description":"A class containing details about a multi store request"},"ApiPublicMultiStoreV1PagedResultApiPublicMultiStoreV1MultiStoreRequestDetails":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"currentIndex":{"type":"integer","format":"int32"},"elements":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1MultiStoreRequestDetails"}}}},"ApiPublicMultiStoreV1ItemUpdateResultResponse":{"type":"object","properties":{"status":{"type":"string","description":"The overall status of the item update request process","enum":["COMPLETED","IN_PROGRESS","WAITING_FOR_STORE_RESPONSES"]},"stores":{"type":"array","description":"A list of status entries on store level","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1ItemUpdateStoreResult"}}},"description":"A class containing the response to an item update status request"},"ApiPublicMultiStoreV1ItemUpdateStoreResult":{"type":"object","properties":{"storeUuid":{"type":"string"},"externalId":{"type":"string"},"status":{"type":"string","description":"The status of the item delete/update process respective to the store","enum":["COMPLETED","IN_PROGRESS","ITEM_DELETE_FAILURE","ITEM_UPDATE_FAILURE","STATUS_FETCH_FAILURE"]},"itemsResultRequestId":{"type":"integer","description":"The item request Id respective to the store. Used as input to the result endpoint in the respective store","format":"int64"},"itemsResultLink":{"type":"string","description":"The link to fetch detailed results of update/delete item "}},"description":"A list of status entries on store level"},"ApiPublicMultiStoreV1ItemDeleteResultResponse":{"type":"object","properties":{"status":{"type":"string","description":"The overall status of the item delete request process","enum":["COMPLETED","IN_PROGRESS","WAITING_FOR_STORE_RESPONSES"]},"stores":{"type":"array","description":"A list of status entries on store level","items":{"$ref":"#/components/schemas/ApiPublicMultiStoreV1ItemUpdateStoreResult"}}},"description":"A class containing the response to an item delete status request"},"ApiPublicMonitoringV1EslMetrics":{"type":"object","properties":{"totalNumESLs":{"type":"integer","format":"int32"},"totalNumESLsInWaitingForUpdate":{"type":"integer","format":"int32"},"totalNumESLsInRoaming":{"type":"integer","format":"int32"},"totalNumESLsWithLowBattery":{"type":"integer","format":"int32"}},"description":"The ESL status of the store"},"ApiPublicMonitoringV1InfraMetrics":{"type":"object","properties":{"totalNumBasestations":{"type":"integer","format":"int32"},"totalNumErrorBasestations":{"type":"integer","format":"int32"},"totalNumBasestationsWithErrorTransceivers":{"type":"integer","format":"int32"},"totalNumTranceivers":{"type":"integer","format":"int32"},"totalNumErrorTranceivers":{"type":"integer","format":"int32"},"totalAllocatedNumTranceivers":{"type":"integer","format":"int32"}},"description":"The infra status of the store"},"ApiPublicMonitoringV1IntegrationMetrics":{"type":"object","properties":{"messageFilename":{"type":"string"},"lastImportStart":{"type":"string","format":"date-time"},"lastImportEnd":{"type":"string","format":"date-time"},"eslsAffected":{"type":"integer","format":"int64"},"itemUpdates":{"type":"integer","format":"int64"},"eslsOk":{"type":"integer","format":"int64"}},"description":"The integration status of the store"},"ApiPublicMonitoringV1ItemMetrics":{"type":"object","properties":{"numberOfItems":{"type":"integer","format":"int32"},"linkedItems":{"type":"integer","format":"int32"}},"description":"The item status of the store"},"ApiPublicMonitoringV1JobDetails":{"type":"object","properties":{"name":{"type":"string"},"status":{"type":"string"},"type":{"type":"string"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"}}},"ApiPublicMonitoringV1JobMetrics":{"type":"object","properties":{"totalNumSucceeded":{"type":"integer","format":"int32"},"totalNumFailure":{"type":"integer","format":"int32"},"totalNumCancelled":{"type":"integer","format":"int32"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicMonitoringV1JobDetails"}}},"description":"The scheduled job status of the store"},"ApiPublicMonitoringV1StoreMetrics":{"type":"object","properties":{"uuid":{"type":"string"},"externalId":{"type":"string"},"name":{"type":"string"},"healthStatus":{"type":"string","description":"The communication/health status of the store","enum":["UP","DOWN","NOT_REACHABLE"]},"infraStatus":{"$ref":"#/components/schemas/ApiPublicMonitoringV1InfraMetrics"},"eslStatus":{"$ref":"#/components/schemas/ApiPublicMonitoringV1EslMetrics"},"integrationStatus":{"$ref":"#/components/schemas/ApiPublicMonitoringV1IntegrationMetrics"},"itemStatus":{"$ref":"#/components/schemas/ApiPublicMonitoringV1ItemMetrics"},"jobStatus":{"$ref":"#/components/schemas/ApiPublicMonitoringV1JobMetrics"}}},"ApiPublicInfraPagedResultApiPublicInfraTransceiverResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"currentIndex":{"type":"integer","format":"int32"},"elements":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicInfraTransceiverResponse"}}}},"ApiPublicInfraTransceiverResponse":{"type":"object","properties":{"storeUuid":{"type":"string"},"externalID":{"type":"string"},"basestationName":{"type":"string"},"port":{"type":"integer","format":"int32"},"type":{"type":"string"},"hardwareId":{"type":"string"},"softwareId":{"type":"string"},"status":{"type":"string"}}},"ApiPublicInfraBasestationResponse":{"type":"object","properties":{"storeUuid":{"type":"string"},"externalID":{"type":"string"},"name":{"type":"string"},"alias":{"type":"string"},"address":{"type":"string"},"hardwareId":{"type":"string"},"softwareId":{"type":"string"},"status":{"type":"string"},"transceivers":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicInfraTransceiver"}}}},"ApiPublicInfraPagedResultApiPublicInfraBasestationResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"currentIndex":{"type":"integer","format":"int32"},"elements":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicInfraBasestationResponse"}}}},"ApiPublicInfraTransceiver":{"type":"object","properties":{"basestationName":{"type":"string"},"port":{"type":"integer","format":"int32"},"type":{"type":"string"},"hardwareId":{"type":"string"},"softwareId":{"type":"string"},"status":{"type":"string"}}},"ApiPublicAuthV1AccessToken":{"type":"object","properties":{"tokenType":{"type":"string"},"token":{"type":"string"}}},"ApiPublicMultiStoreV1ItemDeleteResponse":{"type":"object","properties":{"requestId":{"type":"string","description":"The delete item request id. Used as input to the items-delete-result endpoint"}},"description":"A class wrapping the id of an item delete request"}},"securitySchemes":{"Basic_Auth":{"type":"http","scheme":"basic"},"Bearer_JWT":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"Auth0_Access_Token":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}