{"openapi":"3.0.1","info":{"title":"Central Manager REST API","version":"4.41.0"},"servers":[{"url":"https://central-manager.ps.pcm.pricer-plaza.com","description":"Generated server url"}],"paths":{"/api/private/web/stores/{storeUuid}/timezone":{"put":{"tags":["web-store-controller"],"summary":"Update StoreTimezone","description":"Central Permission Required: Modify Stores","operationId":"updateStoreTimezone","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"timezone","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/store-size":{"put":{"tags":["web-store-controller"],"summary":"Update StoreSize","description":"Central Permission Required: Modify Stores","operationId":"updateStoreSize","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"value","in":"query","required":true,"schema":{"type":"string","enum":["XS","S","M","L","XL"]}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/store-name":{"put":{"tags":["web-store-controller"],"summary":"Update StoreName","description":"Central Permission Required: Modify Stores","operationId":"updateStoreName","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"storeName","in":"query","required":true,"schema":{"maxLength":255,"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/store-address":{"put":{"tags":["web-store-controller"],"summary":"Update StoreAddress","description":"Central Permission Required: Modify Stores","operationId":"updateStoreAddress","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebAddressRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/reference-store-enabled":{"put":{"tags":["web-store-controller"],"summary":"Set ReferenceStore Enabled","description":"Central Permission Required: Modify Stores","operationId":"setReferenceStoreEnabled","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"enabled","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/monitoring-enabled":{"put":{"tags":["web-store-controller"],"summary":"Set MonitoringEnabled","description":"Central Permission Required: Modify Stores","operationId":"setMonitoringEnabled","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"enabled","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/external-id":{"put":{"tags":["web-store-controller"],"summary":"Update StoreExternalId","description":"Central Permission Required: Modify Stores","operationId":"updateStoreExternalId","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"externalId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/reference-store/{storeUuid}":{"put":{"tags":["web-store-group-controller"],"summary":"Map Reference Store to Store Group","description":"Central Permission Required: Manage configuration from store","operationId":"mapReferenceStore","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users":{"get":{"tags":["web-user-controller"],"summary":"Get Users","description":"Central Permission Required: View Users and Groups","operationId":"getUsers","parameters":[{"name":"filterAssigned","in":"query","description":"Filter users already assigned to roles","required":false,"schema":{"type":"boolean","default":false}},{"name":"username","in":"query","description":"Username you want to filter from all users"},{"name":"firstName","in":"query","description":"First name you want to filter from all users"},{"name":"lastName","in":"query","description":"Last name you want to filter from all users"},{"name":"email","in":"query","description":"email you want to filter from all users"},{"name":"matchFull","in":"query","description":"if any of the query strings should be fully matched","schema":{"type":"boolean"}},{"name":"page","in":"query","description":"Page you want to retrieve (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"Number of records per page.","schema":{"type":"integer","default":25}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,asc|desc (ex: id,asc) Default sort order is ascending. ","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebPagedResultApiPrivateWebUser"}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-controller"],"summary":"Create User","description":"Central Permission Required: Modify Users and Groups","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCreateUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUser"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/{userId}/store-roles/{storeUuid}":{"get":{"tags":["web-user-controller"],"summary":"Get User Store Roles For Store","description":"Central Permission Required: View Users and Groups","operationId":"getUserStoreRolesForStore","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRoleDetails"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-controller"],"summary":"Add User Store Role For Store","description":"Central Permission Required: Modify Role Assignments","operationId":"addUserStoreRoleForStore","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"storeRoleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/{userId}/global-store-roles":{"get":{"tags":["web-user-controller"],"summary":"Get Global Store Roles From User","description":"Central Permission Required: View Users and Groups","operationId":"getGlobalStoreRolesForUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRoleDetails"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-controller"],"summary":"Add Store Role Globally To User","description":"Central Permission Required: Modify Role Assignments","operationId":"addStoreRoleGloballyToUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeRoleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/{userId}/change-password":{"post":{"tags":["web-user-controller"],"summary":"Change UserPassword","description":"Central Permission Required: Modify Users and Groups or the User ID is yours","operationId":"changeUserPassword","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/{userId}/central-roles":{"get":{"tags":["web-user-controller"],"summary":"Get Central Roles For User","description":"Central Permission Required: View Users and Groups","operationId":"getCentralRolesForUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebCentralRoleDetails"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-controller"],"summary":"Add Central Role To User","description":"Central Permission Required: Modify Role Assignments","operationId":"addCentralRoleToUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"centralRoleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups":{"get":{"tags":["web-user-group-controller"],"summary":"Get UserGroups","description":"Central Permission Required: View Users and Groups","operationId":"getUserGroups","parameters":[{"name":"name","in":"query","description":"Filter by group name","required":false,"schema":{"type":"string"}},{"name":"filterAssigned","in":"query","description":"Filter on assigned group only","required":false,"schema":{"type":"boolean","default":false}},{"name":"page","in":"query","description":"Page you want to retrieve (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"Number of records per page.","schema":{"type":"integer","default":25}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,asc|desc (ex: id,asc) Default sort order is ascending. ","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebPagedResultApiPrivateWebUserGroup"}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-group-controller"],"summary":"Create UserGroup","description":"This API is used to create local user groups and service/external connection based groups. The request property serviceUserGroup is redundant when creating service/external connection groups as it's decided based on connection. \n\nCentral Permission Required: Modify Users and Groups","operationId":"createUserGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCreateUserGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUserGroup"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/users":{"get":{"tags":["web-user-group-controller"],"summary":"Get UsersInUserGroup","description":"Central Permission Required: View Users and Groups","operationId":"getUsersInUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebUserDetails"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-group-controller"],"summary":"Add UserToUserGroup","description":"Central Permission Required: Modify Users and Groups","operationId":"addUserToUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/store-roles/{storeUuid}":{"get":{"tags":["web-user-group-controller"],"summary":"Get UserGroupStoreRolesForStore","description":"Central Permission Required: View Users and Groups","operationId":"getUserGroupStoreRolesForStore","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRoleDetails"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-group-controller"],"summary":"Add UserGroupStoreRoleForStore","description":"Central Permission Required: Modify Role Assignments","operationId":"addUserGroupStoreRoleForStore","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"storeRoleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/ref-store-roles":{"post":{"tags":["web-user-group-controller"],"summary":"Add StoreRoleToReferenceStore-UserGroup","description":"Central Permission Required: Modify Role Assignments","operationId":"addRefStoreRoleToUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeRoleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/global-store-roles":{"get":{"tags":["web-user-group-controller"],"summary":"Get GlobalStoreRolesInUserGroup","description":"Central Permission Required: View Users and Groups","operationId":"getGlobalStoreRolesInUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRoleDetails"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-group-controller"],"summary":"Add StoreRoleGloballyToUserGroup","description":"Central Permission Required: Modify Role Assignments","operationId":"addStoreRoleGloballyToUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeRoleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/central-roles":{"get":{"tags":["web-user-group-controller"],"summary":"Get CentralRolesInUserGroup","description":"Central Permission Required: View Users and Groups","operationId":"getCentralRolesInUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebCentralRoleDetails"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-user-group-controller"],"summary":"Add CentralRoleToUserGroup","description":"Central Permission Required: Modify Role Assignments","operationId":"addCentralRoleToUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"centralRoleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores":{"get":{"tags":["web-store-controller"],"summary":"Get Stores","description":"Central Permission Required: View All Stores Or View My Stores","operationId":"getStores","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStore"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-store-controller"],"summary":"Create Store","description":"Central Permission Required: Modify Stores","operationId":"createStore","parameters":[{"name":"forcedStoreUuid","in":"query","required":false,"schema":{"type":"string"}},{"name":"imageTag","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCreateStoreRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStore"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/stop":{"post":{"tags":["web-store-controller"],"summary":"Stop store","description":"Store Permission Required: Execute Start and Stop Store","operationId":"stopStore","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/start":{"post":{"tags":["web-store-controller"],"summary":"Start store","description":"Store Permission Required: Execute Start and Stop Store","operationId":"startStore","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-roles":{"get":{"tags":["web-store-role-controller"],"summary":"Get StoreRoles","description":"Central Permission Required: View Roles","operationId":"getStoreRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-store-role-controller"],"summary":"Create StoreRole","description":"Central Permission Required: Modify Roles","operationId":"createStoreRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebSaveStoreRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-roles/{storeRoleId}/permissions":{"get":{"tags":["web-store-role-controller"],"summary":"Get StoreRolePermissions","description":"Central Permission Required: View Roles","operationId":"getStoreRolePermissions","parameters":[{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["EXECUTE_START_AND_STOP_STORE","EXECUTE_LINK_AND_UNLINK_LABELS","VIEW_REPORTS","VIEW_MANAGE_IR_KEY","VIEW_LABEL_CONFIGURATION","MODIFY_LABEL_CONFIGURATION","VIEW_SEARCH","VIEW_PRINT","MODIFY_PRINT_CONFIGURATION","VIEW_STATUS","MODIFY_CLOUD_CONFIGURATION","VIEW_GEO_CONFIGURATION","MODIFY_GEO_CONFIGURATION","EXECUTE_ADVANCED_FUNCTIONS","EXECUTE_CONFIGURATION_EXPORT","VIEW_VERSION_INFORMATION","MODIFY_INFRASTRUCTURE_CONFIGURATION","VIEW_INFRASTRUCTURE_CONFIGURATION","VIEW_ITEM_CONFIGURATION","MODIFY_ITEM_CONFIGURATION","MODIFY_JOB_CONFIGURATION","MODIFY_PDA_CONFIGURATION","MODIFY_STORE_CONFIGURATION","MODIFY_WEB_PAGE_CONFIGURATION","VIEW_GENERAL_SETTINGS","MODIFY_GENERAL_SETTINGS","VIEW_GLOBAL_PARAMETERS","MODIFY_GLOBAL_PARAMETERS","EXECUTE_LANGUAGES","EXECUTE_LICENSES","MODIFY_LOG_SETTINGS","MODIFY_ALERT_SETTINGS","VIEW_SYSTEM_PARAMETERS","MODIFY_SYSTEM_PARAMETERS","MODIFY_ARTICLE_GROUPS","VIEW_STATUS_SYSTEM","MODIFY_MANAGE_LABEL_REPORTS","EXECUTE_API_SOAP","MODIFY_FILES","VIEW_ITEMS","MODIFY_ITEMS","VIEW_ALERT","MODIFY_ALERT","VIEW_LABELS","MODIFY_FINGERPRINT","EXECUTE_FLASH_LABEL","SMART_APP","API_REST","EXECUTE_SHELF_VISION","EXECUTE_LINK_CAMERA","EXECUTE_API_REST_PFI","MODIFY_SMARTPOSTER_LINKS","MODIFY_SMARTPOSTER_DESIGNER","VIEW_WEBHOOK_CONFIGURATION","MODIFY_WEBHOOK_CONFIGURATION","EXECUTE_CLICK_AND_COLLECT","MODIFY_BACKOFFICE"]}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-store-role-controller"],"summary":"Add PermissionToStoreRole","description":"Central Permission Required: Modify Roles","operationId":"addPermissionToStoreRole","parameters":[{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storePermission","in":"query","required":true,"schema":{"type":"string","enum":["EXECUTE_START_AND_STOP_STORE","EXECUTE_LINK_AND_UNLINK_LABELS","VIEW_REPORTS","VIEW_MANAGE_IR_KEY","VIEW_LABEL_CONFIGURATION","MODIFY_LABEL_CONFIGURATION","VIEW_SEARCH","VIEW_PRINT","MODIFY_PRINT_CONFIGURATION","VIEW_STATUS","MODIFY_CLOUD_CONFIGURATION","VIEW_GEO_CONFIGURATION","MODIFY_GEO_CONFIGURATION","EXECUTE_ADVANCED_FUNCTIONS","EXECUTE_CONFIGURATION_EXPORT","VIEW_VERSION_INFORMATION","MODIFY_INFRASTRUCTURE_CONFIGURATION","VIEW_INFRASTRUCTURE_CONFIGURATION","VIEW_ITEM_CONFIGURATION","MODIFY_ITEM_CONFIGURATION","MODIFY_JOB_CONFIGURATION","MODIFY_PDA_CONFIGURATION","MODIFY_STORE_CONFIGURATION","MODIFY_WEB_PAGE_CONFIGURATION","VIEW_GENERAL_SETTINGS","MODIFY_GENERAL_SETTINGS","VIEW_GLOBAL_PARAMETERS","MODIFY_GLOBAL_PARAMETERS","EXECUTE_LANGUAGES","EXECUTE_LICENSES","MODIFY_LOG_SETTINGS","MODIFY_ALERT_SETTINGS","VIEW_SYSTEM_PARAMETERS","MODIFY_SYSTEM_PARAMETERS","MODIFY_ARTICLE_GROUPS","VIEW_STATUS_SYSTEM","MODIFY_MANAGE_LABEL_REPORTS","EXECUTE_API_SOAP","MODIFY_FILES","VIEW_ITEMS","MODIFY_ITEMS","VIEW_ALERT","MODIFY_ALERT","VIEW_LABELS","MODIFY_FINGERPRINT","EXECUTE_FLASH_LABEL","SMART_APP","API_REST","EXECUTE_SHELF_VISION","EXECUTE_LINK_CAMERA","EXECUTE_API_REST_PFI","MODIFY_SMARTPOSTER_LINKS","MODIFY_SMARTPOSTER_DESIGNER","VIEW_WEBHOOK_CONFIGURATION","MODIFY_WEBHOOK_CONFIGURATION","EXECUTE_CLICK_AND_COLLECT","MODIFY_BACKOFFICE"]}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups":{"post":{"tags":["web-store-group-controller"],"summary":"Create StoreGroup","description":"Central Permission Required: Modify Store Groups","operationId":"createStoreGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCreateStoreGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroup"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/stores":{"post":{"tags":["web-store-group-controller"],"summary":"Move Store","description":"Central Permission Required: Modify Stores","operationId":"moveStore","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"sourceStoreUuid","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/reference-store/{storeUuid}/configuration.prc":{"post":{"tags":["web-store-group-controller"],"summary":"Upload And Install Configuration to Reference Store","description":"Central Permission Required: Manage configuration from file","operationId":"uploadAndInstallConfigurationToReferenceStore","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["configuration"],"type":"object","properties":{"configuration":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/fonts":{"get":{"tags":["web-store-group-controller"],"summary":"Get all fonts","description":"Fetches all fonts metadata (without the actual fonts data). \n\nCentral Permission Required: Modify Store Groups","operationId":"getFonts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebFont"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-store-group-controller"],"summary":"Upload a font","description":"Central Permission Required: Modify Store Groups","operationId":"uploadFonts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"fontFile":{"type":"string","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/configuration-install":{"post":{"tags":["web-store-group-controller"],"summary":"Install Configuration","description":"Central Permission Required: Install uploaded configuration","operationId":"installConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/onprem-store-pairing-requests":{"post":{"tags":["web-onprem-store-pairing-request-controller"],"summary":"Create On-prem Store Pairing Request","description":"Central Permission Required: Modify Stores","operationId":"createOnpremStorePairingRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCreateOnpremStorePairingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebOnpremStorePairingRequest"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/central-roles":{"get":{"tags":["web-central-role-controller"],"summary":"Get CentralRoles","description":"Central Permission Required: View Roles","operationId":"getCentralRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebCentralRole"}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-central-role-controller"],"summary":"Create CentralRole","description":"Central Permission Required: Modify Roles","operationId":"createCentralRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebSaveCentralRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCentralRole"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/central-roles/{centralRoleId}/permissions":{"get":{"tags":["web-central-role-controller"],"summary":"Get CentralRolePermissions","description":"Central Permission Required: View Roles","operationId":"getCentralRolePermissions","parameters":[{"name":"centralRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["VIEW_USERS_AND_GROUPS","MODIFY_USERS_AND_GROUPS","VIEW_MY_STORES","VIEW_STORES","MODIFY_STORES","MODIFY_STORE_GROUPS","VIEW_ROLES","VIEW_ASSIGNMENTS","MODIFY_ROLES","MODIFY_ASSIGNMENTS","VIEW_SYSTEM_INFO","VIEW_API_DOCS","VIEW_MONITORING","MODIFY_MONITORING","MANAGE_CONFIGURATION_FROM_STORE","MANAGE_CONFIGURATION_FROM_FILE","INSTALL_CONFIGURATION","CSV_IMPORT","MODIFY_STORE_TYPE","VIEW_MULTI_STORE_REQUEST_HISTORY","REMOVE_MULTI_STORE_REQUEST_HISTORY","VIEW_STORE_SECURITY_TAGS","MODIFY_STORE_SECURITY_TAGS","MODIFY_SYSTEM_NOTIFICATION"]}}}}}},"security":[{"Bearer_JWT":[]}]},"post":{"tags":["web-central-role-controller"],"summary":"Add PermissionToCentralRole","description":"Central Permission Required: Modify Roles","operationId":"addPermissionToCentralRole","parameters":[{"name":"centralRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"centralPermission","in":"query","required":true,"schema":{"type":"string","enum":["VIEW_USERS_AND_GROUPS","MODIFY_USERS_AND_GROUPS","VIEW_MY_STORES","VIEW_STORES","MODIFY_STORES","MODIFY_STORE_GROUPS","VIEW_ROLES","VIEW_ASSIGNMENTS","MODIFY_ROLES","MODIFY_ASSIGNMENTS","VIEW_SYSTEM_INFO","VIEW_API_DOCS","VIEW_MONITORING","MODIFY_MONITORING","MANAGE_CONFIGURATION_FROM_STORE","MANAGE_CONFIGURATION_FROM_FILE","INSTALL_CONFIGURATION","CSV_IMPORT","MODIFY_STORE_TYPE","VIEW_MULTI_STORE_REQUEST_HISTORY","REMOVE_MULTI_STORE_REQUEST_HISTORY","VIEW_STORE_SECURITY_TAGS","MODIFY_STORE_SECURITY_TAGS","MODIFY_SYSTEM_NOTIFICATION"]}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/authenticate/logout":{"post":{"tags":["web-authentication-controller"],"summary":"logout","operationId":"logout","responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/notification/v1/notifications":{"post":{"tags":["Notification API v1"],"summary":"Add a new Notification message","description":"Central Permission Required: Modify System Notification message","operationId":"addNotificationMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateNotificationV1CreateNotificationRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]},"delete":{"tags":["Notification API v1"],"summary":"Delete all Notifications","description":"Central Permission Required: Modify System Notification message","operationId":"deleteNotificationMessage","responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/{userId}":{"get":{"tags":["web-user-controller"],"summary":"Get User","description":"Central Permission Required: View Users and Groups","operationId":"getUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUser"}}}}},"security":[{"Bearer_JWT":[]}]},"delete":{"tags":["web-user-controller"],"summary":"Delete User","description":"Central Permission Required: Modify Users and Groups","operationId":"deleteUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["web-user-controller"],"summary":"Update User","description":"Central Permission Required: Modify Users and Groups or the User ID is yours","operationId":"updateUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUpdateUserRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}":{"get":{"tags":["web-user-group-controller"],"summary":"Get UserGroup","description":"Central Permission Required: View Users and Groups","operationId":"getUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUserGroup"}}}}},"security":[{"Bearer_JWT":[]}]},"delete":{"tags":["web-user-group-controller"],"summary":"Delete UserGroup","description":"Central Permission Required: Modify Users and Groups","operationId":"deleteUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["web-user-group-controller"],"summary":"Update UserGroup","description":"Central Permission Required: Modify Users and Groups","operationId":"updateUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUpdateUserGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/central-monitor-settings":{"get":{"tags":["web-store-monitoring-controller"],"summary":"Get StoreMonitoringSettings","description":"Central Permission Required: View Monitoring","operationId":"getStoreMonitoringSettings","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreSettingsResponse"}}}}}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["web-store-monitoring-controller"],"summary":"Update StoreMonitoringSettings","description":"Central Permission Required: Modify Monitoring","operationId":"updateStoreGroupMonitoringSettings","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreSettingsRequest"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-roles/{storeRoleId}":{"get":{"tags":["web-store-role-controller"],"summary":"Get StoreRole","description":"Central Permission Required: View Roles","operationId":"getStoreRole","parameters":[{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}}}}},"security":[{"Bearer_JWT":[]}]},"delete":{"tags":["web-store-role-controller"],"summary":"Delete Role","description":"Central Permission Required: Modify Roles","operationId":"deleteRole","parameters":[{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["web-store-role-controller"],"summary":"Update StoreRole","description":"Central Permission Required: Modify Roles","operationId":"updateStoreRole","parameters":[{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUpdateStoreRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}":{"get":{"tags":["web-store-group-controller"],"summary":"Get StoreGroup","description":"Central Permission Required: View My Stores Or View All Stores","operationId":"getStoreGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroup"}}}}},"security":[{"Bearer_JWT":[]}]},"delete":{"tags":["web-store-group-controller"],"summary":"Delete StoreGroup","description":"Central Permission Required: Modify Store Groups","operationId":"deleteStoreGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["web-store-group-controller"],"summary":"Update StoreGroup","description":"Central Permission Required: Modify Store Groups","operationId":"updateStoreGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUpdateStoreGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/central-monitor-store-settings":{"get":{"tags":["web-store-group-monitoring-controller"],"summary":"Get StoreGroupMonitoringStoreSettings","description":"Central Permission Required: View Monitoring","operationId":"getStoreGroupMonitoringStoreSettings","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreSettingsResponse"}}}}}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["web-store-group-monitoring-controller"],"summary":"Update StoreGroupMonitoringStoreSettings","description":"Central Permission Required: Modify Monitoring","operationId":"updateStoreGroupMonitoringStoreSettings","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreSettingsRequest"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/central-monitor-settings":{"get":{"tags":["web-store-group-monitoring-controller"],"summary":"Get StoreGroupMonitoringSettings","description":"Central Permission Required: View Monitoring","operationId":"getStoreGroupMonitoringSettings","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroupSettingResponse"}}}}}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["web-store-group-monitoring-controller"],"summary":"Update StoreGroupMonitoringSettings","description":"Central Permission Required: Modify Monitoring","operationId":"updateStoreGroupMonitoringSettings_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreGroupSettingRequest"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/central-roles/{centralRoleId}":{"get":{"tags":["web-central-role-controller"],"summary":"Get CentralRole","description":"Central Permission Required: View Roles","operationId":"getCentralRole","parameters":[{"name":"centralRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCentralRole"}}}}},"security":[{"Bearer_JWT":[]}]},"delete":{"tags":["web-central-role-controller"],"summary":"Delete CentralRole","description":"Central Permission Required: Modify Roles","operationId":"deleteCentralRole","parameters":[{"name":"centralRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]},"patch":{"tags":["web-central-role-controller"],"summary":"Update CentralRole","description":"Central Permission Required: Modify Roles","operationId":"updateCentralRole","parameters":[{"name":"centralRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUpdateCentralRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCentralRole"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/current":{"get":{"tags":["web-user-controller"],"summary":"Get LoggedInUser","operationId":"getLoggedInUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUserExtended"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/current/store-permissions/{storeUuid}":{"get":{"tags":["web-user-controller"],"summary":"Get all store permissions for current user","operationId":"getAllStorePermissionsForCurrentUser","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["EXECUTE_START_AND_STOP_STORE","EXECUTE_LINK_AND_UNLINK_LABELS","VIEW_REPORTS","VIEW_MANAGE_IR_KEY","VIEW_LABEL_CONFIGURATION","MODIFY_LABEL_CONFIGURATION","VIEW_SEARCH","VIEW_PRINT","MODIFY_PRINT_CONFIGURATION","VIEW_STATUS","MODIFY_CLOUD_CONFIGURATION","VIEW_GEO_CONFIGURATION","MODIFY_GEO_CONFIGURATION","EXECUTE_ADVANCED_FUNCTIONS","EXECUTE_CONFIGURATION_EXPORT","VIEW_VERSION_INFORMATION","MODIFY_INFRASTRUCTURE_CONFIGURATION","VIEW_INFRASTRUCTURE_CONFIGURATION","VIEW_ITEM_CONFIGURATION","MODIFY_ITEM_CONFIGURATION","MODIFY_JOB_CONFIGURATION","MODIFY_PDA_CONFIGURATION","MODIFY_STORE_CONFIGURATION","MODIFY_WEB_PAGE_CONFIGURATION","VIEW_GENERAL_SETTINGS","MODIFY_GENERAL_SETTINGS","VIEW_GLOBAL_PARAMETERS","MODIFY_GLOBAL_PARAMETERS","EXECUTE_LANGUAGES","EXECUTE_LICENSES","MODIFY_LOG_SETTINGS","MODIFY_ALERT_SETTINGS","VIEW_SYSTEM_PARAMETERS","MODIFY_SYSTEM_PARAMETERS","MODIFY_ARTICLE_GROUPS","VIEW_STATUS_SYSTEM","MODIFY_MANAGE_LABEL_REPORTS","EXECUTE_API_SOAP","MODIFY_FILES","VIEW_ITEMS","MODIFY_ITEMS","VIEW_ALERT","MODIFY_ALERT","VIEW_LABELS","MODIFY_FINGERPRINT","EXECUTE_FLASH_LABEL","SMART_APP","API_REST","EXECUTE_SHELF_VISION","EXECUTE_LINK_CAMERA","EXECUTE_API_REST_PFI","MODIFY_SMARTPOSTER_LINKS","MODIFY_SMARTPOSTER_DESIGNER","VIEW_WEBHOOK_CONFIGURATION","MODIFY_WEBHOOK_CONFIGURATION","EXECUTE_CLICK_AND_COLLECT","MODIFY_BACKOFFICE"]}}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/current-all-roles":{"get":{"tags":["web-user-controller"],"summary":"Get AllRolesFromUserContext","description":"Central Permission Required: View Roles","operationId":"getAllRolesFromUserContext","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebUserRoles"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/ref-store-roles/":{"get":{"tags":["web-user-group-controller"],"summary":"Get StoreRolesInReferenceStore-UserGroup","description":"Central Permission Required: View Users and Groups","operationId":"getRefStoreRolesInUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRoleDetails"}}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/system/version":{"get":{"tags":["web-system-controller"],"summary":"Get Central Manager Version","operationId":"getCentralManagerVersion","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCentralManagerInfo"}}}}},"deprecated":true,"security":[{"Bearer_JWT":[]}]}},"/api/private/web/system/timezone":{"get":{"tags":["web-system-controller"],"summary":"List all Time Zones","operationId":"listTimeZones","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/system/store-deployment-groups":{"get":{"tags":["web-system-controller"],"summary":"Get Store Deployment Group Details","description":"Central Permission Required: View System Info Or View All Stores","operationId":"getStoreDeploymentGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStoreDeploymentGroupDetails"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/system/internal-address":{"get":{"tags":["web-system-controller"],"summary":"Get InternalAddress","description":"Central Permission Required: View System Info","operationId":"getInternalAddress","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/system/info":{"get":{"tags":["web-system-controller"],"summary":"Get Central Manager Info","operationId":"getCentralManagerInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCentralManagerInfo"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/system/features":{"get":{"tags":["web-system-controller"],"summary":"Get Features","operationId":"getFeatures","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebCentralManagerFeatures"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}":{"get":{"tags":["web-store-controller"],"summary":"Get Store","description":"Central Permission Required: View All Stores Or View My Stores","operationId":"getStore","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStore"}}}}},"security":[{"Bearer_JWT":[]}]},"delete":{"tags":["web-store-controller"],"summary":"Delete Store","description":"Central Permission Required: Modify Stores","operationId":"deleteStore","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/stores/{storeUuid}/status":{"get":{"tags":["web-store-monitoring-controller"],"summary":"Get StoreStatus","description":"Central Permission Required: View Monitoring","operationId":"getStoreStatus","parameters":[{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStoreMonitoringStatus"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{referenceStoreUuid}/configuration-mapped":{"get":{"tags":["web-store-group-controller"],"summary":"Get StoreGroup with reference store configurations","description":"Central Permission Required: View My Stores Or View All Stores","operationId":"getStoreGroupsWithReferenceStore","parameters":[{"name":"referenceStoreUuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroup"}}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/status":{"get":{"tags":["web-store-group-monitoring-controller"],"summary":"Get StoreGroupStatus","description":"Central Permission Required: View All Stores Or View My Stores","operationId":"getStoreGroupStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroupStatusResponse"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/fonts/{fileName}":{"get":{"tags":["web-store-group-controller"],"summary":"Download a font","description":"Central Permission Required: Modify Store Groups","operationId":"downloadFont","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"Bearer_JWT":[]}]},"delete":{"tags":["web-store-group-controller"],"summary":"Delete a font","description":"Central Permission Required: Modify Store Groups","operationId":"deleteFonts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fileName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-groups/{id}/configuration.prc":{"get":{"tags":["web-store-group-controller"],"summary":"Download Configuration","description":"Central Permission Required: Manage configuration from file","operationId":"downloadConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/permissions/store-permissions":{"get":{"tags":["web-permission-controller"],"summary":"Get StorePermissions","description":"Central Permission Required: View Roles","operationId":"getStorePermissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebPermissionResponse"}}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/permissions/central-permissions":{"get":{"tags":["web-permission-controller"],"summary":"Get CentralPermissions","description":"Central Permission Required: View Roles","operationId":"getCentralPermissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebPermissionResponse"}}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/notification/v1/notifications/latest":{"get":{"tags":["Notification API v1"],"summary":"Get Latest Notification message","operationId":"getLatestNotification","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateNotificationV1Notification"}}}}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/{userId}/store-roles/{storeUuid}/{storeRoleId}":{"delete":{"tags":["web-user-controller"],"summary":"Delete User Store Role For Store","description":"Central Permission Required: Modify Role Assignments","operationId":"deleteUserStoreRoleForStore","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/{userId}/global-store-roles/{storeRoleId}":{"delete":{"tags":["web-user-controller"],"summary":"Delete Global Store Role From User","description":"Central Permission Required: Modify Role Assignments","operationId":"deleteStoreRoleGloballyFromUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/users/{userId}/central-roles/{centralRoleId}":{"delete":{"tags":["web-user-controller"],"summary":"Delete Central Role From User","description":"Central Permission Required: Modify Role Assignments","operationId":"deleteCentralRoleFromUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"centralRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/users/{userId}":{"delete":{"tags":["web-user-group-controller"],"summary":"Remove UserFromUserGroup","description":"Central Permission Required: Modify Users and Groups","operationId":"removeUserFromUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/store-roles/{storeUuid}/{storeRoleId}":{"delete":{"tags":["web-user-group-controller"],"summary":"Delete UserGroupStoreRoleForStore","description":"Central Permission Required: Modify Role Assignments","operationId":"deleteUserGroupStoreRoleForStore","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/ref-store-roles/{storeRoleId}":{"delete":{"tags":["web-user-group-controller"],"summary":"Delete StoreRoleToReferenceStore-UserGroup","description":"Central Permission Required: Modify Role Assignments","operationId":"deleteRefStoreRoleFromUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/global-store-roles/{storeRoleId}":{"delete":{"tags":["web-user-group-controller"],"summary":"Delete StoreRoleGloballyFromUserGroup","description":"Central Permission Required: Modify Role Assignments","operationId":"deleteStoreRoleGloballyFromUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/user-groups/{userGroupId}/central-roles/{centralRoleId}":{"delete":{"tags":["web-user-group-controller"],"summary":"Delete CentralRoleFromUserGroup","description":"Central Permission Required: Modify Role Assignments","operationId":"deleteCentralRoleFromUserGroup","parameters":[{"name":"userGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"centralRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/store-roles/{storeRoleId}/permissions/{storePermission}":{"delete":{"tags":["web-store-role-controller"],"summary":"Remove PermissionFromStoreRole","description":"Central Permission Required: Modify Roles","operationId":"removePermissionFromStoreRole","parameters":[{"name":"storeRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"storePermission","in":"path","required":true,"schema":{"type":"string","enum":["EXECUTE_START_AND_STOP_STORE","EXECUTE_LINK_AND_UNLINK_LABELS","VIEW_REPORTS","VIEW_MANAGE_IR_KEY","VIEW_LABEL_CONFIGURATION","MODIFY_LABEL_CONFIGURATION","VIEW_SEARCH","VIEW_PRINT","MODIFY_PRINT_CONFIGURATION","VIEW_STATUS","MODIFY_CLOUD_CONFIGURATION","VIEW_GEO_CONFIGURATION","MODIFY_GEO_CONFIGURATION","EXECUTE_ADVANCED_FUNCTIONS","EXECUTE_CONFIGURATION_EXPORT","VIEW_VERSION_INFORMATION","MODIFY_INFRASTRUCTURE_CONFIGURATION","VIEW_INFRASTRUCTURE_CONFIGURATION","VIEW_ITEM_CONFIGURATION","MODIFY_ITEM_CONFIGURATION","MODIFY_JOB_CONFIGURATION","MODIFY_PDA_CONFIGURATION","MODIFY_STORE_CONFIGURATION","MODIFY_WEB_PAGE_CONFIGURATION","VIEW_GENERAL_SETTINGS","MODIFY_GENERAL_SETTINGS","VIEW_GLOBAL_PARAMETERS","MODIFY_GLOBAL_PARAMETERS","EXECUTE_LANGUAGES","EXECUTE_LICENSES","MODIFY_LOG_SETTINGS","MODIFY_ALERT_SETTINGS","VIEW_SYSTEM_PARAMETERS","MODIFY_SYSTEM_PARAMETERS","MODIFY_ARTICLE_GROUPS","VIEW_STATUS_SYSTEM","MODIFY_MANAGE_LABEL_REPORTS","EXECUTE_API_SOAP","MODIFY_FILES","VIEW_ITEMS","MODIFY_ITEMS","VIEW_ALERT","MODIFY_ALERT","VIEW_LABELS","MODIFY_FINGERPRINT","EXECUTE_FLASH_LABEL","SMART_APP","API_REST","EXECUTE_SHELF_VISION","EXECUTE_LINK_CAMERA","EXECUTE_API_REST_PFI","MODIFY_SMARTPOSTER_LINKS","MODIFY_SMARTPOSTER_DESIGNER","VIEW_WEBHOOK_CONFIGURATION","MODIFY_WEBHOOK_CONFIGURATION","EXECUTE_CLICK_AND_COLLECT","MODIFY_BACKOFFICE"]}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/web/central-roles/{centralRoleId}/permissions/{centralPermission}":{"delete":{"tags":["web-central-role-controller"],"summary":"Remove PermissionFromCentralRole","description":"Central Permission Required: Modify Roles","operationId":"removePermissionFromCentralRole","parameters":[{"name":"centralRoleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"centralPermission","in":"path","required":true,"schema":{"type":"string","enum":["VIEW_USERS_AND_GROUPS","MODIFY_USERS_AND_GROUPS","VIEW_MY_STORES","VIEW_STORES","MODIFY_STORES","MODIFY_STORE_GROUPS","VIEW_ROLES","VIEW_ASSIGNMENTS","MODIFY_ROLES","MODIFY_ASSIGNMENTS","VIEW_SYSTEM_INFO","VIEW_API_DOCS","VIEW_MONITORING","MODIFY_MONITORING","MANAGE_CONFIGURATION_FROM_STORE","MANAGE_CONFIGURATION_FROM_FILE","INSTALL_CONFIGURATION","CSV_IMPORT","MODIFY_STORE_TYPE","VIEW_MULTI_STORE_REQUEST_HISTORY","REMOVE_MULTI_STORE_REQUEST_HISTORY","VIEW_STORE_SECURITY_TAGS","MODIFY_STORE_SECURITY_TAGS","MODIFY_SYSTEM_NOTIFICATION"]}}],"responses":{"200":{"description":"OK"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/multi-store/v2/multi-store-requests":{"delete":{"tags":["Multi-Store API v2"],"summary":"Endpoint for deleting multiple multi store requests","description":"Delete multi store requests matching the specified parameters","operationId":"deleteMultiStoreRequests","parameters":[{"name":"requestStatuses","in":"query","description":"Filter result by request status","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["COMPLETED_SUCCESSFULLY","COMPLETED_WITH_ERRORS","PENDING"]}}},{"name":"minimumAgeInDays","in":"query","description":"Limit deletion to requests older than the number of days specified by this parameter. Default is 0, which in practice means ALL requests are to be deleted, regardless of how old they are","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer_JWT":[]}]}},"/api/private/multi-store/v2/multi-store-requests/{requestId}":{"delete":{"tags":["Multi-Store API v2"],"summary":"Endpoint to delete a given multi store request","operationId":"deleteMultiStoreRequest","parameters":[{"name":"requestId","in":"path","description":"The id of the multi store request to delete","required":true,"schema":{"type":"string"},"example":"00000000-0000-0000-0000-000000000000"}],"responses":{"204":{"description":"No Content"}},"security":[{"Bearer_JWT":[]}]}}},"components":{"schemas":{"ApiPrivateWebAddressRequest":{"required":["latitude","longitude","streetAddress"],"type":"object","properties":{"streetAddress":{"type":"string"},"state":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"zipCode":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"ApiPrivateWebCreateUserRequest":{"required":["password"],"type":"object","properties":{"username":{"pattern":"^([a-z0-9!$%&'*+-/=?^_`{|}~.]{1,50})$","type":"string"},"password":{"maxLength":255,"minLength":3,"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"serviceUser":{"type":"boolean"}}},"ApiPrivateWebUser":{"type":"object","properties":{"id":{"type":"integer","format":"int64","readOnly":true},"username":{"pattern":"^([a-z0-9!#$%&'*+-/=?^_`{|}~.@]{1,50})$","type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"latestLogin":{"type":"string","format":"date-time","readOnly":true},"serviceUser":{"type":"boolean","readOnly":true},"type":{"type":"string","readOnly":true},"connection":{"type":"string","readOnly":true},"externalUserId":{"type":"string","readOnly":true},"centralPermissions":{"type":"array","readOnly":true,"items":{"type":"string","readOnly":true,"enum":["VIEW_USERS_AND_GROUPS","MODIFY_USERS_AND_GROUPS","VIEW_MY_STORES","VIEW_STORES","MODIFY_STORES","MODIFY_STORE_GROUPS","VIEW_ROLES","VIEW_ASSIGNMENTS","MODIFY_ROLES","MODIFY_ASSIGNMENTS","VIEW_SYSTEM_INFO","VIEW_API_DOCS","VIEW_MONITORING","MODIFY_MONITORING","MANAGE_CONFIGURATION_FROM_STORE","MANAGE_CONFIGURATION_FROM_FILE","INSTALL_CONFIGURATION","CSV_IMPORT","MODIFY_STORE_TYPE","VIEW_MULTI_STORE_REQUEST_HISTORY","REMOVE_MULTI_STORE_REQUEST_HISTORY","VIEW_STORE_SECURITY_TAGS","MODIFY_STORE_SECURITY_TAGS","MODIFY_SYSTEM_NOTIFICATION"]}},"userGroupIds":{"type":"array","readOnly":true,"items":{"type":"integer","format":"int64","readOnly":true}},"centralRoles":{"type":"array","items":{"$ref":"#/components/schemas/CentralRoleDetails"}},"globalStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/StoreRoleDetails"}},"storeRoles":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/StoreRoleDetails"}}}}},"CentralRoleDetails":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"StoreRoleDetails":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"ApiPrivateWebChangePasswordRequest":{"required":["newPassword"],"type":"object","properties":{"newPassword":{"type":"string"}}},"ApiPrivateWebCreateUserGroupRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":50,"minLength":1,"type":"string"},"connection":{"type":"string"},"serviceUserGroup":{"type":"boolean"}}},"ApiPrivateWebCentralRoleDetails":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"ApiPrivateWebStoreRoleDetails":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"ApiPrivateWebUserDetails":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"latestLogin":{"type":"string","format":"date-time"},"serviceUser":{"type":"boolean"},"connection":{"type":"string"}}},"ApiPrivateWebUserGroup":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"connection":{"type":"string"},"serviceUserGroup":{"type":"boolean"},"users":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebUserDetails"}},"centralRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebCentralRoleDetails"}},"globalStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRoleDetails"}},"refStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRoleDetails"}},"storeRoles":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRoleDetails"}}}}},"ApiPrivateWebCreateStoreRequest":{"required":["name","storeGroupId"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"storeGroupId":{"type":"integer","description":"Store Group Id","format":"int64","example":1},"storeSize":{"pattern":"^(XS|S|M|L|XL)","type":"string"},"externalId":{"type":"string"},"storeTimezone":{"type":"string"},"referenceStore":{"type":"boolean"},"storeAddress":{"$ref":"#/components/schemas/ApiPrivateWebAddressRequest"}}},"ApiPrivateWebStore":{"type":"object","properties":{"storeUuid":{"type":"string"},"name":{"type":"string"},"storeGroupName":{"type":"string"},"storeGroupId":{"type":"integer","format":"int64"},"lastSuccessfulPingReceived":{"type":"string","format":"date-time"},"lastSuccessfulPingSent":{"type":"string","format":"date-time"},"configurationChecksum":{"type":"string"},"configurationStatus":{"type":"string","enum":["NOT_UPLOADED","UPLOADED","APPLIED","FAILED"]},"wantedConfigurationChecksum":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"storeSize":{"type":"string","enum":["XS","S","M","L","XL"]},"storeAddress":{"$ref":"#/components/schemas/ApiPrivateWebStoreAddress"},"externalId":{"type":"string"},"storeTimezone":{"type":"string"},"publicAddress":{"type":"string"},"smartAppUrl":{"type":"string"},"pingToStoreSuccessful":{"type":"boolean"},"pingFromStoreSuccessful":{"type":"boolean"},"monitoringEnabled":{"type":"boolean"},"referenceStore":{"type":"boolean"},"onpremStore":{"type":"boolean"},"version":{"type":"string"},"securityTags":{"type":"array","items":{"type":"string"}},"stopped":{"type":"boolean"},"gitShortSha":{"type":"string"},"currentTimezoneOffset":{"type":"string"}}},"ApiPrivateWebStoreAddress":{"type":"object","properties":{"streetAddress":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"zipCode":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"ApiPrivateWebSaveStoreRoleRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":50,"minLength":1,"type":"string"},"serviceRole":{"type":"boolean"},"connection":{"type":"string"}}},"ApiPrivateWebStoreRole":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"connection":{"type":"string"},"serviceRole":{"type":"boolean"},"storePermissions":{"type":"array","items":{"type":"string","enum":["EXECUTE_START_AND_STOP_STORE","EXECUTE_LINK_AND_UNLINK_LABELS","VIEW_REPORTS","VIEW_MANAGE_IR_KEY","VIEW_LABEL_CONFIGURATION","MODIFY_LABEL_CONFIGURATION","VIEW_SEARCH","VIEW_PRINT","MODIFY_PRINT_CONFIGURATION","VIEW_STATUS","MODIFY_CLOUD_CONFIGURATION","VIEW_GEO_CONFIGURATION","MODIFY_GEO_CONFIGURATION","EXECUTE_ADVANCED_FUNCTIONS","EXECUTE_CONFIGURATION_EXPORT","VIEW_VERSION_INFORMATION","MODIFY_INFRASTRUCTURE_CONFIGURATION","VIEW_INFRASTRUCTURE_CONFIGURATION","VIEW_ITEM_CONFIGURATION","MODIFY_ITEM_CONFIGURATION","MODIFY_JOB_CONFIGURATION","MODIFY_PDA_CONFIGURATION","MODIFY_STORE_CONFIGURATION","MODIFY_WEB_PAGE_CONFIGURATION","VIEW_GENERAL_SETTINGS","MODIFY_GENERAL_SETTINGS","VIEW_GLOBAL_PARAMETERS","MODIFY_GLOBAL_PARAMETERS","EXECUTE_LANGUAGES","EXECUTE_LICENSES","MODIFY_LOG_SETTINGS","MODIFY_ALERT_SETTINGS","VIEW_SYSTEM_PARAMETERS","MODIFY_SYSTEM_PARAMETERS","MODIFY_ARTICLE_GROUPS","VIEW_STATUS_SYSTEM","MODIFY_MANAGE_LABEL_REPORTS","EXECUTE_API_SOAP","MODIFY_FILES","VIEW_ITEMS","MODIFY_ITEMS","VIEW_ALERT","MODIFY_ALERT","VIEW_LABELS","MODIFY_FINGERPRINT","EXECUTE_FLASH_LABEL","SMART_APP","API_REST","EXECUTE_SHELF_VISION","EXECUTE_LINK_CAMERA","EXECUTE_API_REST_PFI","MODIFY_SMARTPOSTER_LINKS","MODIFY_SMARTPOSTER_DESIGNER","VIEW_WEBHOOK_CONFIGURATION","MODIFY_WEBHOOK_CONFIGURATION","EXECUTE_CLICK_AND_COLLECT","MODIFY_BACKOFFICE"]}}}},"ApiPrivateWebCreateStoreGroupRequest":{"required":["name","parentStoreGroupId"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"parentStoreGroupId":{"type":"integer","description":"Parent Store Group Id","format":"int64","example":1}}},"ApiPrivateWebConfigurationPrc":{"type":"object","properties":{"checksum":{"type":"string"},"uploaded":{"type":"string","format":"date-time"},"filename":{"type":"string"}}},"ApiPrivateWebStoreGroup":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"parentId":{"type":"integer","format":"int64"},"children":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroup"}},"stores":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStore"}},"configuration":{"$ref":"#/components/schemas/ApiPrivateWebConfigurationPrc"},"inheritedConfiguration":{"type":"string"},"configurationExistOnHigherLevel":{"type":"boolean"},"canInheritConfigurationFromStoreGroupName":{"type":"string"},"canInheritConfigurationFromReferenceStoreUuid":{"type":"string"},"referenceStoreUuid":{"type":"string"},"level":{"type":"integer","format":"int32"},"totalNumberOfStores":{"type":"integer","format":"int32"},"createdDate":{"type":"string","format":"date-time"}}},"ApiPrivateWebCreateOnpremStorePairingRequest":{"required":["externalId","name","storeGroupId"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"storeGroupId":{"type":"integer","description":"Store Group Id","format":"int64","example":1},"externalId":{"type":"string"}}},"ApiPrivateWebOnpremStorePairingRequest":{"type":"object","properties":{"encryptedPairingKey":{"type":"string"}}},"ApiPrivateWebSaveCentralRoleRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":50,"minLength":1,"type":"string"},"serviceRole":{"type":"boolean"},"connection":{"type":"string"}}},"ApiPrivateWebCentralRole":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"connection":{"type":"string"},"serviceRole":{"type":"boolean"},"centralPermissions":{"type":"array","items":{"type":"string","enum":["VIEW_USERS_AND_GROUPS","MODIFY_USERS_AND_GROUPS","VIEW_MY_STORES","VIEW_STORES","MODIFY_STORES","MODIFY_STORE_GROUPS","VIEW_ROLES","VIEW_ASSIGNMENTS","MODIFY_ROLES","MODIFY_ASSIGNMENTS","VIEW_SYSTEM_INFO","VIEW_API_DOCS","VIEW_MONITORING","MODIFY_MONITORING","MANAGE_CONFIGURATION_FROM_STORE","MANAGE_CONFIGURATION_FROM_FILE","INSTALL_CONFIGURATION","CSV_IMPORT","MODIFY_STORE_TYPE","VIEW_MULTI_STORE_REQUEST_HISTORY","REMOVE_MULTI_STORE_REQUEST_HISTORY","VIEW_STORE_SECURITY_TAGS","MODIFY_STORE_SECURITY_TAGS","MODIFY_SYSTEM_NOTIFICATION"]}}}},"ApiPrivateNotificationV1CreateNotificationRequest":{"required":["message"],"type":"object","properties":{"message":{"type":"string"},"title":{"maxLength":60,"minLength":0,"type":"string"},"type":{"pattern":"^(INFO|WARNING|ERROR|SUCCESS)","type":"string"}}},"ApiPrivateWebUpdateUserRequest":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"}}},"ApiPrivateWebUpdateUserGroupRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":50,"minLength":1,"type":"string"}}},"ApiPrivateWebStoreSettingRequest":{"type":"object","properties":{"type":{"type":"string","enum":["ESL_ROAMING","ESL_LOW_BATTERY","INFRASTRUCTURE_BASESTATION_FAULTY","INFRASTRUCTURE_TRANSCEIVERS_FAULTY","INTEGRATION_UPDATE_STABILITY","JOB_CANCELLED","JOB_FAILED"]},"measurementUnit":{"type":"string","enum":["NUMBER","PERCENT"]},"thresholdValue":{"type":"integer","format":"int64"}}},"ApiPrivateWebStoreSettingsRequest":{"type":"object","properties":{"settingsGroup":{"type":"string","enum":["ESL","INFRASTRUCTURE","INTEGRATION","JOB"]},"settings":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreSettingRequest"}}}},"ApiPrivateWebUpdateStoreRoleRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":50,"minLength":1,"type":"string"}}},"ApiPrivateWebUpdateStoreGroupRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"}}},"StoreSettingRequest":{"type":"object","properties":{"type":{"type":"string","enum":["ESL_ROAMING","ESL_LOW_BATTERY","INFRASTRUCTURE_BASESTATION_FAULTY","INFRASTRUCTURE_TRANSCEIVERS_FAULTY","INTEGRATION_UPDATE_STABILITY","JOB_CANCELLED","JOB_FAILED"]},"measurementUnit":{"type":"string","enum":["NUMBER","PERCENT"]},"thresholdValue":{"type":"integer","format":"int64"}}},"StoreSettingsRequest":{"type":"object","properties":{"settingsGroup":{"type":"string","enum":["ESL","INFRASTRUCTURE","INTEGRATION","JOB"]},"settings":{"type":"array","items":{"$ref":"#/components/schemas/StoreSettingRequest"}}}},"StoreGroupSettingRequest":{"type":"object","properties":{"type":{"type":"string","enum":["ESL","INFRASTRUCTURE","INTEGRATION","JOB"]},"measurementUnit":{"type":"string","enum":["NUMBER","PERCENT"]},"thresholdValue":{"type":"integer","format":"int64"}}},"ApiPrivateWebUpdateCentralRoleRequest":{"required":["name"],"type":"object","properties":{"name":{"maxLength":50,"minLength":1,"type":"string"}}},"ApiPrivateWebPagedResultApiPrivateWebUser":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"currentIndex":{"type":"integer","format":"int32"},"elements":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebUser"}}}},"ApiPrivateWebUserExtended":{"type":"object","properties":{"id":{"type":"integer","format":"int64","readOnly":true},"username":{"pattern":"^([a-z0-9!#$%&'*+-/=?^_`{|}~.@]{1,50})$","type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"latestLogin":{"type":"string","format":"date-time","readOnly":true},"serviceUser":{"type":"boolean","readOnly":true},"type":{"type":"string","readOnly":true},"connection":{"type":"string","readOnly":true},"externalUserId":{"type":"string","readOnly":true},"centralPermissions":{"type":"array","readOnly":true,"items":{"type":"string","readOnly":true,"enum":["VIEW_USERS_AND_GROUPS","MODIFY_USERS_AND_GROUPS","VIEW_MY_STORES","VIEW_STORES","MODIFY_STORES","MODIFY_STORE_GROUPS","VIEW_ROLES","VIEW_ASSIGNMENTS","MODIFY_ROLES","MODIFY_ASSIGNMENTS","VIEW_SYSTEM_INFO","VIEW_API_DOCS","VIEW_MONITORING","MODIFY_MONITORING","MANAGE_CONFIGURATION_FROM_STORE","MANAGE_CONFIGURATION_FROM_FILE","INSTALL_CONFIGURATION","CSV_IMPORT","MODIFY_STORE_TYPE","VIEW_MULTI_STORE_REQUEST_HISTORY","REMOVE_MULTI_STORE_REQUEST_HISTORY","VIEW_STORE_SECURITY_TAGS","MODIFY_STORE_SECURITY_TAGS","MODIFY_SYSTEM_NOTIFICATION"]}},"userGroupIds":{"type":"array","readOnly":true,"items":{"type":"integer","format":"int64","readOnly":true}},"centralRoles":{"type":"array","items":{"$ref":"#/components/schemas/CentralRoleDetails"}},"globalStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/StoreRoleDetails"}},"storeRoles":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/StoreRoleDetails"}}},"globalStorePermissions":{"type":"array","items":{"type":"string","enum":["EXECUTE_START_AND_STOP_STORE","EXECUTE_LINK_AND_UNLINK_LABELS","VIEW_REPORTS","VIEW_MANAGE_IR_KEY","VIEW_LABEL_CONFIGURATION","MODIFY_LABEL_CONFIGURATION","VIEW_SEARCH","VIEW_PRINT","MODIFY_PRINT_CONFIGURATION","VIEW_STATUS","MODIFY_CLOUD_CONFIGURATION","VIEW_GEO_CONFIGURATION","MODIFY_GEO_CONFIGURATION","EXECUTE_ADVANCED_FUNCTIONS","EXECUTE_CONFIGURATION_EXPORT","VIEW_VERSION_INFORMATION","MODIFY_INFRASTRUCTURE_CONFIGURATION","VIEW_INFRASTRUCTURE_CONFIGURATION","VIEW_ITEM_CONFIGURATION","MODIFY_ITEM_CONFIGURATION","MODIFY_JOB_CONFIGURATION","MODIFY_PDA_CONFIGURATION","MODIFY_STORE_CONFIGURATION","MODIFY_WEB_PAGE_CONFIGURATION","VIEW_GENERAL_SETTINGS","MODIFY_GENERAL_SETTINGS","VIEW_GLOBAL_PARAMETERS","MODIFY_GLOBAL_PARAMETERS","EXECUTE_LANGUAGES","EXECUTE_LICENSES","MODIFY_LOG_SETTINGS","MODIFY_ALERT_SETTINGS","VIEW_SYSTEM_PARAMETERS","MODIFY_SYSTEM_PARAMETERS","MODIFY_ARTICLE_GROUPS","VIEW_STATUS_SYSTEM","MODIFY_MANAGE_LABEL_REPORTS","EXECUTE_API_SOAP","MODIFY_FILES","VIEW_ITEMS","MODIFY_ITEMS","VIEW_ALERT","MODIFY_ALERT","VIEW_LABELS","MODIFY_FINGERPRINT","EXECUTE_FLASH_LABEL","SMART_APP","API_REST","EXECUTE_SHELF_VISION","EXECUTE_LINK_CAMERA","EXECUTE_API_REST_PFI","MODIFY_SMARTPOSTER_LINKS","MODIFY_SMARTPOSTER_DESIGNER","VIEW_WEBHOOK_CONFIGURATION","MODIFY_WEBHOOK_CONFIGURATION","EXECUTE_CLICK_AND_COLLECT","MODIFY_BACKOFFICE"]}},"storePermissions":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string","enum":["EXECUTE_START_AND_STOP_STORE","EXECUTE_LINK_AND_UNLINK_LABELS","VIEW_REPORTS","VIEW_MANAGE_IR_KEY","VIEW_LABEL_CONFIGURATION","MODIFY_LABEL_CONFIGURATION","VIEW_SEARCH","VIEW_PRINT","MODIFY_PRINT_CONFIGURATION","VIEW_STATUS","MODIFY_CLOUD_CONFIGURATION","VIEW_GEO_CONFIGURATION","MODIFY_GEO_CONFIGURATION","EXECUTE_ADVANCED_FUNCTIONS","EXECUTE_CONFIGURATION_EXPORT","VIEW_VERSION_INFORMATION","MODIFY_INFRASTRUCTURE_CONFIGURATION","VIEW_INFRASTRUCTURE_CONFIGURATION","VIEW_ITEM_CONFIGURATION","MODIFY_ITEM_CONFIGURATION","MODIFY_JOB_CONFIGURATION","MODIFY_PDA_CONFIGURATION","MODIFY_STORE_CONFIGURATION","MODIFY_WEB_PAGE_CONFIGURATION","VIEW_GENERAL_SETTINGS","MODIFY_GENERAL_SETTINGS","VIEW_GLOBAL_PARAMETERS","MODIFY_GLOBAL_PARAMETERS","EXECUTE_LANGUAGES","EXECUTE_LICENSES","MODIFY_LOG_SETTINGS","MODIFY_ALERT_SETTINGS","VIEW_SYSTEM_PARAMETERS","MODIFY_SYSTEM_PARAMETERS","MODIFY_ARTICLE_GROUPS","VIEW_STATUS_SYSTEM","MODIFY_MANAGE_LABEL_REPORTS","EXECUTE_API_SOAP","MODIFY_FILES","VIEW_ITEMS","MODIFY_ITEMS","VIEW_ALERT","MODIFY_ALERT","VIEW_LABELS","MODIFY_FINGERPRINT","EXECUTE_FLASH_LABEL","SMART_APP","API_REST","EXECUTE_SHELF_VISION","EXECUTE_LINK_CAMERA","EXECUTE_API_REST_PFI","MODIFY_SMARTPOSTER_LINKS","MODIFY_SMARTPOSTER_DESIGNER","VIEW_WEBHOOK_CONFIGURATION","MODIFY_WEBHOOK_CONFIGURATION","EXECUTE_CLICK_AND_COLLECT","MODIFY_BACKOFFICE"]}}}}},"ApiPrivateWebUserCentralRoles":{"type":"object","properties":{"availableRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebCentralRole"}},"unavailableRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebCentralRole"}}}},"ApiPrivateWebUserGlobalStoreRoles":{"type":"object","properties":{"availableStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}},"unavailableStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}}}},"ApiPrivateWebUserReferenceStoreRoles":{"type":"object","properties":{"availableStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}},"unavailableStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}}}},"ApiPrivateWebUserRoles":{"type":"object","properties":{"centralRoles":{"$ref":"#/components/schemas/ApiPrivateWebUserCentralRoles"},"globalStoreRoles":{"$ref":"#/components/schemas/ApiPrivateWebUserGlobalStoreRoles"},"referenceStoreRoles":{"$ref":"#/components/schemas/ApiPrivateWebUserReferenceStoreRoles"},"storeRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebUserStoreRoles"}}}},"ApiPrivateWebUserStoreRoles":{"type":"object","properties":{"storeUuid":{"type":"string"},"availableStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}},"unavailableStoreRoles":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreRole"}}}},"ApiPrivateWebPagedResultApiPrivateWebUserGroup":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"currentIndex":{"type":"integer","format":"int32"},"elements":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebUserGroup"}}}},"ApiPrivateWebCentralManagerInfo":{"type":"object","properties":{"version":{"type":"string"},"versionName":{"type":"string"},"r3serverVersion":{"type":"string"},"customerName":{"type":"string"},"licenseProfileType":{"type":"string","enum":["PRODUCTION","PRE_PRODUCTION","PILOT","POC","TRIAL","TEST","PLAZA_DEMO","PLAZA_TEST","PLAZA_STAGING","PLAZA_PRODUCTION","PLAZA_PARTNER","PLAZA_COUNTRY_LAB","PLAZA_VALIDATION","PLAZA_DEV"]},"storeLimit":{"type":"integer","format":"int64"},"storesDeployed":{"type":"integer","format":"int32"},"connectedOnpremStores":{"type":"integer","format":"int64"},"vbsEnabled":{"type":"boolean"},"installationDate":{"type":"string","format":"date-time"},"gcpMapsApiKey":{"type":"string"},"languageBaseUrl":{"type":"string"},"apigeeBaseUrl":{"type":"string"}}},"ApiPrivateWebStoreDeploymentGroup":{"type":"object","properties":{"storesDeployed":{"type":"integer","description":"Deployed stores from the StoreDeploymentGroup","format":"int32","example":0},"dbInstanceName":{"type":"string","description":"DB instance name from the StoreDeploymentGroup"},"id":{"type":"string","description":"Unique id of StoreDeploymentGroup","example":"0"},"storeLimit":{"type":"number","description":"Store limit configured for the StoreDeploymentGroup","format":"double"},"storesAvailable":{"type":"number","description":"Available stores from the StoreDeploymentGroup","format":"double"}},"description":"A list of store-deployment groups in CentralManager"},"ApiPrivateWebStoreDeploymentGroupDetails":{"type":"object","properties":{"storesDeployed":{"type":"integer","description":"The over all stores deployed","format":"int32","example":1},"storesAvailable":{"type":"number","description":"The over all stores available for deployment","format":"double"},"storeLimit":{"type":"number","description":"The over all store limit","format":"double"},"storeDeploymentGroupStatus":{"type":"array","description":"A list of store-deployment groups in CentralManager","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreDeploymentGroup"}}},"description":"Representation of StoreDeploymentGroup"},"ApiPrivateWebCentralManagerFeature":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"enabled":{"type":"boolean"}}},"ApiPrivateWebCentralManagerFeatures":{"type":"object","properties":{"properties":{"$ref":"#/components/schemas/ApiPrivateWebProperties"},"features":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebCentralManagerFeature"}}}},"ApiPrivateWebProperties":{"type":"object","properties":{"monitoringPollingRateInSeconds":{"type":"integer","format":"int64"}}},"ApiPrivateWebEslStatusGroup":{"type":"object","properties":{"status":{"type":"string","enum":["OK","ERROR"]},"linkedEsl":{"type":"integer","format":"int32"},"okEsl":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"},"waitingforUpdateEsl":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"},"roamingEsl":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"},"lowBatteryEsl":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"}}},"ApiPrivateWebInfrastructureStatusGroup":{"type":"object","properties":{"status":{"type":"string","enum":["OK","ERROR"]},"installedBasestations":{"type":"integer","format":"int32"},"okBasesstations":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"},"faultyBasesstations":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"},"installedTranceivers":{"type":"integer","format":"int32"},"okTranceivers":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"},"faultyTranceivers":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"}}},"ApiPrivateWebIntegrationsStatusGroup":{"type":"object","properties":{"status":{"type":"string","enum":["OK","ERROR"]},"latestUpdate":{"type":"string"},"inactive":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"}}},"ApiPrivateWebJobsStatusGroup":{"type":"object","properties":{"status":{"type":"string","enum":["OK","ERROR"]},"scheduled":{"type":"integer","format":"int32"},"succeeded":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"},"cancelled":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"},"failed":{"$ref":"#/components/schemas/ApiPrivateWebStatusEntry"}}},"ApiPrivateWebStatusEntry":{"type":"object","properties":{"numericValue":{"type":"integer","format":"int32"},"percentageValue":{"type":"number","format":"double"},"status":{"type":"string","enum":["OK","ERROR"]}}},"ApiPrivateWebStoreMonitoringStatus":{"type":"object","properties":{"timestamp":{"type":"string"},"uuid":{"type":"string"},"externalId":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","enum":["NOT_RESPONDING","NOT_CONFIGURED","OK","ERROR"]},"eslStatus":{"$ref":"#/components/schemas/ApiPrivateWebEslStatusGroup"},"infraStatus":{"$ref":"#/components/schemas/ApiPrivateWebInfrastructureStatusGroup"},"integrationStatus":{"$ref":"#/components/schemas/ApiPrivateWebIntegrationsStatusGroup"},"jobStatus":{"$ref":"#/components/schemas/ApiPrivateWebJobsStatusGroup"}}},"ApiPrivateWebStoreSettingResponse":{"type":"object","properties":{"type":{"type":"string","enum":["ESL_ROAMING","ESL_LOW_BATTERY","INFRASTRUCTURE_BASESTATION_FAULTY","INFRASTRUCTURE_TRANSCEIVERS_FAULTY","INTEGRATION_UPDATE_STABILITY","JOB_CANCELLED","JOB_FAILED"]},"selectableUnits":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["NUMBER","PERCENT"]}},"defaultValue":{"type":"boolean"},"measurementUnit":{"type":"string","enum":["NUMBER","PERCENT"]},"thresholdValue":{"type":"integer","format":"int64"}}},"ApiPrivateWebStoreSettingsResponse":{"type":"object","properties":{"settingsGroup":{"type":"string","enum":["ESL","INFRASTRUCTURE","INTEGRATION","JOB"]},"settings":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreSettingResponse"}}}},"ApiPrivateWebStoreGroupStatus":{"type":"object","properties":{"infraStatus":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroupStatusDetails"},"eslStatus":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroupStatusDetails"},"integrationStatus":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroupStatusDetails"},"jobStatus":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroupStatusDetails"}}},"ApiPrivateWebStoreGroupStatusDetails":{"type":"object","properties":{"successRate":{"type":"number","format":"double"},"errorRate":{"type":"number","format":"double"},"measurementUnit":{"type":"string","enum":["NUMBER","PERCENT"]},"status":{"type":"string","enum":["OK","ERROR"]}}},"ApiPrivateWebStoreGroupStatusResponse":{"type":"object","properties":{"timestamp":{"type":"string"},"storeGroupStatus":{"$ref":"#/components/schemas/ApiPrivateWebStoreGroupStatus"},"storesStatus":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateWebStoreMonitoringStatus"}}}},"ApiPrivateWebFont":{"type":"object","properties":{"createdTime":{"type":"string","format":"date-time"},"modifiedTime":{"type":"string","format":"date-time"},"filename":{"type":"string"},"storeGroupId":{"type":"integer","format":"int64"}}},"ApiPrivateWebStoreGroupSettingResponse":{"type":"object","properties":{"type":{"type":"string","enum":["ESL","INFRASTRUCTURE","INTEGRATION","JOB"]},"inheritedFromStoreGroupId":{"type":"integer","format":"int64"},"measurementUnit":{"type":"string","enum":["NUMBER","PERCENT"]},"thresholdValue":{"type":"integer","format":"int64"}}},"ApiPrivateWebPermissionResponse":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"authorities":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"ApiPrivateNotificationV1Notification":{"type":"object","properties":{"message":{"type":"string"},"title":{"type":"string"},"type":{"type":"string","enum":["INFO","WARNING","ERROR","SUCCESS"]}}}},"securitySchemes":{"Basic_Auth":{"type":"http","scheme":"basic"},"Bearer_JWT":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"Auth0_Access_Token":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}