{"openapi":"3.1.0","info":{"title":"Store REST API Documentation","description":"Store REST API Documentation","contact":{"name":"Pricer","url":"http://www.pricer.com","email":"info@pricer.com"},"license":{"name":"Apache 2.0","url":"http://springdoc.org"},"version":"v1.0.0"},"servers":[{"url":"https://demo.ps.pcm.pricer-plaza.com","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Camera API:","description":"Endpoints for ESL detection and camera command execution\nKnown limitations:\n- No support for access code\n- If the server crashes whiles pausing transmission, the server will resume transmission upon startup again, even if it starts within the paused interval"},{"name":"Core API: Label state summary","description":"Endpoint for fetching information about number of labels in different states"},{"name":"Print API: Sticker Images (BETA)","description":"BETA Endpoint to get sticker images for printing"},{"name":"Core API: Label","description":"Endpoints for labels"},{"name":"BETA Core API: Fingerprint","description":"BETA endpoints related to fingerprinting of labels"},{"name":"Config API: Cloud Connect","description":"Endpoints to manage cloud connection"},{"name":"ESL configuration","description":"Endpoint to fetch and merge ESL configurations"},{"name":"Plaza API: Cloud Connect","description":"Endpoints to manage on-prem connection to Pricer Plaza"},{"name":"Core API: Label types","description":"Endpoint for fetching information about label types"},{"name":"Transmission History API","description":"Endpoints related to transmission history"},{"name":"Jasper reports API:","description":"Endpoints for jasper reports"},{"name":"BETA Core API: Search","description":"BETA endpoints related to search"},{"name":"Infra API: Transceiver","description":"Endpoints for transceivers"},{"name":"BETA Core API: Item","description":"BETA endpoints related to items"},{"name":"Core API: Label features","description":"Endpoint for fetching information about label features/capabilities"},{"name":"Core API: Item","description":"Endpoint to delete all items, and unlink all labels"},{"name":"BETA Core API: NFC","description":"BETA endpoints related to NFC tags"},{"name":"Core API: Request Entry","description":"Endpoints related to request entries"},{"name":"Notification API: Notifications","description":"Endpoints related to notifications"},{"name":"Advanced API: BackOffice","description":"Advanced endpoints for low level BackOffice management"},{"name":"Core API: Label page","description":"Endpoints for fetching label pages and page images"},{"name":"Core API: Request","description":"Endpoints related to requests, such as item update requests"}],"paths":{"/api/private/notification/v1/notifications/settings":{"get":{"tags":["Notification API: Notifications"],"summary":"Get notification settings","operationId":"getNotificationSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationSettings"}}}}}},"put":{"tags":["Notification API: Notifications"],"summary":"Set notification settings","operationId":"setNotificationSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationSettings"}}}}}}},"/api/private/esl/v1/config/external-models/{name}":{"put":{"tags":["ESL configuration"],"summary":"Add or update an external ESL model","operationId":"addNewExternalModel","parameters":[{"name":"name","in":"path","description":"The name of an external model","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiExternalModel"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}}},"/api/private/core/v1/labels/asic-access-codes":{"put":{"tags":["Core API: Label"],"summary":"Create or update label(s) with asic access code","operationId":"addAsicAccessCodes","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicCoreV1LabelAsicAccessCode"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Label asic access code is not in range"}}}},"/api/private/core/v1/fingerprint/{barcode}":{"put":{"tags":["BETA Core API: Fingerprint"],"summary":"Add or update a fingerprint. Deprecated in favor of PUT /api/public/core/v1/fingerprint/{barcode}","operationId":"fingerPrint","parameters":[{"name":"barcode","in":"path","description":"barcode","required":true,"schema":{"type":"string"},"example":"The barcode of the label to add or update the fingerprint for"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FingerprintRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}}},"deprecated":true}},"/api/private/core/v1/devices/visualart/{deviceId}":{"get":{"tags":["device-controller"],"summary":"Get one Visual Art device","operationId":"getVisualArtDeviceById","parameters":[{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceInfo"}}}}}},"put":{"tags":["device-controller"],"summary":"Update or create Visual Art device","operationId":"createOrUpdateVisualArtDevice","parameters":[{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeviceItemData"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceInfo"}}}}}},"delete":{"tags":["device-controller"],"summary":"Delete Visual Art device","operationId":"deleteVisualArtDevice","parameters":[{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/private/verify/v1/{barcode}/led-state":{"post":{"tags":["verify-controller"],"operationId":"verifyLedState","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyLedStateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChecksumResult"}}}}}}},"/api/private/verify/v1/{barcode}/image/{page}":{"post":{"tags":["verify-controller"],"operationId":"verifyChecksum","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyImageRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChecksumResult"}}}}}}},"/api/private/verify/v1/{barcode}/force-update":{"post":{"tags":["verify-controller"],"operationId":"forceUpdate","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/private/system-message/v1":{"get":{"tags":["system-message-controller"],"summary":"Returns all system messages","operationId":"findAllSystemMessages","responses":{"200":{"description":"List of system messages","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SystemMessage"}}}}}}},"post":{"tags":["system-message-controller"],"summary":"Creates a new system message","operationId":"createSystemMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSystemMessageRequest"}}},"required":true},"responses":{"201":{"description":"System message was successfully created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateSystemMessageResponse"}}}},"400":{"description":"Invalid input creating system message","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateSystemMessageResponse"}}}}}}},"/api/private/reports/v1/jasper/upload":{"post":{"tags":["Jasper reports API:"],"summary":"Upload reports as jrxml","operationId":"uploadJasperReport","parameters":[{"name":"displayName","in":"query","description":"Name of new report","required":true,"schema":{"type":"string"}},{"name":"fileFormat","in":"query","description":"File format of report","required":false,"schema":{"type":"string"}},{"name":"jpgDimension","in":"query","description":"Dimension of JPG report","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"jasperReport":{"type":"string","format":"binary","description":"Report as jrxml"}},"required":["jasperReport"]}}}},"responses":{"400":{"description":"Bad Request"},"201":{"description":"Created"},"401":{"description":"Unauthorized"}}}},"/api/private/plaza/v1/disconnect":{"post":{"tags":["Plaza API: Cloud Connect"],"summary":"Disconnect this on-prem instance from Pricer Plaza","operationId":"disconnect","responses":{"200":{"description":"OK"}}}},"/api/private/plaza/v1/connect":{"post":{"tags":["Plaza API: Cloud Connect"],"summary":"Connect this on-prem instance to Pricer Plaza","operationId":"connect","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlazaConnectionRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/private/notification/v1/notifications/{id}/hide":{"post":{"tags":["Notification API: Notifications"],"summary":"Hide notification","operationId":"hideNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/private/infra/v1/transceivers/force-recalibration":{"post":{"tags":["Infra API: Transceiver"],"summary":"Force recalibration of transceivers","operationId":"forceRecalibrate","responses":{"204":{"description":"No content"}}}},"/api/private/file/v1/pfi/data-file/{dataFileName}":{"post":{"tags":["api-private-file-v-1-pfi-controller"],"summary":"Upload PFI data file","description":"Upload a PFI data file using this endpoint. The file name must be suffixed with \".i1\" and must not contain a path. Processing will automatically begin after successful upload.","operationId":"uploadDataFile","parameters":[{"name":"command","in":"query","description":"The type of PFI command to execute for the data file","required":true,"schema":{"type":"string","enum":["UPDATE","TARGETLINK","PRINT","REFRESH","SETGLOBAL","DELETE","ESLUPDATE","LINKUPDATE","LED","PICKLIST"]}},{"name":"dataFileName","in":"path","description":"The name of the PFI data file","required":true,"schema":{"type":"string"}},{"name":"orderNumber","in":"query","description":"The picklist order number. Only relevant in combination with PICKLIST command.","required":false,"schema":{"type":"string"},"example":"00002345"},{"name":"pickUpTime","in":"query","description":"The picklist pick up time. Only relevant in combination with PICKLIST command.","required":false,"schema":{"type":"string"},"example":"2022-12-01 14:00:00"}],"requestBody":{"description":"The PFI data file file contents.","content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}}},"/api/private/esl/v1/config":{"get":{"tags":["ESL configuration"],"summary":"Get ESL configuration","description":"Lists ESL configurations and models","operationId":"getEslConfigurations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ESLConfig"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ESLConfig"}}}}}},"post":{"tags":["ESL configuration"],"summary":"Merge ESL configuration","operationId":"mergeEslConfiguration","requestBody":{"description":"ESL configuration to merge with current configuration","content":{"application/json":{"schema":{"type":"object"}}},"required":true},"responses":{"201":{"description":"CREATED"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}}},"/api/private/core/v1/nfc/decode":{"post":{"tags":["BETA Core API: NFC"],"summary":"Decode label barcode from NFC URL","operationId":"decode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NfcDecodeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NfcDecodeResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NfcDecodeResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NfcDecodeResponse"}}}}}}},"/api/private/core/v1/labels/refresh-all":{"post":{"tags":["Core API: Label"],"summary":"Refresh all ESLs","operationId":"refreshAllEsls","responses":{"204":{"description":"No content"}}}},"/api/private/core/v1/labels/full-roaming":{"post":{"tags":["Core API: Label"],"summary":"Execute full roaming","operationId":"fullRoaming","responses":{"204":{"description":"No content"}}}},"/api/private/core/v1/labels/force-update-all":{"post":{"tags":["Core API: Label"],"summary":"Force update all ESLs","operationId":"forceUpdateAllEsls","responses":{"204":{"description":"No content"}}}},"/api/private/core/v1/labels/esl-key-code/{keyCode}":{"post":{"tags":["Core API: Label"],"summary":"Update ESL Key Code","operationId":"updateEslKeyCode","parameters":[{"name":"keyCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Invalid keycode","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/private/config/v1/cloud/settings":{"post":{"tags":["Config API: Cloud Connect"],"summary":"Configure data submissions for cloud connection","operationId":"updateConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudSubmissionConfigurationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"FORBIDDEN","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/private/config/v1/cloud/registration":{"post":{"tags":["Config API: Cloud Connect"],"summary":"Register the store for cloud connection","operationId":"registerServer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudRegistrationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"BAD REQUEST","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/private/camera/v1/updateCameraGroup":{"post":{"tags":["Camera API:"],"summary":"Endpoint for updating the group of a camera","operationId":"updateCameraGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCameraGroupRequest"}}},"required":true},"responses":{"200":{"description":"Request Accepted","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/private/camera/v1/send-command/broadcast":{"post":{"tags":["Camera API:"],"summary":"Execute command on a group of cameras","operationId":"runCameraCommandBroadcast","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1BroadcastCommandRequest"}}},"required":true},"responses":{"200":{"description":"Request accepted","content":{"*/*":{"schema":{"type":"string","enum":["ERROR_INVALID_BARCODE","SUCCESS"]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","enum":["ERROR_INVALID_BARCODE","SUCCESS"]}}}}}}},"/api/private/camera/v1/send-command/addressed":{"post":{"tags":["Camera API:"],"summary":"Execute command on one or more cameras","operationId":"runCameraCommandAddressed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1AddressedCommandRequest"}}},"required":true},"responses":{"200":{"description":"Request accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1AddressedCommandResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1AddressedCommandResponse"}}}}}}},"/api/private/camera/v1/send-camera-data":{"post":{"tags":["Camera API:"],"summary":"Send camera data to cloud","operationId":"sendCameraDataToCas","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1SendCameraDataToCloudRequest"}}},"required":true},"responses":{"200":{"description":"Request Accepted"},"401":{"description":"Unauthorized"}}}},"/api/private/camera/v1/resume-transmission":{"post":{"tags":["Camera API:"],"summary":"Endpoint to resume paused server transmission","operationId":"resumeTransmission","responses":{"200":{"description":"Request Accepted","content":{"*/*":{"schema":{"type":"boolean"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/private/camera/v1/positions":{"post":{"tags":["Camera API:"],"summary":"Endpoint to retrieve positions","operationId":"getPositions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1PositionRequest"}}},"required":true},"responses":{"200":{"description":"Request Accepted","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateCameraV1LabelPosition"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateCameraV1LabelPosition"}}}}}}}},"/api/private/camera/v1/pause-transmission":{"post":{"tags":["Camera API:"],"summary":"Endpoint to pause server transmission","operationId":"pauseTransmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1StopTransmissionRequest"}}},"required":true},"responses":{"200":{"description":"Request Accepted","content":{"*/*":{"schema":{"type":"boolean"}}}},"400":{"description":"Maximum timeout value exceeded","content":{"*/*":{"schema":{"type":"boolean"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/private/camera/v1/link":{"post":{"tags":["Camera API:"],"summary":"Endpoint for linking a camera","operationId":"link","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraLinkRequest"}}},"required":true},"responses":{"200":{"description":"Request Accepted","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/private/camera/v1/esl-detection/broadcast":{"post":{"tags":["Camera API:"],"summary":"Activate a group of cameras for ESL detection then temporarily disable transmission for a set amount of time","operationId":"eslDetectionBroadcast","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1BroadcastEslDetectionRequest"}}},"required":true},"responses":{"200":{"description":"Request accepted","content":{"*/*":{"schema":{"type":"string","enum":["ERROR_INVALID_BARCODE","SUCCESS"]}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","enum":["ERROR_INVALID_BARCODE","SUCCESS"]}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","enum":["ERROR_INVALID_BARCODE","SUCCESS"]}}}}}}},"/api/private/camera/v1/esl-detection/addressed":{"post":{"tags":["Camera API:"],"summary":"Activate one or multiple cameras for ESL detection then temporarily disable transmission for a set amount of time","operationId":"eslDetectionAddressed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1AddressedEslDetectionRequest"}}},"required":true},"responses":{"200":{"description":"Request accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1AddressedEslDetectionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1AddressedEslDetectionResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1AddressedEslDetectionResponse"}}}}}}},"/api/private/camera/v1/barcode-mapping":{"post":{"tags":["Camera API:"],"summary":"Get barcode mapping given a set of PL Ids. Nonexistent and invalid PL Ids will be ignored","operationId":"getBarcodePLIdMapping","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1MappingRequest"}}},"required":true},"responses":{"200":{"description":"Request Accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1MappingResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1MappingResponse"}}}}}}},"/api/private/core/v1/labels/{barcode}/link-properties/{itemId}":{"patch":{"tags":["Core API: Label"],"summary":"Updates link properties for a label","operationId":"updateLinkProperties","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1LinkPropertiesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1LinkPropertiesResponse"}}}},"404":{"description":"NOT FOUND","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1LinkPropertiesResponse"}}}},"400":{"description":"BAD REQUEST","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1LinkPropertiesResponse"}}}}}}},"/api/private/core/v1/labels/{barcode}/label-properties":{"patch":{"tags":["Core API: Label"],"summary":"Updates properties for a label","operationId":"updateLabelProperties","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1LabelPropertiesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1LabelPropertiesResponse"}}}},"404":{"description":"NOT FOUND","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1LabelPropertiesResponse"}}}},"400":{"description":"BAD REQUEST","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1LabelPropertiesResponse"}}}}}}},"/api/private/verify/v1/checksum-request-state/{id}":{"get":{"tags":["verify-controller"],"operationId":"getChecksumRequestState","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","enum":["PENDING","OK","NOT_OK","NO_SUCH_CHECKSUM_REQUEST","NO_IMAGE_PROVIDED_AND_NO_IMAGE_IN_CACHE","UNKNOWN"]}}}}}}},"/api/private/transmission/v1/history":{"get":{"tags":["Transmission History API"],"summary":"Returns transmission history","operationId":"getTransmissionHistory","parameters":[{"name":"filter[types]","in":"query","description":"The types of transmission history that will be returned. If not specified, all types will be returned","required":false,"schema":{"type":"array","items":{"type":"string","enum":["queuedRequests","transmittedRequests","transmittedIrFrames","transmissionEfficiency","waitingForInfoPage","waitingForPricePage","waitingForOtherTransmission"]}},"example":"queuedRequests"}],"responses":{"200":{"description":"Transmission history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransmissionHistoryResponse"}}}}}}},"/api/private/system-message/v1/current":{"get":{"tags":["system-message-controller"],"summary":"Returns the current system message, if any","operationId":"getCurrentSystemMessage","responses":{"200":{"description":"The current system message","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SystemMessage"}}}}}}},"/api/private/reports/v1/jasper":{"get":{"tags":["Jasper reports API:"],"summary":"Get all reports","operationId":"getAllReports","responses":{"200":{"description":"List of reports","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JasperReport"}}}}}}}},"/api/private/reports/v1/jasper/generate/{name}":{"get":{"tags":["Jasper reports API:"],"summary":"Generate and download a report","operationId":"generateReport","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Generated report","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}}},"/api/private/print/v1/sticker-image":{"get":{"tags":["Print API: Sticker Images (BETA)"],"summary":"Get a sticker image. Returns an image/png on success and a application/json response on error","operationId":"getStickerImage","parameters":[{"name":"modelName","in":"query","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}},"404":{"description":"Not found","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/private/print/v1/sticker-image/models":{"get":{"tags":["Print API: Sticker Images (BETA)"],"summary":"Get model names","operationId":"getModels","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/private/notification/v1/notifications":{"get":{"tags":["Notification API: Notifications"],"summary":"List all notifications","operationId":"listNotifications","parameters":[{"name":"limitNumberOfHiddenNotifications","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"filter[hidden]","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter[severity]","in":"query","required":false,"schema":{"type":"string","enum":["ERROR","WARNING","INFO","OK"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Notification"}}}}}}}},"/api/private/notification/v1/notifications/{id}":{"get":{"tags":["Notification API: Notifications"],"summary":"Get notification","operationId":"getNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Notification"}}}}}}},"/api/private/info/v1/version":{"get":{"tags":["version-controller"],"operationId":"getVersions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VersionInfo"}}}}}}},"/api/private/info/v1/prc-history":{"get":{"tags":["prc-history-controller"],"operationId":"getPrcHistory","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrcHistory"}}}}}}}},"/api/private/file/v1/pfi/result-file/{dataFileName}":{"get":{"tags":["api-private-file-v-1-pfi-controller"],"summary":"Get result file for a processed PFI file","description":"Get the result file for a processed PFI file.","operationId":"getResultFile","parameters":[{"name":"dataFileName","in":"path","description":"The name of the PFI data file","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}}},"/api/private/core/v1/search":{"get":{"tags":["BETA Core API: Search"],"description":"Search for items","operationId":"search","parameters":[{"name":"queryType","in":"query","description":"The type of query to use","required":true,"schema":{"type":"string","enum":["ITEM_BY_ID","ITEM_BY_NAME","ITEM_BY_ID_OR_NAME_OR_LINKED_BARCODE"]}},{"name":"query","in":"query","description":"The search query","required":false,"schema":{"type":"string","default":""}},{"name":"projection","in":"query","description":"Level of detail in the projection of an item.<br/><ul>  <li>    S includes:    <ul>      <li>id</li>      <li>name</li>      <li>price</li>    </ul>  </li>  <li>    M includes:    <ul>      <li>All of S</li>      <li>itemGroup</li>      <li>department</li>      <li>presentation</li>      <li>lastUpdated</li>      <li>validFrom</li>      <li>sics</li>      <li>properties</li>    </ul>  </li>  <li>    L includes:    <ul>      <li>All of M</li>      <li>links</li>    </ul>  </li></ul>","required":false,"schema":{"type":"string","enum":["S","M","L"]}},{"name":"page","in":"query","description":"The page of the results","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"pageSize","in":"query","description":"The numbers of items to include on a page","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":10},{"name":"sortProperty","in":"query","required":false,"schema":{"type":"string","enum":["ITEM_ID","ITEM_NAME","PRICE","ITEM_GROUP","DEPARTMENT","PRESENTATION","LAST_UPDATED"]}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"filter[itemId]","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filter[itemName]","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter[price]","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter[itemGroup]","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter[department]","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter[presentation]","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter[sics]","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter[numLinks]","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"filter[linked]","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter[linkedBarcode]","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter[linkedLabelPlState]","in":"query","required":false,"schema":{"type":"string","enum":["OK","WAITING_FOR_UPDATE","ROAMING","FAILED","WAITING_FOR_UNLINK"]}},{"name":"filter[linkedModelName]","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicCoreV1Item"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MappingJacksonValue"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MappingJacksonValue"}}}}}}},"/api/private/core/v1/requests":{"get":{"tags":["Core API: Request"],"summary":"Lists all requests","operationId":"getRequests","parameters":[{"name":"page","in":"query","description":"The page of the results","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"pageSize","in":"query","description":"The number of items to include on a page","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"sortProperty","in":"query","required":false,"schema":{"type":"string","default":"requestId","enum":["requestId","received","processingDone"]}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"DESC","enum":["ASC","DESC"]}},{"name":"includeProgress","in":"query","description":"If the optional progress fields should be included in the response","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateCoreV1Request"}}}}},"400":{"description":"Page size limit exceeded","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateCoreV1Request"}}}}}}}},"/api/private/core/v1/requests/{requestId}":{"get":{"tags":["Core API: Request"],"summary":"Get a single request","operationId":"getRequest","parameters":[{"name":"requestId","in":"path","description":"The id of the request to get","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"includeProgress","in":"query","description":"If the optional progress fields should be included in the response","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1Request"}}}},"404":{"description":"Not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1Request"}}}}}}},"/api/private/core/v1/requests/status-by-day":{"get":{"tags":["Core API: Request"],"summary":"Get count of request entry statuses by day","operationId":"getStatusByDay","parameters":[{"name":"filter[onlyAffectingLabels]","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"numberOfDaysBack","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":7}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1RequestStatusByDay"}}}},"400":{"description":"Page size limit exceeded","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCoreV1RequestStatusByDay"}}}}}}},"/api/private/core/v1/request-entries":{"get":{"tags":["Core API: Request Entry"],"summary":"Lists all request entries","operationId":"getRequestEntries","parameters":[{"name":"page","in":"query","description":"The page of the results","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"pageSize","in":"query","description":"The number of items to include on a page","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10},{"name":"sortProperty","in":"query","required":false,"schema":{"type":"string","default":"id","enum":["id","requestId","itemId"]}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"filter[itemId]","in":"query","description":"Filter by itemId, if not specified matches all item ids","required":false,"schema":{"type":"string"},"example":1},{"name":"filter[requestId]","in":"query","description":"Filter by requestId, if not specified matches all request ids","required":false,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"filter[barcode]","in":"query","description":"Filter by barcode, if not specified matches all barcodes","required":false,"schema":{"type":"string"},"example":"G4421230818613183"},{"name":"filter[plState]","in":"query","description":"Filter by label state, if not specified matches all states","required":false,"schema":{"type":"string","enum":["OK","WAITING_FOR_UPDATE","ROAMING","FAILED","WAITING_FOR_UNLINK"]},"example":"OK"},{"name":"filter[resultCode]","in":"query","description":"Filter by result code contains, if not specified matches all result codes","required":false,"schema":{"type":"string"},"example":"OK"},{"name":"filter[propertyErrors]","in":"query","description":"Filter by property errors","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"query","in":"query","description":"Filter by itemId, requestId or barcode containing the query","required":false,"schema":{"type":"string","default":""},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateCoreV1RequestEntry"}}}}},"400":{"description":"Page size limit exceeded","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPrivateCoreV1RequestEntry"}}}}}}}},"/api/private/core/v1/nfc/decode/{tag}":{"get":{"tags":["BETA Core API: NFC"],"summary":"Decode label barcode from NFC tag","operationId":"decode_1","parameters":[{"name":"tag","in":"path","description":"NFC Tag","required":true,"schema":{"type":"string"},"example":"BDn8cmjwcB"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NfcDecodeResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NfcDecodeResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NfcDecodeResponse"}}}}}}},"/api/private/core/v1/labels/{barcode}/pages":{"get":{"tags":["Core API: Label page"],"summary":"List all pages for a label","operationId":"listAllPages","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LabelPage"}}}}}}}},"/api/private/core/v1/labels/{barcode}/pages/price-page/image.png":{"get":{"tags":["Core API: Label page"],"summary":"Get the current price page image","operationId":"getPricePageImage","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/private/core/v1/labels/{barcode}/pages/info-pages/{name}/image.png":{"get":{"tags":["Core API: Label page"],"summary":"Get an info page image","operationId":"getInfoPageImage","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/private/core/v1/labels/{barcode}/diagnostics":{"get":{"tags":["Core API: Label"],"summary":"Get diagnostics information for a label","operationId":"getDiagnostics","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Invalid barcode","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorInfo"}}}},"404":{"description":"Label not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorInfo"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LabelDiagnosticsResponse"}}}}}}},"/api/private/core/v1/labels/esl-key-code":{"get":{"tags":["Core API: Label"],"summary":"Get ESL Key Code","operationId":"getEslKeyCode","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/private/core/v1/label-types":{"get":{"tags":["Core API: Label types"],"summary":"List all types of labels","operationId":"listAll","parameters":[{"name":"showBarcode","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"filter[plType]","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"filter[fwVersion]","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter[hwRevision]","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LabelTypeSummary"}}}}}}}},"/api/private/core/v1/label-state-summary":{"get":{"tags":["Core API: Label state summary"],"summary":"Get a label state summary","operationId":"getLabelStateSummary","responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LabelStateSummary"}}}}}}},"/api/private/core/v1/label-features":{"get":{"tags":["Core API: Label features"],"summary":"List all features","operationId":"listAll_1","responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LabelFeatureSummary"}}}}}}}},"/api/private/core/v1/label-features/{labelFeature}/labels":{"get":{"tags":["Core API: Label features"],"summary":"List all labels either supporting or not supporting a specific feature","operationId":"listLabelsForFeature","parameters":[{"name":"labelFeature","in":"path","description":"The name of the feature","required":true,"schema":{"type":"string","enum":["FAST_FLASH","FLASH","RGB_LED","TRX_PARTITIONING"]}},{"name":"filter","in":"query","description":"Specifies which labels should be listed. Current choices are either those that support the feature or those that do not","required":true,"schema":{"type":"string","enum":["SUPPORTED","NOT_SUPPORTED"]}}],"responses":{"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Bad request","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"404":{"description":"Not found","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/private/core/v1/items/linked":{"get":{"tags":["BETA Core API: Item"],"summary":"Get linked items. Deprecated in favor of /api/private/core/v1/search?filter[linked]=true","operationId":"getLinkedItems","parameters":[{"name":"projection","in":"query","description":"Level of detail in the projection of an item.<br/><ul>  <li>    S includes:    <ul>      <li>id</li>      <li>name</li>      <li>price</li>    </ul>  </li>  <li>    M includes:    <ul>      <li>All of S</li>      <li>itemGroup</li>      <li>department</li>      <li>presentation</li>      <li>lastUpdated</li>      <li>validFrom</li>      <li>sics</li>      <li>properties</li>    </ul>  </li>  <li>    L includes:    <ul>      <li>All of M</li>      <li>links</li>    </ul>  </li></ul>","required":false,"schema":{"type":"string","enum":["S","M","L"]}},{"name":"page","in":"query","description":"The page of the results","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"pageSize","in":"query","description":"The numbers of items to include on a page","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":500}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1Item"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MappingJacksonValue"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MappingJacksonValue"}}}}},"deprecated":true}},"/api/private/core/v1/devices/visualart":{"get":{"tags":["device-controller"],"summary":"Get all Visual Art devices","operationId":"getVisualArtDevices","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeviceInfo"}}}}}}}},"/api/private/camera/v1/camera-groups":{"get":{"tags":["Camera API:"],"summary":"Get a list of the camera groups in the current configuration of the camera groups in the server","operationId":"getCameraGroups","responses":{"200":{"description":"Request Accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1CameraGroupsResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1CameraGroupsResponse"}}}}}}},"/api/private/camera/v1/camera-groups/{camera-group-name}":{"get":{"tags":["Camera API:"],"summary":"Get a list of ESL:s which belongs to the group given in the path","operationId":"getCameraGroup","parameters":[{"name":"camera-group-name","in":"path","description":"The name of the camera group","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Request Accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1CameraGroupResponse"}}}},"400":{"description":"Malformed camera group name","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1CameraGroupResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPrivateCameraV1CameraGroupResponse"}}}}}}},"/api/private/system-message/v1/{systemMessageId}":{"delete":{"tags":["system-message-controller"],"summary":"Deletes a system message","operationId":"deleteSystemMessage","parameters":[{"name":"systemMessageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"System message was not found"},"204":{"description":"System message was successfully deleted"}}}},"/api/private/system-message/v1/all":{"delete":{"tags":["system-message-controller"],"summary":"Deletes all system messages","operationId":"deleteAllSystemMessages","responses":{"204":{"description":"System messages was successfully deleted"}}}},"/api/private/reports/v1/jasper/{name}":{"delete":{"tags":["Jasper reports API:"],"operationId":"delete","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/private/core/v1/labels/unlink-all":{"delete":{"tags":["Core API: Label"],"summary":"Unlink all labels","description":"Endpoint for unlinking all labels\n- Both graphical and segment labels will be removed from R3Server and CAS\n- A broadcast will be sent to graphical labels to show base page\n- No transmission will be made to segment labels so the displayed page will not change on segment labels\n- Note: This is a not a real unlink of labels since key codes and images on the labels are not removed","operationId":"unlinkAll","responses":{"201":{"description":"No content"},"400":{"description":"BAD REQUEST"},"204":{"description":"No Content"}}}},"/api/private/core/v1/items":{"delete":{"tags":["Core API: Item"],"summary":"Delete all items, and unlink all labels","description":"Deletes all items and unlinks all labels in store. Use query parameter to confirm operation, as there is no undo. <br/>Returns an id to the asynchronous delete request, which can be used to query the items-result endpoint.","operationId":"deleteAllItems","parameters":[{"name":"confirm","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"202":{"description":"delete request accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}}}}},"/api/private/advanced/v1/backoffice":{"delete":{"tags":["Advanced API: BackOffice"],"summary":"Clean the entire BackOffice command queue and BackOffice command history","description":"WARNING: This command will trigger a server restarts and clean the entire BackOffice command queue and history.\nThis operation cannot be undone and will discard every command still in queue and erase the current Back Office command history.\nThis is an advanced API that should only be used to recover from improper API usage where the queue has grown to large to be processed normally.\nThe client is responsible to resend any data lost. This include all type of commands - not just Item Updates.","operationId":"cleanBackOfficeCommandQueueAndHistory","responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"NotificationSettings":{"type":"object","description":"Notification Settings","properties":{"bsWarnLevel":{"type":"number","format":"double","description":"Warning when number of faulty base stations exceeds"},"bsErrorLevel":{"type":"number","format":"double","description":"Error when number of faulty base stations exceeds"},"trxWarnLevel":{"type":"number","format":"double","description":"Warning when number of faulty transceivers exceeds"},"trxErrorLevel":{"type":"number","format":"double","description":"Error when number of faulty transceivers exceeds"},"trxThresholdWarnLevel":{"type":"number","format":"double","description":"Warning when number of transceivers below threshold exceeds"},"trxThresholdErrorLevel":{"type":"number","format":"double","description":"Error when number of transceivers below threshold exceeds"},"eslFailWarnLevel":{"type":"number","format":"double","description":"Warning when number of failed ESLs exceeds"},"eslFailErrorLevel":{"type":"number","format":"double","description":"Error when number of failed ESLs exceeds"},"roamAlertMode":{"type":"string","description":"Alert levels for ESLs in roaming based on","enum":["COUNT","PERCENT"]},"roamWarnLevel":{"type":"number","format":"double","description":"Warning when number of ESLs in roaming exceeds"},"roamErrorLevel":{"type":"number","format":"double","description":"Error when number of ESLs in roaming exceeds"},"batteryAlertMode":{"type":"string","description":"Alert levels for low battery ESLs based on","enum":["COUNT","PERCENT"]},"batteryWarnLevel":{"type":"number","format":"double","description":"Warning when number of low battery ESLs exceeds"},"batteryErrorLevel":{"type":"number","format":"double","description":"Error when number of low battery ESLs exceeds"}},"required":["batteryAlertMode","roamAlertMode"]},"ApiExternalModel":{"type":"object","description":"The external model","properties":{"name":{"type":"string","description":"The name of the model","example":"Fixme"},"plType":{"type":"integer","format":"int32","description":"The PL Type of the model","example":1318},"linkPositions":{"type":"integer","format":"int32","description":"The number of link positions for the model","example":1},"defaultModel":{"type":"boolean","description":"Whether the model is default for the PL type or not","example":true},"infoViews":{"type":"array","description":"A list of info views for the model","items":{"$ref":"#/components/schemas/ApiExternalModelInfoView"}},"rotation":{"type":"string","description":"The rotation of the model","enum":["DEGREES_0","DEGREES_90","DEGREES_180","DEGREES_270"],"example":"DEGREES_0"}},"required":["name"]},"ApiExternalModelInfoView":{"type":"object","description":"A representation of an info (secondary) view for an external ESL model","properties":{"name":{"type":"string","description":"The name of the info view.","example":"FIXME"},"page":{"type":"integer","format":"int32","description":"The number of the page for the info view.","example":1}}},"ApiPublicCoreV1LabelAsicAccessCode":{"type":"object","description":"A class representing access code for label","properties":{"barcode":{"type":"string","description":"Label barcode","example":"A4099520243916391"},"asicAccessCode":{"type":"integer","format":"int32","description":"Label ASIC access code","example":65535}},"required":["asicAccessCode","barcode"]},"FingerprintRequest":{"type":"object","description":"fingerprint","properties":{"eslBarcode":{"type":"string"},"position":{"$ref":"#/components/schemas/Position"}},"required":["eslBarcode","position"]},"Position":{"type":"object","description":"A representation of the position of an ESL","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"floor":{"type":"integer","format":"int32"},"shelf":{"type":"string"},"section":{"type":"integer","format":"int32"}},"required":["floor","x","y"]},"DeviceItemData":{"type":"object","properties":{"itemId":{"type":"string"},"providerData":{"type":"string"}}},"DeviceInfo":{"type":"object","properties":{"deviceId":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/DeviceItem"}}}},"DeviceItem":{"type":"object","properties":{"itemId":{"type":"string"},"itemName":{"type":"string"},"providerData":{"type":"string"},"price":{"type":"string"},"itemGroup":{"type":"string"},"department":{"type":"string"},"presentation":{"type":"string"},"lastUpdated":{"type":"string"},"validFrom":{"type":"string"},"sics":{"type":"array","items":{"type":"string"}},"properties":{"type":"object","additionalProperties":{"type":"string"}}}},"VerifyLedStateRequest":{"type":"object","properties":{"aledOn":{"type":"boolean"},"color":{"type":"string"},"flashType":{"type":"integer","format":"int32"}}},"ChecksumResult":{"type":"object","properties":{"result":{"type":"string","enum":["PENDING","NOT_SUPPORTED_BY_LICENSE","INVALID_ESL_TYPE","INVALID_PAGE","INVALID_IMAGE","INVALID_REQUEST"]},"id":{"type":"integer","format":"int64"}}},"VerifyImageRequest":{"type":"object","properties":{"checksum":{"type":"integer","format":"int32"}}},"CreateSystemMessageRequest":{"type":"object","properties":{"severity":{"type":"string","description":"The severity of the message. Affects the styling when it is displayed","enum":["INFO","WARNING","ERROR"]},"title":{"type":"string","description":"The title for the message"},"message":{"type":"string","description":"The message to be displayed"},"startTime":{"type":"string","format":"date-time","description":"The datetime from when the system message is valid. If not specified, the message is valid from now"},"endTime":{"type":"string","format":"date-time","description":"The datetime until when the system message is valid. If not specified, the message is valid indefinitely"}},"required":["message","severity","title"]},"CreateSystemMessageResponse":{"type":"object","properties":{"systemMessageId":{"type":"integer","format":"int64"}}},"PlazaConnectionRequest":{"type":"object","description":"The request, containing the Pricer plaza pairing key","properties":{"pairingKey":{"type":"string","description":"The pairing key used to connect to Pricer Plaza"}}},"NfcDecodeRequest":{"type":"object","description":"JSON request with the full NFC URL","properties":{"url":{"type":"string","example":"esl.nu/cf/BDn8cmjwcB"}}},"NfcDecodeResponse":{"type":"object","properties":{"barcode":{"type":"string"}}},"CloudSubmissionConfigurationRequest":{"type":"object","description":"Representation of a cloud configuration request","properties":{"enableLabelSubmissions":{"type":"boolean","default":"true","description":"Enable label data cloud submissions, default to true","example":true},"enableUsageSubmissions":{"type":"boolean","default":"true","description":"Enable usage data cloud submissions, default to true","example":true}}},"CloudRegistrationRequest":{"type":"object","description":"Representation of a cloud registration request","properties":{"username":{"type":"string","description":"Username for CAS authentication","example":"YourUsername"},"password":{"type":"string","description":"Password for CAS authentication","example":"ThePassword"},"enableLabelSubmissions":{"type":"boolean","default":"true","description":"Enable label data cloud submissions, default to true","example":true},"enableUsageSubmissions":{"type":"boolean","default":"true","description":"Enable usage data cloud submissions, default to true","example":true}},"required":["password","username"]},"UpdateCameraGroupRequest":{"type":"object","description":"The request for updating the group of a camera ","properties":{"eslBarcode":{"type":"string"},"cameraGroup":{"type":"string"}}},"ApiPrivateCameraV1BroadcastCommandRequest":{"type":"object","description":"The camera command and which camera group to send it to.\nPossible command values:\n - 1: Take picture\n - 2: ESL Detection","properties":{"command":{"type":"string","format":"byte","description":"Camera command to send broadcast group","enum":["range[0, 255]"]},"cameraGroup":{"type":"string","description":"Camera group to send command to"}}},"ApiPrivateCameraV1AddressedCommandRequest":{"type":"object","description":"The camera command and which camera(s) to send it to.\nPossible command values:\n - 1: Take picture\n - 2: ESL Detection","properties":{"command":{"type":"string","format":"byte","description":"Camera command to send to camera(s)","enum":["range[0, 255]"]},"cameras":{"type":"array","description":"List of camera(s) to send addressed command to","items":{"type":"string"}}}},"ApiPrivateCameraV1AddressedCommandResponse":{"type":"object","properties":{"results":{"type":"object","additionalProperties":{"type":"string","enum":["ERROR_INVALID_BARCODE","SUCCESS"]},"description":"Returns a mapping between barcode and success of the command"}}},"ApiPrivateCameraV1SendCameraDataToCloudRequest":{"type":"object","description":"The data to send to Pricer cloud","properties":{"jsonBlob":{"type":"string","description":"Object containing json data later to be used by irps in position calculation."}}},"ApiPrivateCameraV1PositionRequest":{"type":"object","description":"List of barcodes to retrieve positional data for","properties":{"barcodes":{"type":"array","description":"List of barcodes to retrieve positional data for","items":{"type":"string"}}}},"ApiPrivateCameraV1LabelPosition":{"type":"object","description":"Contains barcode, position and a timestamp representing when the position was set for the camera ESL","properties":{"barcode":{"type":"string"},"position":{"$ref":"#/components/schemas/Position"},"timestamp":{"type":"integer","format":"int64"}}},"ApiPrivateCameraV1StopTransmissionRequest":{"type":"object","description":"Transmission pause will timeout after this many milliseconds if not manually resumed before\nThe maximum value is based on the systemparameter BS_TRANSMISSION_RECOVERY_TIMEOUT_MINUTES","properties":{"timeout":{"type":"integer","format":"int32","description":"Fallback timeout in milliseconds"}}},"CameraLinkRequest":{"type":"object","description":"The request for linking a camera ESL","properties":{"eslBarcode":{"type":"string"},"itemId":{"type":"string"},"cameraGroup":{"type":"string"},"modelName":{"type":"string"},"department":{"type":"string"},"linkOrder":{"type":"integer","format":"int32"},"position":{"$ref":"#/components/schemas/CameraPosition"}},"required":["itemId","position"]},"CameraPosition":{"type":"object","description":"A camera position","properties":{"x":{"type":"number","format":"float"},"y":{"type":"number","format":"float"},"floor":{"type":"integer","format":"int32"}},"required":["floor","x","y"]},"ApiPrivateCameraV1BroadcastEslDetectionRequest":{"type":"object","description":"A list of cameras to activate and a stop transmission time","properties":{"cameraGroup":{"type":"string","description":"Camera group to send command to"},"pauseDuration":{"type":"integer","format":"int32","description":"The duration in milliseconds that the server pauses all transmission, max 5 minutes","example":90000},"pauseDelay":{"type":"integer","format":"int32","description":"The delay in milliseconds until the server pauses all transmission","example":15000}}},"ApiPrivateCameraV1AddressedEslDetectionRequest":{"type":"object","description":"A list of cameras to activate and a stop transmission time","properties":{"cameras":{"type":"array","description":"List of cameras to send addressed esl detection to","items":{"type":"string"}},"pauseDuration":{"type":"integer","format":"int32","description":"The duration in milliseconds that the server pauses all transmission, max 5 minutes","example":90000},"pauseDelay":{"type":"integer","format":"int32","description":"The delay in milliseconds until the server pauses all transmission","example":15000}}},"ApiPrivateCameraV1AddressedEslDetectionResponse":{"type":"object","properties":{"results":{"type":"object","additionalProperties":{"type":"string","enum":["ERROR_INVALID_BARCODE","SUCCESS"]},"description":"Returns a mapping between barcode and success of the command"}}},"ApiPrivateCameraV1MappingRequest":{"type":"object","description":"List of PL Ids","properties":{"plIds":{"type":"array","description":"Set of plIds that the request want a barcode lookup for.","items":{"type":"integer","format":"int64"},"uniqueItems":true}}},"ApiPrivateCameraV1MappingResponse":{"type":"object","properties":{"mappings":{"type":"object","additionalProperties":{"type":"string"},"description":"Returns a mapping between plId(s) and barcode(s)"}}},"ApiPrivateCoreV1LinkPropertiesRequest":{"type":"object","description":"A request for updating link properties for a label.","properties":{"facings":{"type":"string","description":"The facings for the link","example":"Up"}}},"ApiPrivateCoreV1LinkPropertiesResponse":{"type":"object","description":"A class representing the response of updating link properties for a label","properties":{"status":{"type":"string","description":"The current status of the update link properties request\nThe value of the status field can be in one of the three following categories:\n * Successful: Either SUCCESS or starting with SUCCESS_\n * Pending: PENDING\n * Failed: Starting with ERROR_"}}},"ApiPrivateCoreV1LabelPropertiesRequest":{"type":"object","description":"A request for updating properties for a label.","properties":{"plLocation":{"type":"string","description":"Pricer label location","example":"Aisle 1"}}},"ApiPrivateCoreV1LabelPropertiesResponse":{"type":"object","description":"A class representing the response of updating properties for a label","properties":{"status":{"type":"string","description":"The current status of the update properties request\nThe value of the status field can be in one of the three following categories:\n * Successful: Either SUCCESS or starting with SUCCESS_\n * Pending: PENDING\n * Failed: Starting with ERROR_"}}},"TransmissionHistoryResponse":{"type":"object","description":"Representation of transmission history data","properties":{"timestamps":{"type":"array","description":"List of timestamps for the transmission history, corresponding to columns in the data","items":{"type":"string","format":"date-time"}},"types":{"type":"array","description":"Types of transmission history, corresponding to rows in the data","items":{"type":"string","enum":["queuedRequests","transmittedRequests","transmittedIrFrames","transmissionEfficiency","waitingForInfoPage","waitingForPricePage","waitingForOtherTransmission"]}},"data":{"type":"array","description":"Grid of data, where each row corresponds to a type and each column to a timestamp","items":{"type":"array","items":{"type":"number"}}}}},"SystemMessage":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"severity":{"type":"string","enum":["INFO","WARNING","ERROR"]},"title":{"type":"string"},"message":{"type":"string"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"}}},"JasperReport":{"type":"object","properties":{"name":{"type":"string","description":"Name of the report"},"fileFormat":{"type":"string","description":"File format of the report"},"jpgDimension":{"type":"string","description":"Dimension of JPG report"}},"required":["name"]},"StreamingResponseBody":{"type":"object"},"Notification":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The notification ID"},"severity":{"type":"string","description":"The severity of the notification","enum":["ERROR","WARNING","INFO","OK"]},"created":{"type":"string","description":"When the notification was created"},"type":{"type":"string","description":"The notification type (untranslated)"},"message":{"type":"string","description":"The notification message (untranslated)"},"messageValues":{"type":"array","description":"The notification message values","items":{"type":"string"}},"hidden":{"type":"boolean","description":"If the notification is hidden"},"sticky":{"type":"boolean","description":"If the notification can be deactivated"}}},"VersionInfo":{"type":"object","properties":{"application":{"type":"string"},"java":{"type":"string"},"mysql":{"type":"string"},"jetty":{"type":"string"},"drivers":{"type":"string"}}},"ApiPrcHistory":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"creationDate":{"type":"string"},"name":{"type":"string"},"version":{"type":"string"},"buildNumber":{"type":"string"},"description":{"type":"string"},"installDate":{"type":"string"}}},"ConfigId":{"type":"object","properties":{"id":{"type":"integer","format":"int32"}}},"DrawShapeBarcode":{"allOf":[{"$ref":"#/components/schemas/ESLFieldPresentation"},{"type":"object","properties":{"type":{"type":"string","enum":["Code39","Code128","INT","UPCA","UPCE","EAN13","EAN8","QR","DATAMATRIX","MSI"]},"rect":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"bounds2D":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"},"empty":{"type":"boolean"},"bounds":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"rect":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"},"empty":{"type":"boolean"},"bounds":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}}},"writeOnly":true},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}},"fgColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}},"bgColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}},"multiProp":{"$ref":"#/components/schemas/EslMultiItemProperty"},"hardValue":{"type":"string"},"showText":{"type":"boolean"},"rotate":{"type":"integer","format":"int32"},"scaleToFit":{"type":"boolean"},"fill":{"type":"boolean"},"checksumType":{"type":"integer","format":"int32"},"addChecksum":{"type":"boolean"},"alignment":{"type":"string","enum":["LEFT","CENTER","RIGHT"]},"colorFields":{"type":"array","items":{"type":"string"}},"foregroundColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}},"writeOnly":true},"backgroundColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}},"writeOnly":true}}}]},"DrawShapeImage":{"allOf":[{"$ref":"#/components/schemas/ESLFieldPresentation"},{"type":"object","properties":{"rect":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"bounds2D":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"},"empty":{"type":"boolean"},"bounds":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"rect":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"},"empty":{"type":"boolean"},"bounds":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}}},"writeOnly":true},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}},"horizontalAnchor":{"type":"string","enum":["LEFT","CENTER","RIGHT"]},"verticalAnchor":{"type":"string","enum":["TOP","CENTER","BOTTOM"]},"rotate":{"type":"integer","format":"int32"},"scale2fit":{"type":"boolean"},"hardValue":{"type":"string"},"invert":{"type":"boolean"},"dither":{"type":"boolean"},"fill":{"type":"boolean"},"fillColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}},"multiProp":{"$ref":"#/components/schemas/EslMultiItemProperty"},"colorFields":{"type":"array","items":{"type":"string"}},"hardValueMultiPropNull":{"type":"string","writeOnly":true},"multiPropHardValueNull":{"$ref":"#/components/schemas/EslMultiItemProperty","writeOnly":true}}}]},"DrawShapeLine":{"allOf":[{"$ref":"#/components/schemas/ESLFieldPresentation"},{"type":"object","properties":{"color":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}},"lineEnding":{"type":"string","enum":["SQUARE","ROUND"]},"lineWidth":{"type":"integer","format":"int32"},"p1":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"p2":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"colorFields":{"type":"array","items":{"type":"string"}}}}]},"DrawShapeRectangle":{"allOf":[{"$ref":"#/components/schemas/ESLFieldPresentation"},{"type":"object","properties":{"rect":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"bounds2D":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"},"empty":{"type":"boolean"},"bounds":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"rect":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"},"empty":{"type":"boolean"},"bounds":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}}},"writeOnly":true},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}},"lineWidth":{"type":"integer","format":"int32"},"roundedCorners":{"type":"boolean"},"cornerRadius":{"type":"integer","format":"int32"},"filled":{"type":"boolean"},"fgColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}},"bgColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}},"colorFields":{"type":"array","items":{"type":"string"}},"foregroundColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}},"writeOnly":true},"backgroundColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}},"writeOnly":true}}}]},"DrawShapeTextBox":{"allOf":[{"$ref":"#/components/schemas/ESLFieldPresentation"},{"type":"object","properties":{"rect":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"bounds2D":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"},"empty":{"type":"boolean"},"bounds":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"rect":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"},"empty":{"type":"boolean"},"bounds":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"location":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"empty":{"type":"boolean"},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}}},"writeOnly":true},"maxX":{"type":"number","format":"double"},"maxY":{"type":"number","format":"double"},"centerX":{"type":"number","format":"double"},"centerY":{"type":"number","format":"double"},"minX":{"type":"number","format":"double"},"minY":{"type":"number","format":"double"}}},"horizontalAnchor":{"type":"string","enum":["LEFT","CENTER","RIGHT"]},"verticalAnchor":{"type":"string","enum":["TOP","CENTER","BOTTOM"]},"fontName":{"type":"string"},"fontSize":{"type":"integer","format":"int32"},"bold":{"type":"boolean"},"italic":{"type":"boolean"},"underline":{"type":"boolean"},"strikeThrough":{"type":"boolean"},"fill":{"type":"boolean"},"fgColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}},"bgColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}},"colorFields":{"type":"array","items":{"type":"string"}},"multiProp":{"$ref":"#/components/schemas/EslMultiItemProperty"},"hardValue":{"type":"string"},"rotate":{"type":"integer","format":"int32"},"wrap":{"type":"boolean"},"shrinkToFit":{"type":"boolean"},"shrinkToFitHorizontally":{"type":"boolean"},"foregroundColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}},"writeOnly":true},"backgroundColor":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}},"writeOnly":true}}}]},"ESLConfig":{"type":"object","properties":{"ciToESLProduct":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ESLProduct"}},"ipfs":{"type":"array","items":{"$ref":"#/components/schemas/IPFEntry"},"uniqueItems":true},"irKeyConfig":{"type":"array","items":{"$ref":"#/components/schemas/IRKeyButtonEntry"}},"configVersion":{"type":"integer","format":"int32"}}},"ESLConversion":{"type":"object","properties":{"clazz":{"type":"string"},"arguments":{"type":"array","items":{"$ref":"#/components/schemas/ESLConversionArgument"}}}},"ESLConversionArgument":{"type":"object","properties":{"argument":{"type":"string"},"itempropertyId":{"$ref":"#/components/schemas/EslMultiItemProperty"}}},"ESLField":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ConfigId"},"type":{"type":"string","enum":["Segment","Gfx","Unknown","LED"]},"serverSideZorder":{"type":"integer","format":"int32"},"linkOrder":{"type":"integer","format":"int32"},"presentations":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/DrawShapeBarcode"},{"$ref":"#/components/schemas/DrawShapeImage"},{"$ref":"#/components/schemas/DrawShapeLine"},{"$ref":"#/components/schemas/DrawShapeRectangle"},{"$ref":"#/components/schemas/DrawShapeTextBox"},{"$ref":"#/components/schemas/ESLSegmentFieldEmptyPresentation"},{"$ref":"#/components/schemas/ESLSegmentFieldPresentation"},{"$ref":"#/components/schemas/EslLedFieldPresentation"}]}},"frameField":{"type":"boolean"}}},"ESLFieldPresentation":{"type":"object","discriminator":{"propertyName":"presentationType"},"properties":{"conversions":{"type":"array","items":{"$ref":"#/components/schemas/ESLConversion"}},"rulesItemData":{"type":"array","items":{"$ref":"#/components/schemas/ESLRule"}},"rulesConvResult":{"type":"array","items":{"$ref":"#/components/schemas/ESLRule"}},"ruleAggregationItemData":{"type":"string","enum":["Any","All"]},"ruleAggregationConvResult":{"type":"string","enum":["Any","All"]},"presentationType":{"type":"string"}},"required":["presentationType"]},"ESLModel":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ConfigId"},"name":{"type":"string"},"product":{"$ref":"#/components/schemas/ESLProduct"},"external":{"type":"boolean"},"isDefault":{"type":"boolean"},"allInfoViews":{"type":"array","items":{"$ref":"#/components/schemas/ESLView"}},"overlayView":{"$ref":"#/components/schemas/ESLView"},"priceViewsPerIPF":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ESLView"}},"ledViewsPerIPF":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ESLView"}},"flashOnTime":{"type":"integer","format":"int32"},"flashOffTime":{"type":"integer","format":"int32"},"scrollTime":{"type":"integer","format":"int32"},"orientation":{"type":"string","enum":["DEGREES_0","DEGREES_90","DEGREES_180","DEGREES_270"]},"unusedPages":{"type":"array","items":{"type":"string","format":"byte"},"uniqueItems":true},"verticalSplits":{"type":"integer","format":"int32"},"horizontalSplits":{"type":"integer","format":"int32"},"splitLineWidth":{"type":"integer","format":"int32"},"disabled":{"type":"boolean"},"topFrameWidth":{"type":"integer","format":"int32"},"bottomFrameWidth":{"type":"integer","format":"int32"},"leftFrameWidth":{"type":"integer","format":"int32"},"rightFrameWidth":{"type":"integer","format":"int32"},"frameInverted":{"type":"boolean"},"individualFrameItems":{"type":"boolean"},"default":{"type":"boolean"}}},"ESLProduct":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ConfigId"},"name":{"type":"string"},"allModels":{"type":"array","items":{"$ref":"#/components/schemas/ESLModel"}},"connectedEslTypes":{"type":"array","items":{"$ref":"#/components/schemas/ESLType"}},"@id":{"type":"string","format":"uuid"}}},"ESLProtocolId":{"type":"object","properties":{"family":{"type":"integer","format":"int32"},"revision":{"type":"integer","format":"int32"}}},"ESLRule":{"type":"object","properties":{"clazz":{"type":"string"},"multiProp":{"$ref":"#/components/schemas/EslMultiItemProperty"},"argument":{"type":"string"}}},"ESLSegmentFieldEmptyPresentation":{"allOf":[{"$ref":"#/components/schemas/ESLFieldPresentation"},{"type":"object","properties":{"driverFieldName":{"oneOf":[{"$ref":"#/components/schemas/SegmentFieldNameImpl"}]},"hardValue":{"type":"string"},"multiProp":{"$ref":"#/components/schemas/EslMultiItemProperty"},"flashing":{"type":"boolean"},"hardValueNullMulti":{"type":"string","writeOnly":true},"multiPropNullHardValue":{"$ref":"#/components/schemas/EslMultiItemProperty","writeOnly":true}}}]},"ESLSegmentFieldPresentation":{"allOf":[{"$ref":"#/components/schemas/ESLFieldPresentation"},{"type":"object","properties":{"hardValue":{"type":"string"},"multiProp":{"$ref":"#/components/schemas/EslMultiItemProperty"},"driverFieldName":{"oneOf":[{"$ref":"#/components/schemas/SegmentFieldNameImpl"}]},"flashing":{"type":"boolean"},"hardValueNullMulti":{"type":"string","writeOnly":true},"multiPropNullHardValue":{"$ref":"#/components/schemas/EslMultiItemProperty","writeOnly":true}}}]},"ESLType":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ConfigId"},"supportsPreloading":{"type":"boolean"},"eslTypeId":{"type":"integer","format":"int32"},"driverType":{"$ref":"#/components/schemas/EslDriverType","writeOnly":true},"colorESLRepresentationColor":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"colorESLRepresentationInteger":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"product":{"$ref":"#/components/schemas/ESLProduct"},"driver":{"$ref":"#/components/schemas/EslDriverType"}}},"ESLView":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ConfigId"},"name":{"type":"string"},"type":{"type":"string","enum":["PRICE","INFO","OVERLAY","LED","OFF"]},"configRegister":{"type":"integer","format":"int32"},"inverted":{"type":"boolean"},"fields":{"type":"array","items":{"$ref":"#/components/schemas/ESLField"}},"actualPages":{"type":"array","items":{"type":"string","format":"byte"}},"linkPosistions":{"type":"array","items":{"type":"integer","format":"int32"},"uniqueItems":true}}},"EslBorderLayout":{"type":"object","properties":{"position":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"size":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}}}},"EslDriverType":{"type":"object","properties":{"features":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string","enum":["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]}}},"article":{"type":"string"},"screenSizeChecksumTestable":{"type":"boolean"},"orientation":{"type":"string","enum":["DEGREES_0","DEGREES_90","DEGREES_180","DEGREES_270"]},"colorPalette":{"type":"array","items":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}}},"displayType":{"type":"string","enum":["SEGMENT","DM","IRKEY","POSTER"]},"hwRevision":{"type":"string","format":"byte"},"deviceFileName":{"type":"string"},"compatibleTypes":{"type":"array","items":{"type":"integer","format":"int32"}},"dmLabelScreenResolution":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"yscreenDPI":{"type":"integer","format":"int32"},"freezer":{"type":"boolean"},"noOfPages":{"type":"integer","format":"int32"},"processingTime":{"type":"integer","format":"int32"},"screenRefreshTime":{"type":"integer","format":"int32"},"secondaryPricePage":{"type":"integer","format":"int32"},"segmentLabelOverlaySize":{"type":"object","properties":{"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"}}},"protocolId":{"$ref":"#/components/schemas/ESLProtocolId"},"rechargeTime":{"type":"integer","format":"int32"},"validFlashTimes":{"type":"string","enum":["DEFAULT","NOT_SUPPORTED"]},"validScrollTimes":{"type":"string","enum":["DEFAULT","NOT_SUPPORTED"]},"xscreenDPI":{"type":"integer","format":"int32"},"hideInClient":{"type":"boolean"},"borderLayout":{"$ref":"#/components/schemas/EslBorderLayout"},"ledLayout":{"$ref":"#/components/schemas/EslLedLayout"},"timeorderFileName":{"type":"string"},"name":{"type":"string"},"type":{"type":"integer","format":"int32"},"protocol":{"type":"string","enum":["PP4C_Default","PP4C_Default_Warp","PP4C_FREEZER","PP4C_DMPL","PP4C_DMPL_CAMERA","PP4C_IRKEY","PP16A_Default","PP16A_DMPL","PP16A_DMPL_CAMERA","PP16A_DMPL_Warp"]}}},"EslLedFieldPresentation":{"allOf":[{"$ref":"#/components/schemas/ESLFieldPresentation"},{"type":"object","properties":{"hardValue":{"type":"string"},"multiProp":{"$ref":"#/components/schemas/EslMultiItemProperty"},"multiPropNullHardvalue":{"$ref":"#/components/schemas/EslMultiItemProperty","writeOnly":true},"hardValueNullMulti":{"type":"string","writeOnly":true}}}]},"EslLedLayout":{"type":"object","properties":{"position":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"}}},"color":{"type":"object","properties":{"red":{"type":"integer","format":"int32"},"green":{"type":"integer","format":"int32"},"blue":{"type":"integer","format":"int32"},"alpha":{"type":"integer","format":"int32"},"colorSpace":{"type":"object","properties":{"type":{"type":"integer","format":"int32"},"numComponents":{"type":"integer","format":"int32"},"cs_sRGB":{"type":"boolean"}}},"rgb":{"type":"integer","format":"int32"},"transparency":{"type":"integer","format":"int32"}}}}},"EslMultiItemProperty":{"type":"object","properties":{"itemPropertyId":{"$ref":"#/components/schemas/ItemPropertyId"}}},"IPFEntry":{"type":"object","properties":{"name":{"type":"string"},"default":{"type":"boolean"}}},"IRKeyButtonEntry":{"type":"object","properties":{"button":{"type":"integer","format":"int32"},"buttonType":{"type":"string","enum":["Segment","DM","DM_SmartTAG"]},"dmPage":{"type":"string","enum":["PricePage","InfoPage1","InfoPage2","InfoPage3","InfoPage4","InfoPage5","InfoPage6","InfoPage7","BarcodePage"]},"segmentPage":{"type":"string","enum":["PricePage","InfoPage1","InfoPage2","InfoPage3","InfoPage4","InfoPage5","InfoPage6","InfoPage7","InfoPage8","InfoPage9","InfoPage10","InfoPage11","InfoPage12","InfoPage13","InfoPage14","InfoPage15","InfoPage16","InfoPage17","InfoPage18","InfoPage19","InfoPage20","InfoPage21","InfoPage22","InfoPage23","InfoPage24","InfoPage25","InfoPage26","InfoPage27","InfoPage28"]},"dmDuration":{"type":"string","enum":["Secs_8","SemiPermanent"]},"segmentDuration":{"type":"string","enum":["Secs_4","Secs_8","Secs_30","Secs_480"]},"lowPower":{"type":"boolean"}}},"ItemPropertyId":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"name":{"type":"string"},"sourceType":{"type":"string","enum":["NONE","ITEM","LABEL","SIC","LINK"]},"visible":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"type":{"type":"string","enum":["STRING","PRICE","DATETIME","POSITION"]},"readableName":{"type":"string"},"description":{"type":"string"},"historyLength":{"type":"integer","format":"int32"},"standardPropertyMapping":{"type":"string","enum":["ITEM_DESCRIPTION_SHORT","ITEM_DESCRIPTION_LONG","PARENT_CATEGORY","SUB_CATEGORY","PREVIOUS_PRICE","PROMO_PRICE","PROMO_FLAG","PROMO_ID","STOCK_QUANTITY","NEXT_DELIVERY_DATE","UNIT_CODE","UNIT_PRICE"]}}},"SegmentFieldName":{"type":"object","discriminator":{"propertyName":"type"},"properties":{"name":{"type":"string"},"type":{"type":"string"}},"required":["type"]},"SegmentFieldNameImpl":{"allOf":[{"$ref":"#/components/schemas/SegmentFieldName"}]},"ApiPublicCoreV1Item":{"type":"o
[...]
