{"openapi":"3.1.0","info":{"title":"Store REST API Documentation","description":"Store REST API Documentation","contact":{"name":"Pricer","url":"http://www.pricer.com","email":"info@pricer.com"},"license":{"name":"Apache 2.0","url":"http://springdoc.org"},"version":"v1.0.0"},"servers":[{"url":"https://demo.ps.pcm.pricer-plaza.com","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Core API: Request processing status","description":"Endpoint for fetching the current processing status of a requests"},{"name":"Reports API: Auto-unlinked labels","description":"Deprecated in favour of V2"},{"name":"Core API: Item","description":"Endpoint to fetch, add and update items"},{"name":"Core API: IR Keys","description":"Endpoints for managing IR Keys"},{"name":"File API: Images","description":"Endpoint to manage images"},{"name":"Core API: Item metrics","description":"Endpoints to get item metrics"},{"name":"Infra API: LinkDepartments","description":"Endpoint to fetch, add and update LinkDepartments"},{"name":"Map API","description":"Endpoint providing various map operations"},{"name":"Configuration API: System, UI and Global params","description":"BETA endpoints related to system configuration"},{"name":"Infra API: Transmission Zones","description":"Endpoint to fetch, add and update transmission zones"},{"name":"File API: Fonts","description":"Endpoint to fetch, delete and add label and poster fonts"},{"name":"Product positioning API: Calibration","description":"Endpoints related to calibration of product positioning"},{"name":"Config API: Webhooks","description":"Endpoint for managing webhook configurations"},{"name":"Infra API: Infra tests","description":"Endpoint for executing infrastructure tests"},{"name":"Config API: Standard item properties","description":"Endpoint for listing the predefined set of item properties"},{"name":"Config API: LDAP","description":"Endpoint to patch LDAP configuration"},{"name":"Config API: Item properties","description":"Endpoint to manage item property configuration"},{"name":"Core API: Flash","description":"Endpoint for flashing either a list of labels or the labels linked to a list of items. Results can be fetched asynchronously using the flash-result endpoint. The results are automatically purged 6 hours after request submission or during server restart, which ever happens first."},{"name":"Infra API: Basestations","description":"Endpoint to fetch, add and update basestations"},{"name":"Core API: IR Key Config Status","description":"Endpoints for fetching the status of the IR Key configuration"},{"name":"Core API: Item delete result","description":"Endpoint to fetch results of item delete requests and item update requests"},{"name":"Core API: Flash result","description":"Endpoint for fetching results of requests for flashing  multiple labels or items"},{"name":"Core API: Label result","description":"Endpoint for fetching results of link requests"},{"name":"Config API: Template","description":"Endpoint for templates"},{"name":"Config API: Job execution","description":"Endpoints related to job execution"},{"name":"Config API: Job configuration","description":"Endpoints related to job configuration"},{"name":"Core API: Display Page","description":"Endpoint for displaying pages"},{"name":"Config API: Job","description":"Endpoint to fetch, configure and schedule jobs"},{"name":"Backup API","description":"Endpoints for performing backups"},{"name":"Core API: Label","description":"Endpoint for labels"},{"name":"Reports API: Auto-unlinked labels","description":"Endpoints to get report of auto-unlinked labels"},{"name":"Core API: Item result","description":"Endpoint to fetch results of item update requests"},{"name":"Store API: Store configuration such as opening hours and address information","description":"Endpoints related to store configuration"},{"name":"Core API: Scheduled item updates","description":"Endpoints to fetch and delete scheduled item updates"}],"paths":{"/api/public/product-positioning/v1/calibration-labels/{barcode}":{"put":{"tags":["Product positioning API: Calibration"],"summary":"Add or update a calibration point","operationId":"addOrUpdateCalibrationPoint","parameters":[{"name":"barcode","in":"path","description":"The barcode of the label for which to add or update the calibration point","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalibrationPointUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"404":{"description":"Not Found"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}},"delete":{"tags":["Product positioning API: Calibration"],"summary":"Remove a calibration point","operationId":"deleteCalibrationPoint","parameters":[{"name":"barcode","in":"path","description":"The barcode of the label for which to remove the calibration point from","required":true,"schema":{"type":"string"},"example":"A4099520243916391"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}}},"/api/public/map/v1/geo-store/floors/{id}/obstacles":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/obstacles","description":"An endpoint to retrieve the obstacles of a specific floor id of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"getObstaclesById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GeoStorePolygon"}}}}}}},"put":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/obstacles","description":"An endpoint to completely replace the obstacles of a specific floor id of the geo store. The obstacles will replace the existing list of obstacles . An empty list will delete the current obstacles.Every obstacle must contain atleast 3 edges and vertices each, and the number of vertices must equal the number of obstacles. Parameter 'id' represents the floor id, starting with 0.","operationId":"updateObstacles","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GeoStorePolygon"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/map/v1/geo-store/floors/{id}/graphical-map-layer":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/graphical-map-layer","description":"An endpoint to retrieve the graphical map layer of a specific floor id of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"getGraphicalMapLayer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeoFloorLayer"}}}}}},"put":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/graphical-map-layer","description":"An endpoint to update the graphical map layer of a specific floor id of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"updateGraphicalMapLayer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoFloorLayer"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/public/map/v1/geo-store/floors/{id}/floor-boundary":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/floor-boundary","description":"An endpoint to retrieve the floor boundary of a specific floor id of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"getFloorBoundary","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeoStoreFloorBoundary"}}}}}},"put":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/floor-boundary","description":"An endpoint to update the floor boundary of a specific floor id of the geo store.The boundary polygon must contain atleast 3 edges and vertices each, and the number of vertices must equal the number of obstacles.Parameter 'id' represents the floor id, starting with 0.","operationId":"setFloorBoundary","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoStoreFloorBoundary"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/public/map/v1/geo-store/floors/{id}/blueprint-map-layer":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/blueprint-map-layer","description":"An endpoint to retrieve the Geo floor layer of a specific floor id of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"getBlueprintMapLayer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeoFloorLayer"}}}}}},"put":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/blueprint-map-layer","description":"An endpoint to update the Geo floor layer of a specific floor id of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"updateBlueprintMapLayer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoFloorLayer"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/public/map/v1/geo-store/default-shelf-length":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/default-shelf-length","description":"An endpoint to retrieve the default shelf length of the geo store. ","operationId":"getDefaultShelfLength","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"number","format":"float"}}}}}},"put":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/default-shelf-length","description":"An endpoint to set the default shelf length of the geo store. ","operationId":"setDefaultShelfLength","requestBody":{"content":{"application/json":{"schema":{"type":"number","format":"float"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/infra/v1/link-departments/{id}":{"get":{"tags":["Infra API: LinkDepartments"],"summary":"Fetch linkdepartment with id","operationId":"getLinkDepartments","parameters":[{"name":"id","in":"path","description":"Id of linkdepartment","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetLinkDepartmentRequest"}}}}}},"put":{"tags":["Infra API: LinkDepartments"],"summary":"Update a link department","operationId":"updateLinkDepartment","parameters":[{"name":"id","in":"path","description":"Id of link department","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddLinkDepartmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"201":{"description":"CREATED","content":{"*/*":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Infra API: LinkDepartments"],"description":"Delete a link department","operationId":"deleteLinkDepartment","parameters":[{"name":"id","in":"path","description":"Id of link department","required":true,"schema":{"type":"string"},"example":"AA01"}],"responses":{"204":{"description":"No content"}}}},"/api/public/infra/v1/link-departments/back-office":{"get":{"tags":["Infra API: LinkDepartments"],"summary":"Get the link-department which is backoffice","operationId":"getLinkDepartmentBackOffice","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetLinkDepartmentRequest"}}}}}},"put":{"tags":["Infra API: LinkDepartments"],"summary":"Change the link-department which is backoffice","operationId":"changeLinkDepartmentBackOffice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeBackOffice"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/public/infra/v1/basestations/{name-or-hwid}":{"get":{"tags":["Infra API: Basestations"],"summary":"Fetch a basestation","operationId":"getBasestation","parameters":[{"name":"name-or-hwid","in":"path","description":"Hardware id or name of basestation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiBasestation"}}}}}},"put":{"tags":["Infra API: Basestations"],"summary":"Update or create a basestation","operationId":"updateBasestation","parameters":[{"name":"name-or-hwid","in":"path","description":"Hardware id or name of basestation","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBasestation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}},"201":{"description":"CREATED","content":{"application/json":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Infra API: Basestations"],"description":"Delete a basestation","operationId":"deleteBaseStation","parameters":[{"name":"name-or-hwid","in":"path","description":"Hardware id or name of basestation","required":true,"schema":{"type":"string"},"example":"A"}],"responses":{"204":{"description":"No content"}}}},"/api/public/infra/v1/basestations/{name-or-hwid}/transceivers/{port}":{"get":{"tags":["Infra API: Basestations"],"summary":"Get specific transceiver of basestation and port","operationId":"getTransceiverForBasestation","parameters":[{"name":"name-or-hwid","in":"path","description":"Hardware id or name of basestation","required":true,"schema":{"type":"string"}},{"name":"port","in":"path","description":"Port of transceiver","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransceiverInfo"}}}},"404":{"description":"No basestation or transceiver found on port","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransceiverInfo"}}}}}},"put":{"tags":["Infra API: Basestations"],"summary":"Update a transceivers location","operationId":"updateTransceiverLocation","parameters":[{"name":"name-or-hwid","in":"path","description":"Hardware id or name of basestation","required":true,"schema":{"type":"string"}},{"name":"port","in":"path","description":"Port of transceiver","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransceiverLocation"}}},"required":true},"responses":{"200":{"description":"Transceiver location updated"},"404":{"description":"No basestation or transceiver found on port"}}},"delete":{"tags":["Infra API: Basestations"],"summary":"Remove an unconnected/FAULTY transceiver","operationId":"removeTransceiverFromBasestation","parameters":[{"name":"name-or-hwid","in":"path","description":"Hardware id or name of basestation","required":true,"schema":{"type":"string"}},{"name":"port","in":"path","description":"Port of transceiver","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK"},"400":{"description":"The transceiver is operational and cannot be removed"},"404":{"description":"No basestation or transceiver found on port"}}}},"/api/public/core/v1/labels/{barcode}/positions/manual":{"put":{"tags":["Core API: Label"],"summary":"Update manual position","description":"Add or update the manual position of an ESL.","operationId":"updateManualPosition","parameters":[{"name":"barcode","in":"path","description":"The barcode of the label","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualPositionUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Not Found"}}},"delete":{"tags":["Core API: Label"],"summary":"Delete manual position","description":"Delete the manual position of an ESL. Also removes any queued up fingerprint request for the ESL.","operationId":"deleteManualPosition","parameters":[{"name":"barcode","in":"path","description":"The barcode of the label","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Not Found"}}}},"/api/public/core/v1/ir-keys/{barcode}":{"get":{"tags":["Core API: IR Keys"],"summary":"Get a specific IR Key","operationId":"getIRKey","parameters":[{"name":"barcode","in":"path","description":"The barcode of the IR Key","required":true,"schema":{"type":"string"},"example":"G4421230000012246"}],"responses":{"401":{"description":"Unauthorized"},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IRKey"}}}}}},"put":{"tags":["Core API: IR Keys"],"summary":"Link an IR Key","operationId":"linkIRKey","parameters":[{"name":"barcode","in":"path","description":"The barcode of the IR Key","required":true,"schema":{"type":"string"},"example":"G4421230000012246"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRKeyLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}},"delete":{"tags":["Core API: IR Keys"],"summary":"Unlink an IR Key","operationId":"unlinkIRKey","parameters":[{"name":"barcode","in":"path","description":"The barcode of the IR Key","required":true,"schema":{"type":"string"},"example":"G4421230000012246"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}}},"/api/public/config/v1/webhook/configurations/{uuid}":{"get":{"tags":["Config API: Webhooks"],"summary":"Get an existing webhook configuration","operationId":"getConfiguration","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetOrPutWebhookConfiguration"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetOrPutWebhookConfiguration"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetOrPutWebhookConfiguration"}}}}}},"put":{"tags":["Config API: Webhooks"],"summary":"Update the webhook configuration with the given uuid","operationId":"updateById","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrPutWebhookConfiguration"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}}},"delete":{"tags":["Config API: Webhooks"],"summary":"Delete the webhook configuration with the given uuid","operationId":"deleteById","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/config/v1/system-parameters/{name}":{"get":{"tags":["Configuration API: System, UI and Global params"],"summary":"Get system parameter","description":"Get a single specified system parameter","operationId":"getSystemParameter","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found"},"200":{"description":"System parameter retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SystemParameterConfiguration"}}}}}},"put":{"tags":["Configuration API: System, UI and Global params"],"summary":"Set system parameter","description":"Set a single specified system parameter","operationId":"setSystemParameter","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New value for system parameter.","content":{"application/json":{"schema":{"type":"object"},"example":"newValue"}},"required":true},"responses":{"400":{"description":"Bad request, invalid datatype"},"404":{"description":"System parameter not found"},"200":{"description":"System parameter updated successfully"}}}},"/api/public/config/v1/store/business-hours":{"get":{"tags":["Store API: Store configuration such as opening hours and address information"],"summary":"Get business hours","description":"Get store business hours setting","operationId":"getBusinessHours","responses":{"200":{"description":"Business hours fetched successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessDays"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["Store API: Store configuration such as opening hours and address information"],"summary":"Set business hours for a store","description":"Replaces existing business hours for one or more days","operationId":"setStoreBusinessHours","requestBody":{"description":"New values for business hours settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessDays"}}},"required":true},"responses":{"400":{"description":"Bad request"},"404":{"description":"Not Found"},"200":{"description":"Business hours updated successfully"}}}},"/api/public/config/v1/store/address":{"get":{"tags":["Store API: Store configuration such as opening hours and address information"],"summary":"Get store address information","operationId":"getStoreAddressInformation","responses":{"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicV1StoreAddress"}}}}}},"put":{"tags":["Store API: Store configuration such as opening hours and address information"],"summary":"Update store address information for a store","operationId":"setStoreBusinessHours_1","requestBody":{"description":"Updated store address information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicV1StoreAddress"}}},"required":true},"responses":{"200":{"description":"Success"},"400":{"description":"Bad request"}}}},"/api/public/config/v1/jobs/{jobId}":{"get":{"tags":["Config API: Job"],"summary":"Get single job","description":"Fetches one job based on ID or External ID","operationId":"getJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to fetch","required":true,"schema":{"type":"string"},"example":2}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1Job"}}}}}},"put":{"tags":["Config API: Job"],"summary":"Update or create specified job","description":"Updates or creates one job based on ID or External ID","operationId":"createOrUpdateJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to create or update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1Job"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorInfo"}}}}}},"delete":{"tags":["Config API: Job"],"summary":"Delete a job","description":"Deletes one job based on ID or External ID","operationId":"deleteJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to delete","required":true,"schema":{"type":"string"},"example":2}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1Job"}}}}}}},"/api/public/config/v1/jobs/refresh/{jobId}":{"put":{"tags":["Config API: Job"],"summary":"Create or update a new Refresh All Linked ESLs job","operationId":"createOrUpdateRefreshJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPutRequestApiPublicConfigV1JobRefreshAllLinkedEslsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}},"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}},"patch":{"tags":["Config API: Job"],"summary":"Update specified Refresh All Linked ESLs job","operationId":"updateRefreshJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPatchRequestApiPublicConfigV1JobRefreshAllLinkedEslsRequest"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}}},"/api/public/config/v1/jobs/generate-report/{jobId}":{"put":{"tags":["Config API: Job"],"summary":"Create or update a new Generate Report job","operationId":"createGenerateJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPutRequestApiPublicConfigV1JobGenerateReportPutRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}},"patch":{"tags":["Config API: Job"],"summary":"Update specified Generate Report job","operationId":"updateGenerateReportJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPatchRequestApiPublicConfigV1JobGenerateReportPatchRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}}},"/api/public/config/v1/jobs/display-page-segment/{jobId}":{"put":{"tags":["Config API: Job"],"summary":"Create or update a Display Page job for Segment labels","operationId":"createShowViewJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to fetch","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPutRequestApiPublicConfigV1JobDisplayPageSegmentPutRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}},"patch":{"tags":["Config API: Job"],"summary":"Update specified Display Page job for Segment labels","description":"Updates one job based on ID or External ID","operationId":"updateShowViewJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to fetch","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPatchRequestApiPublicConfigV1JobDisplayPageSegmentPatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/public/config/v1/jobs/display-page-graphical/{jobId}":{"put":{"tags":["Config API: Job"],"summary":"Update or create specified Display Page job for Graphical labels","description":"Updates or creates one job based on ID or External ID","operationId":"createOrUpdateShowViewSmartTagJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to create or update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPutRequestApiPublicConfigV1JobDisplayPageGraphicalPutRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"patch":{"tags":["Config API: Job"],"summary":"Update specified Display Page job for Graphical labels","description":"Updates one job based on ID or External ID","operationId":"updateShowViewSmartTagJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPatchRequestApiPublicConfigV1JobDisplayPageGraphicalPatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/public/config/v1/jobs/disable-transceivers/{jobId}":{"put":{"tags":["Config API: Job"],"summary":"Create or update a Disable Transceivers job","operationId":"createOrUpdateDisableTrxJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to create or update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPutRequestApiPublicConfigV1JobDisableTransceiversPostRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}},"patch":{"tags":["Config API: Job"],"summary":"Update specified Disable Transceivers job","description":"Updates one job based on ID or External ID","operationId":"updateDisableTtxJob","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to update","required":true,"schema":{"type":"string"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPatchRequestApiPublicConfigV1JobDisableTransceiversPatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/public/config/v1/item-properties/{name}":{"put":{"tags":["Config API: Item properties"],"summary":"Create a new item property configuration","operationId":"createProperty","parameters":[{"name":"name","in":"path","description":"The name of a property","required":true,"schema":{"type":"string"},"example":"MyProperty"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiItemProperty"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiItemProperty"}}}}}},"delete":{"tags":["Config API: Item properties"],"summary":"Delete an item property configuration","operationId":"deleteProperty","parameters":[{"name":"name","in":"path","description":"The name of a property","required":true,"schema":{"type":"string"},"example":"MyProperty"}],"responses":{"200":{"description":"OK","content":{"application/json":{}}}}},"patch":{"tags":["Config API: Item properties"],"summary":"Update an item property configuration","operationId":"updateProperty","parameters":[{"name":"name","in":"path","description":"The name of a property","required":true,"schema":{"type":"string"},"example":"MyProperty"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiItemProperty"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiItemProperty"}}}}}}},"/api/public/config/v1/global-parameters/{name}":{"get":{"tags":["Configuration API: System, UI and Global params"],"summary":"Get global parameter","description":"Get a single specified global parameter","operationId":"getGlobalParameter","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"No matching global parameter found"},"200":{"description":"Global parameter retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalParameterConfiguration"}}}}}},"put":{"tags":["Configuration API: System, UI and Global params"],"summary":"Set global parameter","description":"Set a single specified global parameter","operationId":"setGlobalParameter","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New value for global parameter.","content":{"text/plain":{"schema":{"type":"string"},"example":"newValue"}},"required":true},"responses":{"200":{"description":"Global parameter set successfully"}}},"delete":{"tags":["Configuration API: System, UI and Global params"],"summary":"Delete global parameter","description":"Delete a single specified global parameter","operationId":"deleteGlobalParameter","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Global parameter deleted successfully","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Global parameter not Found"}}}},"/api/public/config/v1/general-settings/{name}":{"get":{"tags":["Configuration API: System, UI and Global params"],"summary":"Get a general setting","description":"Get a single specified general setting","operationId":"getGeneralSetting","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"General setting fetched successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneralSettingConfiguration"}}}},"404":{"description":"Not Found"}}},"put":{"tags":["Configuration API: System, UI and Global params"],"summary":"Set value or values for a general setting","description":"Replaces existing value or values for a single specified general setting","operationId":"setGeneralSetting","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New value for general setting. <br> Type SINGLE = single value (e.g. true). <br> Type MULTIPLE = one or more values as a list (e.g. [\"value\", \"value2\"]). <br> Type MAP = an even number of values as key/value pairs (e.g. [\"key1\", \"value1\", \"key2\", \"value2\"])","content":{"application/json":{"schema":{"type":"string"},"example":"newValue"}},"required":true},"responses":{"200":{"description":"General setting updated successfully"},"400":{"description":"Bad request"},"404":{"description":"Not Found"}}}},"/api/public/backup/v1/prc/config-export/configurations/{id}":{"put":{"tags":["Backup API"],"summary":"Update a config export configuration","operationId":"updatePrcConfiguration","parameters":[{"name":"id","in":"path","description":"Id of the configuration export to update","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrcConfiguration"}}},"required":true},"responses":{"200":{"description":"OK"},"404":{"description":"Not found"},"400":{"description":"Bad Request"}}},"delete":{"tags":["Backup API"],"summary":"Delete a config export configuration","operationId":"deletePrcConfiguration","parameters":[{"name":"id","in":"path","description":"Name of the configuration to delete","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"404":{"description":"Configuration not found"}}}},"/api/public/map/v1/geo-store/floors/{id}/graphical.png":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/graphical.png","description":"An endpoint to retrieve the graphical map image (*.png) of a specific floor id of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"getGraphicalPicture","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"post":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/graphical.png","description":"An endpoint to replace the current graphical map image (*.png) of a specific floor id of the geo store.Despite the POST method, the endpoint will replace the current graphical map image.Parameter 'id' represents the floor id, starting with 0.","operationId":"putGraphicalPicture","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"}},"required":["image"]}}}},"responses":{"200":{"description":"OK"}}}},"/api/public/map/v1/geo-store/floors/{id}/blueprint.png":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/blueprint.png","description":"An endpoint to retrieve the blueprint map image (*.png) of a specific floor id of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"getBlueprintPicture","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"post":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}/blueprint.png","description":"An endpoint to replace the current blueprint map image (*.png) of a specific floor id of the geo store.Despite the POST method, the endpoint will replace the current blueprint map image.Parameter 'id' represents the floor id, starting with 0.","operationId":"putBlueprintPicture","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"}},"required":["image"]}}}},"responses":{"200":{"description":"OK"}}}},"/api/public/infra/v1/transmission-zones":{"get":{"tags":["Infra API: Transmission Zones"],"summary":"List transmission zones","operationId":"getTransmissionZones","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}},"post":{"tags":["Infra API: Transmission Zones"],"summary":"Add new transmission zone","operationId":"addTransmissionZone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransmissionZone"}}},"required":true},"responses":{"201":{"description":"CREATED"}}}},"/api/public/infra/v1/tests/false-ack":{"get":{"tags":["Infra API: Infra tests"],"summary":"Get a list of all false ack test runs","operationId":"getAllFalseAckTestRuns","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiFalseAckTestRun"}}}}}}},"post":{"tags":["Infra API: Infra tests"],"summary":"Start false ack test","description":"Starts a false ack test and returns the id of the test result. A test involving 2000 frames is expected to take approximately one minute. All transmission will be paused during the test and automatically resume afterwards.","operationId":"startFalseAckTest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1StartFalseAckTestRequest"}}},"required":true},"responses":{"202":{"description":"ACCEPTED","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1StartFalseAckTestResponse"}}}}}}},"/api/public/infra/v1/tests/coverage":{"get":{"tags":["Infra API: Infra tests"],"summary":"Get a list of all coverage test runs","operationId":"getAllCoverageTestRuns","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiCoverageTestRun"}}}}}}},"post":{"tags":["Infra API: Infra tests"],"summary":"Start coverage test","description":"Starts a false ack test and returns the id of the test result. All transmission will be paused during the test and automatically resume afterwards.","operationId":"startCoverageTest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1StartCoverageTestRequest"}}},"required":true},"responses":{"202":{"description":"ACCEPTED","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1StartCoverageTestResponse"}}}}}}},"/api/public/infra/v1/tests/coverage/stop":{"post":{"tags":["Infra API: Infra tests"],"summary":"Stop coverage test","description":"Stops a running coverage test and returns the id of the test result in the location header.","operationId":"stopCoverageTest","responses":{"202":{"description":"ACCEPTED"},"404":{"description":"NOT_FOUND"}}}},"/api/public/infra/v1/link-departments":{"get":{"tags":["Infra API: LinkDepartments"],"summary":"List linkdepartments","operationId":"getLinkDepartments_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetLinkDepartmentRequest"}}}}}}},"post":{"tags":["Infra API: LinkDepartments"],"summary":"Create new link department","operationId":"createLinkDepartment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddLinkDepartmentRequest"}}},"required":true},"responses":{"201":{"description":"CREATED","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateLinkDepartmentResponse"}}}}}}},"/api/public/infra/v1/basestations":{"get":{"tags":["Infra API: Basestations"],"summary":"List basestations","description":"Lists basestations and any connected transceivers. Optionally filtered by basestation status and/or transceiver status","operationId":"getBasestations","parameters":[{"name":"bsStatusFilter","in":"query","description":"An optional comma separated list of basestation statuses to filter on","required":false,"schema":{"type":"string"},"example":"FAULTY"},{"name":"trxStatusFilter","in":"query","description":"An optional comma separated list of transceiver statuses to filter on","required":false,"schema":{"type":"string"},"example":"FAULTY"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiBasestation"}}}}}}},"post":{"tags":["Infra API: Basestations"],"summary":"Add new basestation","operationId":"addBaseStation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddBasestation"}}},"required":true},"responses":{"201":{"description":"CREATED"}}}},"/api/public/infra/v1/basestations/{name-or-hwid}/commands/reboot":{"post":{"tags":["Infra API: Basestations"],"summary":"Reboot a basestation","operationId":"rebootBasestation","parameters":[{"name":"name-or-hwid","in":"path","description":"Hardware id or name of basestation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/public/infra/v1/basestations/commands/stop-display-transceiver-ports":{"post":{"tags":["Infra API: Basestations"],"summary":"Stop displaying port numbers on transceivers.","description":"Stops displaying port numbers on transceivers. All transmission will be resumed after the stop.","operationId":"stopDisplayingTransceiverPorts","responses":{"202":{"description":"ACCEPTED","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/infra/v1/basestations/commands/start-display-transceiver-ports":{"post":{"tags":["Infra API: Basestations"],"summary":"Start displaying port numbers on transceivers.","description":"Starts displaying port numbers on transceivers. All transmission will be paused before the start and automatically resumed after the timeout.","operationId":"startDisplayingTransceiverPorts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1StartDisplayTrxPortsRequest"}}},"required":true},"responses":{"202":{"description":"ACCEPTED","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/infra/v1/basestations/commands/reject":{"post":{"tags":["Infra API: Basestations"],"summary":"Reject a TLS basestation","operationId":"rejectBaseStation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcceptBasestation"}}},"required":true},"responses":{"204":{"description":"No content"}}}},"/api/public/infra/v1/basestations/commands/accept":{"post":{"tags":["Infra API: Basestations"],"summary":"Accept a TLS basestation","operationId":"acceptBaseStation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcceptBasestation"}}},"required":true},"responses":{"204":{"description":"No content"}}}},"/api/public/file/v1/images":{"post":{"tags":["File API: Images"],"summary":"Upload images","operationId":"uploadImages","parameters":[{"name":"filePath","in":"query","description":"Path of the folder to upload images to. If no path is specified the files will be uploaded to the root directory.","required":false,"schema":{"type":"string","default":"/"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"images":{"type":"array","description":"Images to save.\nAllowed formats are: jpg, bmp, gif, png, jpeg.\nMaximum image size is: 20MiB.\nIf running in Plaza, image width and height must be less than or equal to the largest screen dimension of any supported ESL device in the system.\nCurl-parameter examples:\n -F \"images=@image1.png;type=image/png\" -F \"images=@image2.gif;type=image/gif\"","items":{"type":"string","format":"binary"}}},"required":["images"]}}}},"responses":{"201":{"description":"CREATED"}}}},"/api/public/file/v1/image":{"get":{"tags":["File API: Images"],"summary":"Get an image","operationId":"getImage","parameters":[{"name":"filePath","in":"query","description":"Path to the image to get","required":true,"schema":{"type":"string"},"example":"folder/image.jpg"}],"responses":{"400":{"description":"Bad request"},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicFileV1FolderPage"}}}}}},"post":{"tags":["File API: Images"],"summary":"Upload image","operationId":"uploadImage","parameters":[{"name":"filePath","in":"query","description":"Path of the new image. If no path is specified your file will be uploaded to the root directory.","required":false,"schema":{"type":"string","default":"/"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary","description":"Image to save.\nAllowed formats are: jpg, bmp, gif, png, jpeg.\nMaximum image size is: 20MiB\nIf running in Plaza, image width and height must be less than or equal to the largest screen dimension of any supported ESL device in the system."}},"required":["image"]}}}},"responses":{"201":{"description":"CREATED"}}},"delete":{"tags":["File API: Images"],"summary":"Delete an image","operationId":"deleteImage","parameters":[{"name":"filePath","in":"query","description":"Path of the image or folder of images to delete","required":true,"schema":{"type":"string"},"example":"folder/image.jpg"},{"name":"folder","in":"query","description":"Set to true to delete folder, false (default) to delete image.","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"200":{"description":"Ok"},"400":{"description":"Bad request"}}}},"/api/public/file/v1/fonts":{"get":{"tags":["File API: Fonts"],"summary":"Get all fonts","description":"Fetches all fonts metadata (without the actual fonts data)","operationId":"getFonts","responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicFileV1Font"}}}}}}},"post":{"tags":["File API: Fonts"],"summary":"Add a font","operationId":"addFont","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"font":{"type":"string","format":"binary","description":"Font file to be added"}},"required":["font"]}}}},"responses":{"201":{"description":"CREATED","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Font file already exists","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/core/v1/labels/{barcode}/flash":{"post":{"tags":["Core API: Label"],"summary":"Flash single label","description":"Flashes one label based on barcode","operationId":"flashLabel","parameters":[{"name":"barcode","in":"path","description":"The barcode of the label to flash","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashConfiguration"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelResponse"}}}},"400":{"description":"Invalid ESL type","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelResponse"}}}},"404":{"description":"Label not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelResponse"}}}}}}},"/api/public/core/v1/labels/{barcode}/flash-with-department":{"post":{"tags":["Core API: Label"],"summary":"Flash single label with department","description":"Flashes one label based on barcode","operationId":"flashLabelWithDepartment","parameters":[{"name":"barcode","in":"path","description":"The barcode of the label to flash","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashWithDepartmentConfiguration"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelResponse"}}}},"400":{"description":"Invalid ESL type","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelResponse"}}}},"404":{"description":"Label not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelResponse"}}}}}}},"/api/public/core/v1/labels/{barcode}/display-page":{"post":{"tags":["Core API: Label"],"summary":"Display page","description":"Show specific info page on specified label.","operationId":"displayPage","parameters":[{"name":"barcode","in":"path","description":"The barcode of the label","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1DisplayPageConfiguration"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Invalid ESL type"},"404":{"description":"Label not found"}}}},"/api/public/core/v1/labels/refresh/{modelName}":{"post":{"tags":["Core API: Label"],"summary":"Refresh labels based on model name","description":"All labels that match the model name will be refreshed.","operationId":"refreshLabels","parameters":[{"name":"modelName","in":"path","description":"The model name.","required":true,"schema":{"type":"string"},"example":"SmartTAG Power M"}],"responses":{"404":{"description":"Model does not exist.","content":{"*/*":{"schema":{"type":"string"}}}},"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/core/v1/labels/link-single":{"post":{"tags":["Core API: Label"],"summary":"Link a single label synchronously","description":"This operation is synchronous and thereby bypasses the backoffice system and its queues.","operationId":"linkSingle","parameters":[{"name":"timeout","in":"query","description":"The timeout in milliseconds for how long to wait for a synchronous response to the link request. If the operation is not completed before the timeout is reached, PENDING will be returned.","required":false,"schema":{"type":"integer","format":"int32","default":500},"example":500}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1SingleLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1LabelResult"}}}},"400":{"description":"Label barcode does not match barcode in link","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1LabelResult"}}}}}}},"/api/public/core/v1/items/{itemId}/page/{pageIndex}":{"post":{"tags":["Core API: Item"],"summary":"Update item image for a page","description":"Update the image on the page of an item.\n\n```\n# Example usage, note the @ before the file path\ncurl 'https://username:password@officeserver.pricer.com:3306/api/public/core/v1/items/13/page/0?resize=0' -F 'imageFile=@/path/to/image.png'\n```\nThis will upload the image to item 13 on page 0 without resizing, which in turn update all labels that are displaying the given item.","operationId":"updateItemImage","parameters":[{"name":"itemId","in":"path","description":"The id of the item of which to update the image.\n\nIf the item does not exist and `SystemParameters.ITEM_MUST_EXIST` is `true`, an error will be thrown.\nIf the item does not exist and `SystemParameters.ITEM_MUST_EXIST` is `false`, the item will be created.","required":true,"schema":{"type":"string"},"example":"000040"},{"name":"pageIndex","in":"path","description":"The index of the page of the item to update.\nValues are between 0 and 127 inclusive.\nIf there is no such page for the given image size, an error will be thrown.","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"resize","in":"query","description":"Whether or not to resize the image. Valid values are\n|   Value | Enum                  | Description                                                |\n| ------- | --------------------- | ---------------------------------------------------------- |\n|       0 | NO_RESIZE             | The image is not resized                                   |\n|       1 | MAINTAIN_ASPECT_RATIO | The image is resized if the aspect ratio can be maintained |\n|       2 | FORCED_FIT            | The image is resized regardless of earlier aspect ratio    |\n\nIf `NO_RESIZE` is selected, then at most one image will be updated.\nFor `MAINTAIN_ASPECT_RATIO` and `FORCED_FIT` all the existing image item properties for the given page will be updated.\nIf the value does not correspond to a valid option, an error will be thrown.","required":true,"schema":{"type":"integer","format":"int32"},"example":0}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"imageFile":{"type":"string","format":"binary","description":"The raw image data"}},"required":["imageFile"]}}}},"responses":{"200":{"description":"The request was accepted.\n\nAn object with a request id is returned, and you can use the request id to check on the status of the request.\nSee `/api/public/core/v1/items-result/{requestId}`.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}},"401":{"description":"Missing or invalid authentication","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}},"404":{"description":"Item does not exist, and ITEM_MUST_EXIST is set to true","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}},"400":{"description":"There was an error in the request. See message field in the response for details.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}},"500":{"description":"Unexpected internal server error. See message field in the response for details.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}}}}},"/api/public/core/v1/items/{itemId}/flash":{"post":{"tags":["Core API: Item"],"summary":"Flash single item","description":"Flash all labels, linked to a single item, that have the capability to flash. The response will contain individual flash status for each label. Note that an empty list of labels in the response means that no labels are linked to the specified item.","operationId":"flashItem","parameters":[{"name":"itemId","in":"path","description":"The id of the item to flash","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashConfiguration"}}},"required":true},"responses":{"404":{"description":"Item not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashItemResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashItemResponse"}}}},"400":{"description":"Duration cannot exceed 30 minutes","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashItemResponse"}}}}}}},"/api/public/core/v1/ir-keys/{barcode}/force-update":{"post":{"tags":["Core API: IR Keys"],"summary":"Force update an IR Key","operationId":"forceUpdate","parameters":[{"name":"barcode","in":"path","description":"The barcode of the IR Key","required":true,"schema":{"type":"string"},"example":"G4421230000012246"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}}},"/api/public/core/v1/flash/labels":{"post":{"tags":["Core API: Flash"],"summary":"Flash labels","description":"Flashes all labels in provided list","operationId":"flashLabels","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelsRequest"}}},"required":true},"responses":{"400":{"description":"Bad color format. Found neither hex nor rgb format","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashItemsResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashItemsResponse"}}}}}}},"/api/public/core/v1/flash/items":{"post":{"tags":["Core API: Flash"],"summary":"Flash items","description":"Flashes labels linked to items in provided list","operationId":"flashItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashItemsRequest"}}},"required":true},"responses":{"400":{"description":"Bad color format. Found neither hex nor rgb format","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashItemsResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashItemsResponse"}}}}}}},"/api/public/core/v1/display-page/labels":{"post":{"tags":["Core API: Display Page"],"summary":"Display page","description":"Show specific info page on each label.","operationId":"displayInfoPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1DisplayPageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1DisplayPageResultResponse"}}}},"400":{"description":"Not valid pricer label barcode, duration, action or priority","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1DisplayPageResultResponse"}}}},"500":{"description":"Unable to locate label","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1DisplayPageResultResponse"}}}},"404":{"description":"Label not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1DisplayPageResultResponse"}}}}}}},"/api/public/config/v1/webhook/configurations":{"get":{"tags":["Config API: Webhooks"],"summary":"List the existing webhook configurations","operationId":"listAllConfigurations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetOrPutWebhookConfiguration"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetOrPutWebhookConfiguration"}}}}}}},"post":{"tags":["Config API: Webhooks"],"summary":"Create a new webhook configuration","operationId":"createNew","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWebhookConfiguration"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/config/v1/jobs":{"get":{"tags":["Config API: Job"],"summary":"Get all jobs","description":"Fetches all configured jobs","operationId":"getJobs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicConfigV1Job"}}}}}}},"post":{"tags":["Config API: Job"],"summary":"Create a new job","operationId":"createJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1Job"}}},"required":true},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorInfo"}}}}}}},"/api/public/config/v1/jobs/refresh":{"post":{"tags":["Config API: Job"],"summary":"Create a new Refresh All Linked ESLs job","operationId":"createRefreshJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPostRequestApiPublicConfigV1JobRefreshAllLinkedEslsRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}}},"/api/public/config/v1/jobs/generate-report":{"post":{"tags":["Config API: Job"],"summary":"Create a new Generate Report job","operationId":"createGenerateJob_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPostRequestApiPublicConfigV1JobGenerateReportPostRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}}},"/api/public/config/v1/jobs/display-page-segment":{"post":{"tags":["Config API: Job"],"summary":"Create a new Display Page job for Segment labels","operationId":"createShowViewJob_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPostRequestApiPublicConfigV1JobDisplayPageSegmentPostRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}}},"/api/public/config/v1/jobs/display-page-graphical":{"post":{"tags":["Config API: Job"],"summary":"Create a new Display Page job for Graphical labels","operationId":"createShowViewSmartTagJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPostRequestApiPublicConfigV1JobDisplayPageGraphicalPostRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}}},"/api/public/config/v1/jobs/disable-transceivers":{"post":{"tags":["Config API: Job"],"summary":"Create a Disable Transceivers job","operationId":"createDisableTrxJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobPostRequestApiPublicConfigV1JobDisableTransceiversPostRequest"}}},"required":true},"responses":{"201":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicConfigV1JobResponse"}}}}}}},"/api/public/config/v1/job-execution/{jobId}":{"post":{"tags":["Config API: Job execution"],"summary":"Run a job immediately","operationId":"executeImmediately","parameters":[{"name":"jobId","in":"path","description":"The ID or External ID of the job to run","required":true,"schema":{"type":"string"},"example":2}],"responses":{"200":{"description":"OK"},"404":{"description":"Not found"},"500":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorInfo"}}}}}}},"/api/public/backup/v1/prc/config-export/configurations":{"get":{"tags":["Backup API"],"summary":"Get all config export configurations","operationId":"listPrcConfigurations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrcConfiguration"}}}}}}},"post":{"tags":["Backup API"],"summary":"Create a config export configuration","operationId":"createPrcConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrcConfiguration"}}},"required":true},"responses":{"201":{"description":"OK"}}}},"/api/public/core/v1/labels":{"get":{"tags":["Core API: Label"],"summary":"Get all labels","description":"Fetches all labels with links","operationId":"getLabels","parameters":[{"name":"projection","in":"query","description":"Level of detail in the projection of an label.<br/><ul>  <li>    S includes:    <ul>      <li>barcode</li>      <li>modelName</li>      <li>plLocation</li>      <li>links</li>    </ul>  </li>  <li>    M includes:    <ul>      <li>All of S</li>      <li>homeTrx</li>      <li>plState</li>      <li>batteryState</li>      <li>lowBatteryDate</li>    </ul>  </li>  <li>    L includes:    <ul>      <li>All of M</li>      <li>lastTrxList</li>      <li>hardwareRevision</li>      <li>lastDisplayUpdate</li>      <li>batteryStateChanged</li>      <li>batteryStateLastConfirmed</li>      <li>batteryStateFirstEnteredLow</li>      <li>firstLinked</li>      <li>lastLinked</li>      <li>lastUpdate</li>      <li>lastOkUpdate</li>      <li>positions</li>      <ul>        <li>manual</li>        <li>calculated</li>      </ul>      <li>roamStatus</li>      <ul>        <li>roamLevel</li>        <li>roamSweep</li>        <li>timeEnteredInRoaming</li>      </ul>    </ul>  </li></ul>","required":false,"schema":{"type":"string","enum":["S","M","L"]}},{"name":"filter[barcode]","in":"query","description":"Filter response based on a label barcode or list of barcodes. As example: A4631053950916186 or G4421230000216185,G4421230000616189,G4421230001116185","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filter[modelName]","in":"query","description":"Filter response based on modelName.","required":false,"schema":{"type":"string"}},{"name":"filter[plState]","in":"query","description":"Filter response based on state of the label.","required":false,"schema":{"type":"string","enum":["OK","WAITING_FOR_UPDATE","ROAMING","FAILED"]}},{"name":"filter[batteryState]","in":"query","description":"Filter response based on battery state of the label. ","required":false,"schema":{"type":"string","enum":["OK","LOW","UNKNOWN"]}},{"name":"filter[labelType]","in":"query","description":"Filter response based on a type or a list of types.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sortProperty","in":"query","description":"The property to sort the response on.","required":false,"schema":{"type":"string","enum":["barcode","modelId","plState","batteryState"]}},{"name":"sortDirection","in":"query","description":"The sort direction for the response based on sortProperty. Default is ASC","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"start","in":"query","description":"The offset to start at, 0-based. For example, specifying the start value 1000 with a limit of 500 will return 500 labels starting at position 1000.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"limit","in":"query","description":"The amount, i.e. how many labels will be returned.","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":500},{"name":"serializeDatesToIso8601","in":"query","description":"If dates should be serialized to ISO 8601 (eg 1997-07-16T19:20:30.45+01:00). Defaults to false for backwards compatibility.","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicCoreV1Label"}}}}}}},"patch":{"tags":["Core API: Label"],"summary":"Link labels","description":"Link labels to items as per defined in the provided listReturns an id to the asynchronous update request, which can be used to query the links-result endpoint.","operationId":"link","parameters":[{"name":"accessCodeRegistrationKey","in":"query","description":"This parameter is used to import labels from a previous system with ESL Security enabled. Without correct registration key the system cannot import already linked labels. This is useful when migrating On-Prem stores without having to unlink the entire store before migration.\n\nExample: `XXXXX-XXXXX-XXXXX-XXXXX-XXXXX`"}],"requestBody":{"description":"A list of labels with links","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicCoreV1Label"}}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1LabelResponse"}}}},"500":{"description":"Unable to save incoming request to disk","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1LabelResponse"}}}}}}},"/api/public/core/v1/items":{"get":{"tags":["Core API: Item"],"summary":"Get multiple items","description":"Fetches many items (paginated)","operationId":"getItems","parameters":[{"name":"projection","in":"query","description":"Level of detail in the projection of an item.<br/><ul>  <li>    S includes:    <ul>      <li>id</li>      <li>name</li>      <li>price</li>    </ul>  </li>  <li>    M includes:    <ul>      <li>All of S</li>      <li>itemGroup</li>      <li>department</li>      <li>presentation</li>      <li>lastUpdated</li>      <li>validFrom</li>      <li>sics</li>      <li>properties</li>    </ul>  </li>  <li>    L includes:    <ul>      <li>All of M</li>      <li>links</li>    </ul>  </li></ul>","required":false,"schema":{"type":"string","enum":["S","M","L"]}},{"name":"start","in":"query","description":"The offset to start at, 0-based. For example, specifying the start value 1000 with a limit of 500 will return 500 items starting at position 1000.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"limit","in":"query","description":"The amount, i.e. how many items will be returned. Currently restricted to 1000.","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":500}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicCoreV1Item"}}}}},"400":{"description":"Page size limit exceeded","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MappingJacksonValue"}}}}}},"delete":{"tags":["Core API: Item"],"summary":"Delete a list of items","description":"Deletes a list of items by itemId. <br/>Returns an id to the asynchronous delete request, which can be used to query the items-result endpoint.","operationId":"deleteItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1DeleteItemsRequest"}}},"required":true},"responses":{"202":{"description":"delete request accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}}}},"patch":{"tags":["Core API: Item"],"summary":"Update or add multiple items","description":"Updates the items in the system with the provided list of items<br/>Existing items will be updated. New items will be added.<br/>Only populated fields will be updated. null or empty fields will <i>not</i> clear the corresponding field of existing items.Returns an id to the asynchronous update request, which can be used to query the items-result endpoint.","operationId":"updateItems","requestBody":{"description":"A list of items to patch the existing list of items with.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiPublicCoreV1Item"}}}},"required":true},"responses":{"202":{"description":"Update request accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}},"400":{"description":"Id missing on one or more items","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}}}}},"/api/public/core/v1/items/{itemId}":{"get":{"tags":["Core API: Item"],"summary":"Get single item","description":"Fetches 1 item specified by itemId","operationId":"getItem","parameters":[{"name":"itemId","in":"path","description":"The id of the item to fetch","required":true,"schema":{"type":"string"}},{"name":"projection","in":"query","description":"Level of detail in the projection of an item.<br/><ul>  <li>    S includes:    <ul>      <li>id</li>      <li>name</li>      <li>price</li>    </ul>  </li>  <li>    M includes:    <ul>      <li>All of S</li>      <li>itemGroup</li>      <li>department</li>      <li>presentation</li>      <li>lastUpdated</li>      <li>validFrom</li>      <li>sics</li>      <li>properties</li>    </ul>  </li>  <li>    L includes:    <ul>      <li>All of M</li>      <li>links</li>    </ul>  </li></ul>","required":false,"schema":{"type":"string","enum":["S","M","L"]}}],"responses":{"404":{"description":"Item not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MappingJacksonValue"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1Item"}}}}}},"delete":{"tags":["Core API: Item"],"summary":"Delete single item","description":"Deletes by itemId. <br/>Returns an id to the asynchronous delete request, which can be used to query the items-result endpoint.","operationId":"deleteItem","parameters":[{"name":"itemId","in":"path","description":"The id of the item to delete","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"delete request accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}}}},"patch":{"tags":["Core API: Item"],"summary":"Update or add single item","description":"Updates or adds the item specified by itemId.<br/>Only populated fields will be updated. null or empty fields will <i>not</i> clear the corresponding field of the existing item.<br/>Returns an id to the asynchronous update request, which can be used to query the items-result endpoint.","operationId":"updateItem","parameters":[{"name":"itemId","in":"path","description":"The id of the item to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1Item"}}},"required":true},"responses":{"202":{"description":"Update request accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}},"400":{"description":"itemId Parameter mismatch","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResponse"}}}}}}},"/api/public/config/v1/system-parameters":{"get":{"tags":["Configuration API: System, UI and Global params"],"summary":"Get system parameters","operationId":"getSystemParameters","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SystemParameterConfiguration"}}}}},"400":{"description":"Bad request"},"404":{"description":"Not Found"}}},"patch":{"tags":["Configuration API: System, UI and Global params"],"summary":"Update or add multiple system parameters","description":"Updates a list of system parameters","operationId":"updateSystemParameters","requestBody":{"description":"A list of system parameters to patch the existing list of system parameters with.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SystemParameterConfiguration"}}}},"required":true},"responses":{"404":{"description":"System parameter not found"},"200":{"description":"Update request accepted"}}}},"/api/public/config/v1/ldap/{domain}":{"patch":{"tags":["Config API: LDAP"],"summary":"Update the LDAP configuration parameters for the given domain","description":"Please restart the Pricer Server after the update to use the new configuration","operationId":"update","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LdapConfiguration"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/public/config/v1/global-parameters":{"get":{"tags":["Configuration API: System, UI and Global params"],"summary":"Get global parameters","description":"Get all global parameters","operationId":"getGlobalParameters","responses":{"200":{"description":"Global parameters retrieved successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GlobalParameterConfiguration"}}}}}}},"delete":{"tags":["Configuration API: System, UI and Global params"],"summary":"Delete multiple global parameters","description":"Delete multiple global parameters","operationId":"deleteGlobalParameters","requestBody":{"description":"A list of global parameters to remove. If multiple, separate with comma X, Y.","content":{"text/plain":{"schema":{"type":"string"},"example":"parameterToDelete"}},"required":true},"responses":{"200":{"description":"Global parameters deleted successfully","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Global parameter not found"}}},"patch":{"tags":["Configuration API: System, UI and Global params"],"summary":"Update or add multiple global parameters","description":"Updates a list of global parameters","operationId":"updateGlobalParameters","requestBody":{"description":"A list of global parameters to patch the existing list of global parameters with.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GlobalParameter"}}}},"required":true},"responses":{"400":{"description":"Bad request"},"200":{"description":"Update request accepted"}}}},"/api/public/config/v1/general-settings":{"get":{"tags":["Configuration API: System, UI and Global params"],"summary":"Get general settings","description":"Get all general settings","operationId":"getGeneralSettings","parameters":[{"name":"includeWebInStoreSettings","in":"query","description":"Include settings that are specific to the WebInStore UI","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"400":{"description":"Bad request"},"404":{"description":"Not Found"},"200":{"description":"General settings fetched successfully","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GeneralSettingConfiguration"}}}}}}},"patch":{"tags":["Configuration API: System, UI and Global params"],"summary":"Set multiple general settings","description":"Replaces existing value or values for multiple general settings","operationId":"updateGeneralSettings","requestBody":{"description":"New value for general setting. <br> Type SINGLE = single value (e.g. true). <br> Type MULTIPLE = one or more values as a list (e.g. [\"value\", \"value2\"]). <br> Type MAP = an even number of values as key/value pairs (e.g. [\"key1\", \"value1\", \"key2\", \"value2\"])","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GeneralSettingConfiguration"}}}},"required":true},"responses":{"404":{"description":"General setting not found"},"200":{"description":"Update request accepted"}}}},"/api/public/reports/v2/auto-unlinked":{"get":{"tags":["Reports API: Auto-unlinked labels"],"summary":"Report of auto-unlinked labels","operationId":"reportAutoUnlinkedLabels","parameters":[{"name":"numberOfMonths","in":"query","description":"Get auto-unlinked labels from the specified number of months ago","required":false,"schema":{"type":"integer","format":"int32","default":4,"description":"Get auto-unlinked labels from the specified number of months ago"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AutoUnlinkedLabel"}}}}}}}},"/api/public/reports/v1/auto-unlinked":{"get":{"tags":["Reports API: Auto-unlinked labels"],"summary":"Report of auto-unlinked labels","operationId":"reportAutoUnlinkedLabels_1","parameters":[{"name":"numberOfMonths","in":"query","description":"Get auto-unlinked labels from the specified number of months ago","required":false,"schema":{"type":"integer","format":"int32","default":4,"description":"Get auto-unlinked labels from the specified number of months ago"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AutoUnlinkedLabel"}}}}}},"deprecated":true}},"/api/public/product-positioning/v1/calibration-labels":{"get":{"tags":["Product positioning API: Calibration"],"summary":"Get a list of labels used for product positioning calibration","operationId":"getAllCalibrationLabels","responses":{"401":{"description":"Unauthorized"},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalibrationLabel"}}}}}}}},"/api/public/map/v1/geo-store":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store","description":"An endpoint to retrieve the full geo store object.","operationId":"getStore","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeoStore"}}}}}}},"/api/public/map/v1/geo-store/floors":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors","description":"An endpoint to retrieve the floors of the geo store.","operationId":"getFloor","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GeoFloor"}}}}}}}},"/api/public/map/v1/geo-store/floors/{id}":{"get":{"tags":["Map API"],"summary":"/api/public/map/v1/geo-store/floors/{id}","description":"An endpoint to retrieve a specific floor of the geo store.Parameter 'id' represents the floor id, starting with 0.","operationId":"getFloorById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeoFloor"}}}}}}},"/api/public/infra/v1/tests/false-ack/{id}":{"get":{"tags":["Infra API: Infra tests"],"summary":"Get the details of a specific false ack test run","operationId":"getSpecificFalseAckTestRun","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiFalseAckTestRun"}}}}}}},"/api/public/infra/v1/tests/coverage/{id}":{"get":{"tags":["Infra API: Infra tests"],"summary":"Get the details of a specific coverage test run","operationId":"getSpecificCoverageTestRun","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiCoverageTestRun"}}}}}}},"/api/public/infra/v1/basestations/{name-or-hwid}/transceivers":{"get":{"tags":["Infra API: Basestations"],"summary":"Get all transceivers of basestation","operationId":"getTransceiversForBasestation","parameters":[{"name":"name-or-hwid","in":"path","description":"Hardware id or name of basestation","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransceiverInfo"}}}}},"404":{"description":"No basestation found","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransceiverInfo"}}}}}}}},"/api/public/file/v1/image-folder":{"get":{"tags":["File API: Images"],"summary":"Get multiple images from a folder","operationId":"getFolderPage","parameters":[{"name":"folderPath","in":"query","description":"Path of the folder to get contents of. If no path is specified the root folder will be used.","required":false,"schema":{"type":"string","default":""}},{"name":"pageIndex","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicFileV1FolderPage"}}}},"200":{"description":"Ok","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicFileV1FolderPage"}}}}}}},"/api/public/file/v1/fonts/{fileName}":{"get":{"tags":["File API: Fonts"],"summary":"Get font file","description":"Fetches the font file","operationId":"downloadFont","parameters":[{"name":"fileName","in":"path","description":"Filename of font","required":true,"schema":{"type":"string"},"example":"test.ttf"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"File name is invalid","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Font not found","content":{"*/*":{"schema":{"type":"string"}}}}}},"delete":{"tags":["File API: Fonts"],"description":"Delete a font","operationId":"deleteFont","parameters":[{"name":"fileName","in":"path","description":"Filename of font","required":true,"schema":{"type":"string"},"example":"test.ttf"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"File name is invalid","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Font not found","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/public/core/v1/scheduled-item-updates":{"get":{"tags":["Core API: Scheduled item updates"],"summary":"Get scheduled updates for multiple items","description":"Fetches scheduled updates for many items (paginated)","operationId":"getScheduledUpdates","parameters":[{"name":"start","in":"query","description":"The offset to start at, 0-based. For example, specifying the start value 1000 with a limit of 500 will return 500 items starting at position 1000.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"limit","in":"query","description":"The amount, i.e. how many items scheduled updates will be returned for. Currently restricted to 1000.","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":500}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiScheduledItemUpdateList"}}}},"400":{"description":"Page size limit exceeded","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiScheduledItemUpdateList"}}}}}}},"delete":{"tags":["Core API: Scheduled item updates"],"summary":"Deletes scheduled item updates","description":"Deletes all scheduled item updates that matches the given timestamp and optional itemId. If no itemId is given, all scheduled updates at the timestamp will be deleted. The timestamp must be at least 5 minutes in the future. No preloaded ESLs is allowed to exist","operationId":"deleteScheduledUpdates","parameters":[{"name":"filter[updateTimestamp]","in":"query","description":"The timestamp for the scheduled updates to delete in the format yyyy-MM-dd HH:mm:ss. Must be at least 5 minutes in the future.","required":true,"schema":{"type":"string"},"example":"2021-01-01 00:00:00"},{"name":"filter[itemId]","in":"query","description":"The itemId for the scheduled updates to delete. If not given, matches all item ids at the timestamp.","required":false,"schema":{"type":"string"},"example":1}],"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiDeleteScheduledItemUpdateResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDeleteScheduledItemUpdateResponse"}}}}}}},"/api/public/core/v1/scheduled-item-updates/{itemId}":{"get":{"tags":["Core API: Scheduled item updates"],"summary":"Get scheduled item updates for single item","description":"Fetches all scheduled updates for 1 item specified by itemId","operationId":"getScheduledUpdatesForSingleItem","parameters":[{"name":"itemId","in":"path","description":"The id of the item to fetch scheduled updates for","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Item not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiScheduledItemUpdateList"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1Item"}}}}}}},"/api/public/core/v1/request-status/{requestId}":{"get":{"tags":["Core API: Request processing status"],"summary":"Get current processing status","description":"Fetches the current processing status of the request specified by the requestId","operationId":"getUpdateStatus","parameters":[{"name":"requestId","in":"path","description":"The ID of the request to fetch the processing status of","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"requestId must be an integer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiV1UpdateStatus"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResultResponse"}}}}}}},"/api/public/core/v1/labels/{barcode}":{"get":{"tags":["Core API: Label"],"summary":"Get a label with specified barcode","description":"Fetches the label with links","operationId":"getLabel","parameters":[{"name":"barcode","in":"path","required":true,"schema":{"type":"string"}},{"name":"projection","in":"query","description":"Level of detail in the projection of an label.<br/><ul>  <li>    S includes:    <ul>      <li>barcode</li>      <li>modelName</li>      <li>plLocation</li>      <li>links</li>    </ul>  </li>  <li>    M includes:    <ul>      <li>All of S</li>      <li>homeTrx</li>      <li>plState</li>      <li>batteryState</li>      <li>lowBatteryDate</li>    </ul>  </li>  <li>    L includes:    <ul>      <li>All of M</li>      <li>lastTrxList</li>      <li>hardwareRevision</li>      <li>lastDisplayUpdate</li>      <li>batteryStateChanged</li>      <li>batteryStateLastConfirmed</li>      <li>batteryStateFirstEnteredLow</li>      <li>firstLinked</li>      <li>lastLinked</li>      <li>lastUpdate</li>      <li>lastOkUpdate</li>      <li>positions</li>      <ul>        <li>manual</li>        <li>calculated</li>      </ul>      <li>roamStatus</li>      <ul>        <li>roamLevel</li>        <li>roamSweep</li>        <li>timeEnteredInRoaming</li>      </ul>    </ul>  </li></ul>","required":false,"schema":{"type":"string","enum":["S","M","L"]}},{"name":"serializeDatesToIso8601","in":"query","description":"If dates should be serialized to ISO 8601 (eg 1997-07-16T19:20:30.45+01:00). Defaults to false for backwards compatibility.","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1Label"}}}}}}},"/api/public/core/v1/labels/models":{"get":{"tags":["Core API: Label"],"summary":"Get all models available and their compatible label types","operationId":"getAllModels","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLabelModelResponse"}}}}}}},"/api/public/core/v1/labels/models/{barcodeOrLabelType}":{"get":{"tags":["Core API: Label"],"summary":"Get all models available for specified barcode or label type","operationId":"getModelsByType","parameters":[{"name":"barcodeOrLabelType","in":"path","description":"Barcode of the label or the label type. As example: '1318' or 'N4241010922213188'","required":true,"schema":{"type":"string"},"example":1318}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLabelModelResponse"}}}}}}},"/api/public/core/v1/labels/metrics":{"get":{"tags":["Core API: Label"],"summary":"Get metrics for labels","description":"Returns metrics for each linked label type, including the total count and the number of queued for update, in roaming, and with low battery.\nThe returned metrics are cached and refreshed every minute.\n","operationId":"getLabelMetrics","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LabelMetrics"}}}}}}}},"/api/public/core/v1/labels-result/{requestId}":{"get":{"tags":["Core API: Label result"],"summary":"Get link results","description":"Fetches the result of a link request specified by requestId","operationId":"getLabelResults","parameters":[{"name":"requestId","in":"path","description":"The id of the link request to fetch results for","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"A link request with that id can not be found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}},"400":{"description":"requestId must be an integer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1LabelResultResponse"}}}}}}},"/api/public/core/v1/items-result/{requestId}":{"get":{"tags":["Core API: Item result"],"summary":"Get item update results","description":"Fetches the result of an update request specified by requestId","operationId":"getResults","parameters":[{"name":"requestId","in":"path","description":"The id of the item update request to fetch results for","required":true,"schema":{"type":"string"}},{"name":"excludeItemResults","in":"query","description":"Optional parameter for excluding results for individual items","required":false,"schema":{"type":"boolean","default":false}},{"name":"excludeItemErrorCount","in":"query","description":"Optional parameter for excluding error count of items, excluded by default","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"400":{"description":"requestId must be an integer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateResultResponse"}}}}}}},"/api/public/core/v1/items-delete-result/{requestId}":{"get":{"tags":["Core API: Item delete result"],"summary":"Get item delete results","description":"Fetches the result of an delete request specified by requestId","operationId":"getResults_1","parameters":[{"name":"requestId","in":"path","description":"The id of the item delete request to fetch results for","required":true,"schema":{"type":"string"}},{"name":"excludeItemResults","in":"query","description":"Optional parameter for excluding results for individual items","required":false,"schema":{"type":"boolean","default":false}},{"name":"excludeItemErrorCount","in":"query","description":"Optional parameter for excluding error count of items, excluded by default","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemDeleteResultResponse"}}}},"400":{"description":"requestId must be an integer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}}},"/api/public/core/v1/item-metrics/updates":{"get":{"tags":["Core API: Item metrics"],"summary":"Get metrics for item updates","description":"Returns metrics for item updates, including the total count of items and the number of updated items in different time intervals.\nThe returned metrics are cached and refreshed hourly.\n","operationId":"getItemUpdateMetrics","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1ItemUpdateMetrics"}}}}}}},"/api/public/core/v1/ir-keys":{"get":{"tags":["Core API: IR Keys"],"summary":"Get a list of all IR Keys","operationId":"getAllIRKeys","responses":{"401":{"description":"Unauthorized"},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IRKey"}}}}}}}},"/api/public/core/v1/ir-key-config-status":{"get":{"tags":["Core API: IR Key Config Status"],"summary":"Get the current status of the IR Key configuration. Responds with http status 200 if configuration exists or 404 if no configuration exists","operationId":"hasIRKeyConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IRKeyConfigStatus"}}}},"404":{"description":"Unauthorized"}}}},"/api/public/core/v1/flash-result/labels/{requestId}":{"get":{"tags":["Core API: Flash result"],"summary":"Get flash results","description":"Fetches the result of a flash labels request specified by requestId","operationId":"getFlashLabelsResults","parameters":[{"name":"requestId","in":"path","description":"The id of the flash labels request to fetch results for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelsResultResponse"}}}},"400":{"description":"requestId must be an integer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelsResultResponse"}}}},"404":{"description":"A flash request with that id can not be found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPublicCoreV1FlashLabelsResultResponse"}}}}}}},"/api/public/core/v1/flash-result/items/{requestId}":{"get":{"tags":["Core API: Flash result"],"summary":"Get flash results","description":"Fetches the result of a flash items request specified by requestId","operationId":"getFlashItemsResults","parameters":[{"name":"requestId","in":"path","description":"The id of the flash items request to fetch results for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"
[...]
